

<div class="form-group row " >

    <label class="col-sm-2" >{{label}}</label>
    <div class="col-sm-4">
        <div class="form-check " >
            <label class="form-check-label" [attr.title]="label" >
                <input class="form-check-input " type="checkbox" value="newsletter" [checked]="value" (click)="switch()"> Check me out
            </label>
        </div>
    </div>

    <div  class="col-sm-1 switch" [ngClass]="{ 'checked': value }" (click)="switch()">
        <input type="checkbox" class="switch-input" [value]="value" [attr.checked]="value" >
        <span class="switch-label" data-on="On" data-off="Off"></span>
        <span class="switch-handle"></span>
    </div>

</div>
