

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">核算月{{currentUnit?.hsMonth }}统计信息
                        <button type="button" class="btn btn-outline-secondary btn-sm float-right" (click)="backTo()" >返回列表</button>
                    </h5>


                    <div class="row mt-4">
                        <div class="col-2">
                            <p class="card-text" title="汇总：付款用途 = “运费”的付款金额">付款运费合计: {{ currentUnit?.id }}</p>
                        </div>
                        <div class="col-2">
                            <p class="card-text" title="汇总：付款用途 = “贸易差价”的付款金额 ">付款贸易差价合计: {{ currentUnit?.id }}</p>
                        </div>
                        <div class="col-2">
                            <p class="card-text" title="汇总：付款金额">付款金额合计: {{ currentUnit?.id }}</p>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-2">
                            <p class="card-text" title="汇总：借款金额">借款金额合计: {{ currentUnit?.id }}</p>
                        </div>
                        <div class="col-2">
                            <p class="card-text" title="汇总：对应还款ID = null 的借款预估成本">未还借款预估成本合计: {{ currentUnit?.id }}</p>
                        </div>
                        <div class="col-2">
                            <!--<p class="card-text" title="汇总：付款金额">付款金额合计: {{ currentUnit?.id }}</p>-->
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-2">
                            <p class="card-text" title="汇总：还款本金">还款本金合计: {{ currentUnit?.id }}</p>
                        </div>
                        <div class="col-2">
                            <p class="card-text" title="汇总：还款利息">还款利息合计: {{ currentUnit?.id }}</p>
                        </div>
                        <div class="col-2">
                            <p class="card-text" title="汇总：还款状态= “未还款”的还款本金">登记未还本金金额合计: {{ currentUnit?.id }}</p>
                        </div>
                        <div class="col-2">
                            <p class="card-text" title="汇总：还款状态= “未还款”的还款利息">登记未还利息金额合计: {{ currentUnit?.id }}</p>
                        </div>
                        <div class="col-2">
                            <p class="card-text" title="汇总：还款服务费">还款服务费合计: {{ currentUnit?.id }}</p>
                        </div>
                        <div class="col-2">
                            <p class="card-text" title="【1006】未还款预估成本 +【1008】还款利息合计 + 【1011】还款服务费合计">外部资金使用成本: {{ currentUnit?.id }}</p>
                        </div>
                    </div>


                    <div class="row mt-4">
                        <div class="col-2">
                            <p class="card-text" title="汇总：回款金额">备查账 - 已回款金额合计: {{ currentUnit?.id }}</p>
                        </div>
                        <div class="col-2">
                            <p class="card-text" title="【1003】付款金额合计 - 【1001】付运费金额 - 【1002】付贸易差价金额">付货款金额合计: {{ currentUnit?.id }}</p>
                        </div>
                        <div class="col-2">
                            <p class="card-text" title="F（【1014】付货款金额 > 【1013】已回款金额？（【1014】付货款金额 - 【1013】已回款金额）：0）">占压表 未回款金额合计: {{ currentUnit?.id }}</p>
                        </div>
                        <div class="col-2">
                            <p class="card-text" title="【1015】未回款金额 * 【核算月配置】合同基准利率 * 【核算月配置】预计回款天数 ／ 360">未回款金额预估收益: {{ currentUnit?.id }}</p>
                        </div>

                        <div class="col-2">
                            <p class="card-text" title="汇总：还款服务费">还款服务费合计: {{ currentUnit?.id }}</p>
                        </div>
                        <div class="col-2">
                            <p class="card-text" title="【1006】未还款预估成本 +【1008】还款利息合计 + 【1011】还款服务费合计">外部资金使用成本: {{ currentUnit?.id }}</p>
                        </div>
                    </div>


                </div>
            </div>

