<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimei.hs.cang.mapper.CangHuankuanMapper">
  <resultMap id="BaseResultMap" type="com.yimei.hs.cang.entity.CangHuankuan">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="orderId" jdbcType="BIGINT" property="orderId" />
    <result column="hsId" jdbcType="BIGINT" property="hsId" />
    <result column="skCompanyId" jdbcType="BIGINT" property="skCompanyId" />
    <result column="huankuankDate" jdbcType="TIMESTAMP" property="huankuankDate" />
    <result column="huankuanAmount" jdbcType="DECIMAL" property="huankuanAmount" />
    <result column="tsc" jdbcType="TIMESTAMP" property="tsc" />
  </resultMap>
  <sql id="Base_Column_List">
    id, orderId, hsId, skCompanyId, huankuankDate, huankuanAmount, tsc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hs_cang_huankuan
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from hs_cang_huankuan
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yimei.hs.cang.entity.CangHuankuan">
    insert into hs_cang_huankuan (id, orderId, hsId, 
      skCompanyId, huankuankDate, huankuanAmount, 
      tsc)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{hsId,jdbcType=BIGINT}, 
      #{skCompanyId,jdbcType=BIGINT}, #{huankuankDate,jdbcType=TIMESTAMP}, #{huankuanAmount,jdbcType=DECIMAL}, 
      #{tsc,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yimei.hs.cang.entity.CangHuankuan">
    insert into hs_cang_huankuan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        orderId,
      </if>
      <if test="hsId != null">
        hsId,
      </if>
      <if test="skCompanyId != null">
        skCompanyId,
      </if>
      <if test="huankuankDate != null">
        huankuankDate,
      </if>
      <if test="huankuanAmount != null">
        huankuanAmount,
      </if>
      <if test="tsc != null">
        tsc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="hsId != null">
        #{hsId,jdbcType=BIGINT},
      </if>
      <if test="skCompanyId != null">
        #{skCompanyId,jdbcType=BIGINT},
      </if>
      <if test="huankuankDate != null">
        #{huankuankDate,jdbcType=TIMESTAMP},
      </if>
      <if test="huankuanAmount != null">
        #{huankuanAmount,jdbcType=DECIMAL},
      </if>
      <if test="tsc != null">
        #{tsc,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yimei.hs.cang.entity.CangHuankuan">
    update hs_cang_huankuan
    <set>
      <if test="orderId != null">
        orderId = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="hsId != null">
        hsId = #{hsId,jdbcType=BIGINT},
      </if>
      <if test="skCompanyId != null">
        skCompanyId = #{skCompanyId,jdbcType=BIGINT},
      </if>
      <if test="huankuankDate != null">
        huankuankDate = #{huankuankDate,jdbcType=TIMESTAMP},
      </if>
      <if test="huankuanAmount != null">
        huankuanAmount = #{huankuanAmount,jdbcType=DECIMAL},
      </if>
      <if test="tsc != null">
        tsc = #{tsc,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yimei.hs.cang.entity.CangHuankuan">
    update hs_cang_huankuan
    set orderId = #{orderId,jdbcType=BIGINT},
      hsId = #{hsId,jdbcType=BIGINT},
      skCompanyId = #{skCompanyId,jdbcType=BIGINT},
      huankuankDate = #{huankuankDate,jdbcType=TIMESTAMP},
      huankuanAmount = #{huankuanAmount,jdbcType=DECIMAL},
      tsc = #{tsc,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>