<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimei.hs.cang.mapper.CangAnalysisDataMapper">
  <resultMap id="BaseResultMap" type="com.yimei.hs.cang.dto.CangAnalysisData">
    <result column="hsId" jdbcType="BIGINT" property="hsId" />
    <result column="orderId" jdbcType="BIGINT" property="orderId" />
    <result column="totalPayTrafficFee" jdbcType="DECIMAL" property="totalPayTrafficFee" />
    <result column="totalTradeGapFee" jdbcType="DECIMAL" property="totalTradeGapFee" />
    <result column="totalPaymentAmount" jdbcType="DECIMAL" property="totalPaymentAmount" />
    <result column="totalLoadMoney" jdbcType="DECIMAL" property="totalLoadMoney" />
    <result column="totalUnrepaymentEstimateCost" jdbcType="DECIMAL" property="totalUnrepaymentEstimateCost" />
    <result column="totalRepaymentPrincipeAmount" jdbcType="DECIMAL" property="totalRepaymentPrincipeAmount" />
    <result column="totalRepaymentFee" jdbcType="DECIMAL" property="totalRepaymentFee" />
    <result column="totalRepaymentInterest" jdbcType="DECIMAL" property="totalRepaymentInterest" />
    <result column="totalUnpayFee" jdbcType="DECIMAL" property="totalUnpayFee" />
    <result column="totalUnpayInterest" jdbcType="DECIMAL" property="totalUnpayInterest" />
    <result column="outCapitalAmout" jdbcType="DECIMAL" property="outCapitalAmout" />
    <result column="totalHuikuanPaymentMoney" jdbcType="DECIMAL" property="totalHuikuanPaymentMoney" />
    <result column="payCargoAmount" jdbcType="DECIMAL" property="payCargoAmount" />
    <result column="unpaymentMoney" jdbcType="DECIMAL" property="unpaymentMoney" />
    <result column="unpaymentEstimateProfile" jdbcType="DECIMAL" property="unpaymentEstimateProfile" />
    <result column="interestDays" jdbcType="DECIMAL" property="interestDays" />
    <result column="actualUtilizationRate" jdbcType="DECIMAL" property="actualUtilizationRate" />
    <result column="rate" jdbcType="DECIMAL" property="rate" />
    <result column="totalPaymentedRateMoney" jdbcType="DECIMAL" property="totalPaymentedRateMoney" />
    <result column="contractRateProfile" jdbcType="DECIMAL" property="contractRateProfile" />
    <result column="tiexianRate" jdbcType="DECIMAL" property="tiexianRate" />
    <result column="tiexianRateAmount" jdbcType="DECIMAL" property="tiexianRateAmount" />
    <result column="totalBuyerMoney" jdbcType="DECIMAL" property="totalBuyerMoney" />
    <result column="totalBuyerNums" jdbcType="DECIMAL" property="totalBuyerNums" />
    <result column="totalBuyersettleGap" jdbcType="DECIMAL" property="totalBuyersettleGap" />
    <result column="dsddFee" jdbcType="DECIMAL" property="dsddFee" />
    <result column="hshyFee" jdbcType="DECIMAL" property="hshyFee" />
    <result column="hsqyFee" jdbcType="DECIMAL" property="hsqyFee" />
    <result column="hssyFee" jdbcType="DECIMAL" property="hssyFee" />
    <result column="businessFee" jdbcType="DECIMAL" property="businessFee" />
    <result column="superviseFee" jdbcType="DECIMAL" property="superviseFee" />
    <result column="serviceFee" jdbcType="DECIMAL" property="serviceFee" />
    <result column="salesFeeAmount" jdbcType="DECIMAL" property="salesFeeAmount" />
    <result column="totalCCSInTypeMoney" jdbcType="DECIMAL" property="totalCCSInTypeMoney" />
    <result column="totalCSSInTypeNumber" jdbcType="DECIMAL" property="totalCSSInTypeNumber" />
    <result column="invoicedMoneyNum" jdbcType="DECIMAL" property="invoicedMoneyNum" />
    <result column="invoicedMoneyAmount" jdbcType="DECIMAL" property="invoicedMoneyAmount" />
    <result column="finalSettleAmount" jdbcType="DECIMAL" property="finalSettleAmount" />
    <result column="saleCargoAmountofMoney" jdbcType="DECIMAL" property="saleCargoAmountofMoney" />
    <result column="tradingCompanyAddMoney" jdbcType="DECIMAL" property="tradingCompanyAddMoney" />
    <result column="unsettlerBuyerMoneyAmount" jdbcType="DECIMAL" property="unsettlerBuyerMoneyAmount" />
    <result column="unsettlerBuyerNumber" jdbcType="DECIMAL" property="unsettlerBuyerNumber" />
    <result column="ccsProfile" jdbcType="DECIMAL" property="ccsProfile" />
    <result column="purchaseCargoAmountOfMoney" jdbcType="DECIMAL" property="purchaseCargoAmountOfMoney" />
    <result column="externalCapitalPaymentAmount" jdbcType="DECIMAL" property="externalCapitalPaymentAmount" />
    <result column="ownerCapitalPaymentAmount" jdbcType="DECIMAL" property="ownerCapitalPaymentAmount" />
    <result column="upstreamCapitalPressure" jdbcType="DECIMAL" property="upstreamCapitalPressure" />
    <result column="downstreamCapitalPressure" jdbcType="DECIMAL" property="downstreamCapitalPressure" />
    <result column="cssUninTypeNum" jdbcType="DECIMAL" property="cssUninTypeNum" />
    <result column="cssUninTypeMoney" jdbcType="DECIMAL" property="cssUninTypeMoney" />
    <result column="unInvoicedAmountofMoney" jdbcType="DECIMAL" property="unInvoicedAmountofMoney" />
    <result column="cangPrePayment" jdbcType="DECIMAL" property="cangPrePayment" />
    <result column="settleGrossProfileNum" jdbcType="DECIMAL" property="settleGrossProfileNum" />
    <result column="purchaseIncludeTaxTotalAmount" jdbcType="DECIMAL" property="purchaseIncludeTaxTotalAmount" />
    <result column="saleIncludeTaxTotalAmount" jdbcType="DECIMAL" property="saleIncludeTaxTotalAmount" />
    <result column="TradeCompanyAddMoney" jdbcType="DECIMAL" property="tradeCompanyAddMoney" />
    <result column="withoutTaxIncome" jdbcType="DECIMAL" property="withoutTaxIncome" />
    <result column="withoutTaxCost" jdbcType="DECIMAL" property="withoutTaxCost" />
    <result column="cangAdditionalTax" jdbcType="DECIMAL" property="additionalTax" />
    <result column="vat" jdbcType="DECIMAL" property="vat" />
    <result column="stampDuty" jdbcType="DECIMAL" property="stampDuty" />
    <result column="opreationCrossProfile" jdbcType="DECIMAL" property="opreationCrossProfile" />
    <result column="crossProfileATon" jdbcType="DECIMAL" property="crossProfileATon" />
    <result column="totalInstorageNum" jdbcType="DECIMAL" property="totalInstorageNum" />
    <result column="totalInstorageAmount" jdbcType="DECIMAL" property="totalInstorageAmount" />
    <result column="InstorageUnitPrice" jdbcType="DECIMAL" property="instorageUnitPrice" />
    <result column="totalStockNum" jdbcType="DECIMAL" property="totalStockNum" />
    <result column="totalOutstorageNum" jdbcType="DECIMAL" property="totalOutstorageNum" />
    <result column="totalStockMoney" jdbcType="DECIMAL" property="totalStockMoney" />
    <result column="totalStockMoney" jdbcType="DECIMAL" property="ownerCapitalPressure" />
    <result column="totalStockMoney" jdbcType="DECIMAL" property="totalOutstorageMoney" />

  </resultMap>
  
  <select id="findOne" resultType="com.yimei.hs.cang.dto.CangAnalysisData">
      SELECT
      hsId,
      orderId,
      totalPayTrafficFee,
      totalTradeGapFee,
      totalpaymentAmount,
      totalLoadMoney,
      totalUnrepaymentEstimateCost,
      totalRepaymentPrincipeAmount,
      totalUnpayFee,
      totalUnpayInterest,
      totalUnpayPrincipal,
      outCapitalAmout,
      totalHuikuanPaymentMoney,
      payCargoAmount,
      unpaymentMoney,
      unpaymentEstimateProfile,
      interestDays,
      actualUtilizationRate,
      rate,
      totalPaymentedRateMoney,
      contractRateProfile,
      tiexianRate,
      tiexianRateAmount,
      totalBuyerMoney,
      totalBuyerNums,
      totalBuyersettleGap,
      dsddFee,
      hshyFee,
      hssyFee,
      hsqyFee,
      businessFee,
      superviseFee,
      serviceFee,
      salesFeeAmount,
      totalCCSInTypeMoney,
      totalCSSInTypeNumber,
      tradingCompanyInTypeNum,
      tradingCompanyInTpeMoneyAmount,
      invoicedMoneyNum,
      invoicedMoneyAmount,
      finalSettleAmount,
      saleCargoAmountofMoney,
      tradingCompanyAddMoney,
      unsettlerBuyerMoneyAmount,
      unsettlerBuyerNumber,
      ccsProfile,
      purchaseCargoAmountOfMoney,
      externalCapitalPaymentAmount,
      ownerCapitalPaymentAmount,
      upstreamCapitalPressure,
      downstreamCapitalPressure,
      cssUninTypeNum,
      cssUninTypeMoney,
      unInvoicedAmountofMoney,
      totalRepaymentInterest,
      totalServiceCharge,
      cangPrePayment,
      settleGrossProfileNum,
      purchaseIncludeTaxTotalAmount,
      saleIncludeTaxTotalAmount,
      tradeCompanyAddMoney,
      withoutTaxIncome,
      withoutTaxCost,
      vat,
      additionalTax,
      stampDuty,
      opreationCrossProfile,
      crossProfileATon,
      totalInstorageNum,
      totalInstorageAmount,
      InstorageUnitPrice,
      totalStockNum,
      totalOutstorageNum,
      totalStockMoney,
      totalOutstorageMoney,
      ownerCapitalPressure
      FROM hs_cangDatabaseAnalysis
     WHERE hsId= #{hsId,jdbcType=BIGINT} and orderId=#{orderId,jdbcType=BIGINT }
  </select>
    <select id="findList" resultType="com.yimei.hs.cang.dto.CangAnalysisData">
              SELECT
      hsId,
      orderId,
      totalPayTrafficFee,
      totalTradeGapFee,
      totalpaymentAmount,
      totalLoadMoney,
      totalUnrepaymentEstimateCost,
      totalRepaymentPrincipeAmount,
      totalUnpayFee,
      totalUnpayInterest,
      totalUnpayPrincipal,
      outCapitalAmout,
      totalHuikuanPaymentMoney,
      payCargoAmount,
      unpaymentMoney,
      unpaymentEstimateProfile,
      interestDays,
      actualUtilizationRate,
      rate,
      totalPaymentedRateMoney,
      contractRateProfile,
      tiexianRate,
      tiexianRateAmount,
      totalBuyerMoney,
      totalBuyerNums,
      totalBuyersettleGap,
      dsddFee,
      hshyFee,
      hssyFee,
      hsqyFee,
      businessFee,
      superviseFee,
      serviceFee,
      salesFeeAmount,
      totalCCSInTypeMoney,
      totalCSSInTypeNumber,
      tradingCompanyInTypeNum,
      tradingCompanyInTpeMoneyAmount,
      invoicedMoneyNum,
      invoicedMoneyAmount,
      finalSettleAmount,
      saleCargoAmountofMoney,
      tradingCompanyAddMoney,
      unsettlerBuyerMoneyAmount,
      unsettlerBuyerNumber,
      ccsProfile,
      purchaseCargoAmountOfMoney,
      externalCapitalPaymentAmount,
      ownerCapitalPaymentAmount,
      upstreamCapitalPressure,
      downstreamCapitalPressure,
      cssUninTypeNum,
      cssUninTypeMoney,
      unInvoicedAmountofMoney,
      totalRepaymentInterest,
      totalServiceCharge,
      cangPrePayment,
      settleGrossProfileNum,
      purchaseIncludeTaxTotalAmount,
      saleIncludeTaxTotalAmount,
      tradeCompanyAddMoney,
      withoutTaxIncome,
      withoutTaxCost,
      vat,
      additionalTax,
      stampDuty,
      opreationCrossProfile,
      crossProfileATon,
      totalInstorageNum,
      totalInstorageAmount,
      InstorageUnitPrice,
      totalStockNum,
      totalOutstorageNum,
      totalStockMoney,
      totalOutstorageMoney,
      ownerCapitalPressure
      FROM hs_cangDatabaseAnalysis
     WHERE orderId=#{orderId,jdbcType=BIGINT }
    </select>
</mapper>