
        <form [formGroup]="invoiceForm" (ngSubmit)="invoiceFormSubmit()" (keydown.enter)="$event.preventDefault()" *ngIf="isShowForm">

            <bs-select formControlName="hsId" [fc]="invoiceForm.get('hsId')" [label]="'核算月:'" [dirty]="ignoreDirty"  [options]="unitList" [error]="invoiceFormError.hsId"></bs-select>
            <bs-select formControlName="invoiceDirection" [fc]="invoiceForm.get('invoiceDirection')" [label]="'进项或销项:'" [dirty]="ignoreDirty"  [options]="invoiceDirectionList" [error]="invoiceFormError.invoiceDirection"></bs-select>
            <bs-select formControlName="invoiceType" [fc]="invoiceForm.get('invoiceType')" [label]="'发票类型:'" [dirty]="ignoreDirty"  [options]="invoiceTypeList" [error]="invoiceFormError.invoiceType"></bs-select>
            <bs-datepicker formControlName="openDate" [fc]="invoiceForm.get('openDate')" [label]="'开票日期:'" [format]="'yyyy-mm-dd hh:MM:ss'" [dirty]="ignoreDirty"  [error]="invoiceFormError.openDate" ></bs-datepicker>

            <bs-select formControlName ="openCompanyId" [fc]="invoiceForm.get('openCompanyId')" [label]="'开票单位:'" [dirty]="ignoreDirty" [editable]="true" [options]="party.normal" [error]="invoiceFormError.openCompanyId" (outputChange)="getBillingCompany($event)"></bs-select>
            <bs-select formControlName ="receiverId" [fc]="invoiceForm.get('receiverId')" [label]="'收票单位:'" [dirty]="ignoreDirty" [options]="party.orderIncluded" [error]="invoiceFormError.receiverId"  (outputChange)="getBillToCompany($event)"></bs-select>


            <div class="form-group row" >
                <label class="col-2 col-form-label" >发票明细:</label>

                <div class="col-8">

                    <form [formGroup]="invoiceDetailForm"  (keydown.enter)="$event.preventDefault()">

                        <div class="form-row ">
                            <div class="col-8" >

                                <ul class="list-group" >
                                    <li class="list-group-item mb-2" *ngFor=" let detailInvoice of invoiceDetailList">
                                        票号:{{detailInvoice.invoiceNumber }} | 货物数量:{{detailInvoice.cargoAmount}} | 税率:{{detailInvoice.taxRate | percent:'1.0-2'}} | 价税合计:{{detailInvoice.priceAndTax }} |
                                        <button type="button" class="ml-4 btn btn-outline-danger btn-sm" (click)="delInvoiceDetail(detailInvoice)"> x </button>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="form-row ">
                            <div class="col-4">
                                <bs-text-input formControlName="invoiceNumber" [fc]="invoiceDetailForm.get('invoiceNumber')" [type]="'text'" [label]="'发票号:'" [labelclass]="'col-4'" [inputclass]="'col-8'" [dirty]="ignoreDirty" [error]="invoiceDetailFormError.invoiceNumber"></bs-text-input>
                            </div>
                            <div class="col-4">
                                <bs-text-input formControlName="cargoAmount" [fc]="invoiceDetailForm.get('cargoAmount')" [type]="'number'" [label]="'发票上货物数量(吨):'" [labelclass]="'col-5'" [inputclass]="'col-7'" [dirty]="ignoreDirty" [error]="invoiceDetailFormError.cargoAmount"></bs-text-input>
                            </div>
                            <div class="col-4">
                                <bs-text-input formControlName="taxRate" [fc]="invoiceDetailForm.get('taxRate')" [type]="'number'" [label]="'税率:'" [labelclass]="'col-4'" [inputclass]="'col-8'" [prompt]="'百分比 例如88.88'" [percent]="true" [dirty]="ignoreDirty" [error]="invoiceDetailFormError.taxRate"></bs-text-input>
                            </div>
                            <div class="col-4">
                                <bs-text-input formControlName="priceAndTax" [fc]="invoiceDetailForm.get('priceAndTax')" [type]="'number'" [label]="'价税合计:'" [labelclass]="'col-4'" [inputclass]="'col-8'" [dirty]="ignoreDirty" [error]="invoiceDetailFormError.priceAndTax"></bs-text-input>
                            </div>

                            <div class="col-4" [hidden]="invoiceDetailFormType === 1">
                                <bs-text-input formControlName="amount" [fc]="invoiceDetailForm.get('amount')" [type]="'number'" [label]="'金额:'" [labelclass]="'col-4'" [inputclass]="'col-8'" [dirty]="ignoreDirty" [error]="invoiceDetailFormError.amount"></bs-text-input>
                            </div>
                            <div class="col-4" [hidden]="invoiceDetailFormType === 1">
                                <bs-text-input formControlName="taxAmount" [fc]="invoiceDetailForm.get('taxAmount')" [type]="'number'" [label]="'税额:'" [labelclass]="'col-4'" [inputclass]="'col-8'" [dirty]="ignoreDirty" [error]="invoiceDetailFormError.taxAmount"></bs-text-input>
                            </div>
                            <div class="col-4" [hidden]="invoiceDetailFormType === 1">
                                <bs-text-input formControlName="sheetAmount" [fc]="invoiceDetailForm.get('sheetAmount')" [type]="'number'" [label]="'张数:'" [labelclass]="'col-4'" [inputclass]="'col-8'" [dirty]="ignoreDirty" [error]="invoiceDetailFormError.sheetAmount"></bs-text-input>
                            </div>
                            <div class="col-4" [hidden]="invoiceDetailFormType === 1">
                                <bs-text-input formControlName="cargoType" [fc]="invoiceDetailForm.get('cargoType')" [type]="'text'" [label]="'货物种类:'" [labelclass]="'col-4'" [inputclass]="'col-8'" [dirty]="ignoreDirty" [error]="invoiceDetailFormError.cargoType"></bs-text-input>
                            </div>

                            <div class="col-2">
                                <button type="button" class="btn btn-info" (click)="createInvoiceDetail()">添加明细</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-10 ml-auto">
                    <button type="submit" class="btn btn-info" >保存</button>
                    <button type="button" class="btn btn-outline-secondary" (click)="showForm(true)" >返回</button>
                </div>
            </div>
        </form>


        <div *ngIf="!isShowForm">

            <form [formGroup]="invoiceSearchForm"  (keydown.enter)="$event.preventDefault()">

                <div class="form-row ">
                    <div class="col-6">
                        <bs-select formControlName="hsId" [fc]="invoiceSearchForm.get('hsId')" [label]="'核算月:'" [addAllOptions]="true" [options]="unitList"></bs-select>
                    </div>
                    <div class="col-6">
                        <bs-select formControlName="invoiceDirection" [fc]="invoiceSearchForm.get('invoiceDirection')" [label]="'进销项:'" [addAllOptions]="true" [options]="invoiceDirectionList"></bs-select>
                    </div>
                </div>

                <div class="form-row ">
                    <div class="col-3">
                        <bs-datepicker formControlName="openDateStart" [fc]="invoiceSearchForm.get('openDateStart')" [label]="'开票日期:'" [labelclass]="'col-4'" [inputclass]="'col-7'" [format]="'yyyy-mm-dd'"></bs-datepicker>
                    </div>
                    <div class="col-3">
                        <bs-datepicker formControlName="openDateEnd" [fc]="invoiceSearchForm.get('openDateEnd')" [label]="'至:'" [labelclass]="'col-1'" [inputclass]="'col-7'" [format]="'yyyy-mm-dd'"></bs-datepicker>
                    </div>
                    <div class="col-6">
                        <bs-select formControlName="invoiceType" [fc]="invoiceSearchForm.get('invoiceType')" [label]="'发票类型:'" [addAllOptions]="true" [options]="invoiceTypeList"></bs-select>
                    </div>
                </div>

                <div class="form-row ">
                    <div class="col-6">
                        <bs-select formControlName="openCompanyId" [fc]="invoiceSearchForm.get('openCompanyId')" [label]="'开票单位:'" [editable]="true" [addAllOptions]="true" [options]="party.normal"></bs-select>
                    </div>
                    <div class="col-6">
                        <bs-select formControlName="receiverId" [fc]="invoiceSearchForm.get('receiverId')" [label]="'收票单位:'" [addAllOptions]="true" [options]="party.orderIncluded"></bs-select>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-11 ml-auto">
                        <button type="button" class="btn btn-info " (click)="getInvoiceList()"  >查询</button>
                    </div>
                </div>
            </form>



            <table class="table table-bordered table-hover table-responsive" >
                <thead>
                <tr>
                    <th>ID</th>
                    <th>核算月</th>

                    <th>进销项</th>
                    <th>发票类型</th>
                    <th>开票日期</th>
                    <th>开票单位</th>
                    <th>收票单位</th>
                    <th>明细价税合计</th>
                    <th>明细数量合计</th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let invoice of invoiceList; trackBy: trackByFn">
                    <td> {{invoice.id}}</td>
                    <td> {{invoice.hsId | findKey : unitList : 'name'}}</td>

                    <td> {{invoice.invoiceDirection | findKey : invoiceDirectionList : 'name' }}</td>
                    <td> {{invoice.invoiceType | findKey : invoiceTypeList : 'name' }}</td>
                    <td> {{invoice.openDate | slice : 0 : 10 }}</td>
                    <td> {{invoice.openCompanyId | findKey : party.normal : 'name' }}</td>
                    <td> {{invoice.receiverId | findKey : party.normal : 'name' }}</td>
                    <td> {{invoice.totalPriceAndTax  }}</td>
                    <td> {{invoice.totalCargoAmount }}</td>

                    <td>
                        <button class="btn btn-link btn-sm" (click)="showForm(false, invoice)"> 修改 </button>
                        <button class="btn btn-link btn-sm" (click)="deleteItem(invoice)"> 删除 </button>
                    </td>
                </tr>
                <tr> <td colspan="10">  累计价税合计: {{totalAllPriceAndTax}} - 累计已开票吨位: {{totalAllCargoAmount}} </tr>
                </tbody>
            </table>

        </div>



        <button type="button" class="btn btn-outline-info" *ngIf="!isShowForm" (click)="showForm(true)">添加发票</button>
