
.main-admin-box {
    min-width: 1400px;
    padding-left: 0px;
    padding-right: 0px;

    h3 {
        margin-bottom: 1.5rem !important;
        padding: 20px 0px;
        border-bottom: 1px solid #cfdbe2;
    }
}





















