

        <h3>
            {{businessType === 'ying' ? '应收单' : '仓押单'}}详情  ID:{{currentOrderId}} - 业务线: {{currentOrder?.line}}

            <button type="button" class="btn btn-outline-secondary btn-sm float-right" [routerLink]="['/yingorders']" *ngIf="businessType === 'ying'">返回</button>
            <button type="button" class="btn btn-outline-secondary btn-sm float-right" [routerLink]="['/cangorders']" *ngIf="businessType === 'cang'">返回</button>
        </h3>


        <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
                <a class="nav-link" [class.active]="currentTabIndex === 1" (click)="changeTab(1)">订单详情</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="currentTabIndex === 2" (click)="changeTab(2)">核算月管理</a>
            </li>
            <li class="nav-item" *ngIf="businessType==='ying'">
                <a class="nav-link" [class.active]="currentTabIndex === 3" (click)="changeTab(3)">发运管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="currentTabIndex === 4" (click)="changeTab(4)">发票管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="currentTabIndex === 11" (click)="changeTab(11)">借款管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="currentTabIndex === 12" (click)="changeTab(12)">付款管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="currentTabIndex === 13" (click)="changeTab(13)">回款管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="currentTabIndex === 14" (click)="changeTab(14)">还款管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="currentTabIndex === 21" (click)="changeTab(21)">上游结算管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="currentTabIndex === 22" (click)="changeTab(22)">下游结算管理</a>
            </li>
            <!--<li class="nav-item" >-->
                <!--<a class="nav-link" [class.active]="currentTabIndex === 23" (click)="changeTab(23)">运输方结算管理</a>-->
            <!--</li>-->

            <li class="nav-item" *ngIf="businessType==='ying'">
                <a class="nav-link" [class.active]="currentTabIndex === 25" (click)="changeTab(25)">保证金管理</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [class.active]="currentTabIndex === 31" (click)="changeTab(31)">费用管理</a>
            </li>

            <li class="nav-item" *ngIf="businessType==='cang'">
                <a class="nav-link" [class.active]="currentTabIndex === 32" (click)="changeTab(32)">入库管理</a>
            </li>
            <li class="nav-item" *ngIf="businessType==='cang'">
                <a class="nav-link" [class.active]="currentTabIndex === 33" (click)="changeTab(33)">出库管理</a>
            </li>

        </ul>


        <div *ngIf="currentTabIndex === 1" >
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">业务线名称: {{currentOrder?.line }}</h5>

                    <div class="row mt-4">
                        <div class="col-4">
                            <p class="card-text">事业部门: {{currentOrder?.deptId | findKey : departmentList : 'name'}}</p>
                        </div>
                        <div class="col-4">
                            <p class="card-text">业务团队: {{currentOrder?.teamId | findKey : teamList : 'name'}}</p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-4">
                            <p class="card-text">上游结算方式: {{currentOrder?.upstreamSettleMode | settleMode }}</p>
                        </div>
                        <div class="col-4">
                            <p class="card-text">下游结算方式: {{currentOrder?.downstreamSettleMode | settleMode}}</p>
                        </div>
                        <div class="col-4">
                            <p class="card-text">商品品类: {{currentOrder?.cargoType | cargoType }}</p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-4">
                            <p class="card-text">主账务公司: {{currentOrder?.mainAccounting | findKey:partyObject.normal:'name' }}</p>
                        </div>
                        <div class="col-4">
                            <p class="card-text">上游供应商: {{currentOrder?.upstreamId | findKey:partyObject.normal:'name' }}</p>
                        </div>
                        <div class="col-4">
                            <p class="card-text">下游客户: {{currentOrder?.downstreamId | findKey:partyObject.normal:'name' }}</p>
                        </div>
                        <div class="col-4">
                            <p class="card-text">终端客户: {{currentOrder?.terminalClientId | findKey:partyObject.normal:'name' }}</p>
                        </div>
                    </div>

                    <div class="row mt-4" *ngFor="let company of currentOrder?.orderPartyList">
                        <div class="col-12" >
                            <p class="card-text">参与方公司: {{company.custType | customerType}} - {{company.customerId | findKey : partyObject.normal : 'name'}}</p>
                        </div>
                    </div>


                    <div class="row mt-4">
                        <div class="col-2">
                            <button type="submit" class="btn btn-info" (click)="finishedOrder()">订单完结</button>
                        </div>
                    </div>

                </div>
            </div>


            <div class="card mt-3">
                <div class="card-body">

                    <form  [formGroup]="transferForm" (keydown.enter)="$event.preventDefault()" >

                        <div class="form-row">
                            <div class="col-5">
                                <bs-select formControlName="userId" [fc]="transferForm.get('userId')" [label]="'订单权限移交给:'" [labelclass]="'col-3'" [inputclass]="'col-8'" [dirty]="ignoreDirty" [options]="userList" [error]="transferFormError.userId" (outputChange)="filterTeam($event)"></bs-select>
                            </div>

                            <div class="col-3" [hidden]="currentUser?.isAdmin === 'ACSH_AT' ">
                                <bs-select formControlName="teamId" [fc]="transferForm.get('teamId')" [label]="''" [labelclass]="'col-0'" [inputclass]="'col-12'" [dirty]="ignoreDirty" [options]="teamFilterList" [error]="transferFormError.teamId"></bs-select>
                            </div>

                            <div class="col-2">
                                <button type="submit" class="btn btn-info" (click)="transferFormSubmit()" >保存</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>




<!--

            <div class="card mt-3">
                <div class="card-body">

                    <table class="table table-bordered table-hover table-responsive" >
                        <thead>
                        <tr>
                            <th>核算月</th>

                            <th colspan="9">发运信息</th>
                            <th colspan="4">结算信息</th>
                            <th colspan="2">资金占压信息</th>
                        </tr>
                        <tr>
                            <th>核算月</th>

                            <th>发运总数量</th>
                            <th>已到场数量</th>
                            <th>未到场数量</th>
                            <th>采购含税总额</th>
                            <th>销售含税总额</th>

                            <th>贸易公司加价</th>
                            <th>销售费用总额</th>
                            <th>代收代垫运费</th>
                            <th>瑞茂通总收益</th>


                            <th>{{businessType==='ying' ? '下游':'上游'}}已结算数量</th>
                            <th>{{businessType==='ying' ? '下游':'上游'}}已结算金额</th>
                            <th>{{businessType==='ying' ? '下游':'上游'}}未结算数量</th>
                            <th>{{businessType==='ying' ? '下游':'上游'}}未结算金额</th>


                            <th>上游资金占压</th>
                            <th>下游资金占压</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let unit of unitListStat; trackBy: trackByFn">
                            <td> {{unit.hsMonth}}</td>

                            <td> {{unit.totalFayunNum }}</td>
                            <td> {{unit.totalArriveNum }}</td>
                            <td> {{unit.totalUnarriveNum }}</td>
                            <td> {{unit.purchaseIncludeTaxTotalAmount }}</td>
                            <td> {{unit.saleIncludeTaxTotalAmount }}</td>

                            <td> {{unit.tradingCompanyAddMoney }}</td>
                            <td> {{unit.salesFeeAmount }}</td>
                            <td> {{unit.dsddFee }}</td>
                            <td> {{unit.ccsProfile }}</td>


                            <td> {{unit.totalBuyerNums }}</td>
                            <td> {{unit.totalBuyerMoney }}</td>
                            <td> {{unit.unsettlerBuyerNumber }}</td>
                            <td> {{unit.unsettlerBuyerMoneyAmount }}</td>


                            <td> {{unit.upstreamCapitalPressure }}</td>
                            <td> {{unit.downstreamCapitalPressure }}</td>

                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
-->


            <div class="card mt-3">
                <div class="card-body">

                    <table class="table table-bordered table-hover table-responsive" >
                        <tbody>
                        <tr >
                            <td colspan="2"> 核算月</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> {{unit.hsMonth}}</td>
                        </tr>

                        <tr >
                            <td rowspan="9">发运信息</td>
                            <td *ngIf="businessType==='ying'">发运总数量 </td>
                            <td *ngIf="businessType==='cang'">入库总数量 </td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn">
                                <span *ngIf="businessType==='ying'" > {{unit.totalFayunNum | number }} </span>
                                <span *ngIf="businessType==='cang'" > {{unit.totalInstorageNum | number }} </span>
                            </td>
                        </tr>
                        <tr >
                            <td *ngIf="businessType==='ying'">已到场数量</td>
                            <td *ngIf="businessType==='cang'">已出库数量 </td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn">
                                <span *ngIf="businessType==='ying'" > {{unit.totalArriveNum | number }} </span>
                                <span *ngIf="businessType==='cang'" > {{unit.totalOutstorageNum | number }} </span>
                            </td>
                        </tr>
                        <tr >
                            <td *ngIf="businessType==='ying'">未到场数量</td>
                            <td *ngIf="businessType==='cang'">库存数量</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn">
                                <span *ngIf="businessType==='ying'" > {{unit.totalUnarriveNum | number }} </span>
                                <span *ngIf="businessType==='cang'" > {{unit.totalStockNum | number }} </span>
                            </td>
                        </tr>
                        <tr >
                            <td>采购货款总额</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> {{unit.purchaseCargoAmountOfMoney | number }}</td>
                        </tr>
                        <tr >
                            <td>销售货款总额</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> {{unit.saleCargoAmountOfMoney | number }}</td>
                        </tr>

                        <tr >
                            <td>贸易公司加价</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> {{unit.tradingCompanyAddMoney | number }}</td>
                        </tr>
                        <tr >
                            <td>销售费用总额</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> {{unit.salesFeeAmount | number }}</td>
                        </tr>
                        <tr >
                            <td>代收代垫运费</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> {{unit.dsddFee | number }}</td>
                        </tr>
                        <tr >
                            <td>瑞茂通总收益</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> {{unit.ccsProfile | number }}</td>
                        </tr>


                        <tr >
                            <td rowspan="4">结算信息</td>
                            <td> {{businessType==='ying' ? '下游':'上游'}}已结算数量</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> {{unit.totalBuyerNums | number }}</td>
                        </tr>
                        <tr >
                            <td> {{businessType==='ying' ? '下游':'上游'}}已结算金额</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> {{unit.totalBuyerMoney | number }}</td>
                        </tr>
                        <tr >
                            <td> {{businessType==='ying' ? '下游':'上游'}}未结算数量</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> {{unit.unsettlerBuyerNumber | number }}</td>
                        </tr>
                        <tr >
                            <td> {{businessType==='ying' ? '下游':'上游'}}未结算金额</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> {{unit.unsettlerBuyerMoneyAmount | number }}</td>
                        </tr>


                        <tr >
                            <td [attr.rowspan]="rowspan">资金占压信息</td>
                            <td>上游资金占压</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> {{unit.upstreamCapitalPressure | number }}</td>
                        </tr>

                        <tr *ngFor="let party of partyCompanyStat; trackBy: trackByFn">
                            <td>参与方 {{party.id | findKey : partyObject.normal : 'name' }} 资金占压</td>
                            <td *ngFor="let company of party.partyList; trackBy: trackByFn"> {{company.partiesCapitalPressure | number }}</td>
                        </tr>

                        <tr >
                            <td>下游资金占压</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> {{unit.downstreamCapitalPressure | number }}</td>
                        </tr>
                        <tr >
                            <td>{{businessType==='cang' ? '库存数量':''}}</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> <span *ngIf="businessType==='cang'"> {{unit.totalStockNum | number }} </span></td>
                        </tr><tr >
                            <td>{{businessType==='cang' ? '库存金额':''}} </td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> <span *ngIf="businessType==='cang'"> {{unit.totalStockMoney | number }} </span></td>
                        </tr>

                        <!--<tr *ngFor="let party of partyCompanyStat; trackBy: trackByFn">-->
                            <!--<td>资金占压信息</td>-->
                            <!--<td>参与方 {{party.id | findKey : partyObject.normal : 'name' }} 资金占压</td>-->
                            <!--<td *ngFor="let company of party.partyList; trackBy: trackByFn"> {{company.partiesCapitalPressure | number }}</td>-->
                        <!--</tr>-->

                        <tr >
                            <td rowspan="8">进项票信息</td>
                            <td>贸易公司已收到进项数量</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> {{unit.tradingCompanyInTypeNum | number }}</td>
                        </tr>
                        <tr >
                            <td>贸易公司已收到进项金额</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> {{unit.tradingCompanyInTpeMoneyAmount | number }}</td>
                        </tr>
                        <tr >
                            <td >进项票信息</td>
                            <td>上游供应商未开票吨位</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> {{unit.upstreamUninvoiceAmount | number }}</td>
                        </tr>
                        <tr >
                            <td>上游供应商未开票金额</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> {{unit.upstreamUninvoicePrice | number }}</td>
                        </tr>
                        <tr >
                            <td>CCS已收到进项数量</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> {{unit.totalCSSIntypeNumber | number }}</td>
                        </tr>
                        <tr >
                            <td>CCS已收到进项金额</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> {{unit.totalCCSIntypeMoney | number }}</td>
                        </tr>
                        <tr >
                            <td>CCS未收到进项数量</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> {{unit.cssUninTypeNum | number }}</td>
                        </tr>
                        <tr >
                            <td>CCS未收到进项金额</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> {{unit.cssUninTypeMoney | number }}</td>
                        </tr>


                        <tr >
                            <td rowspan="3">收付款信息</td>
                            <td>外部资金付款金额</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> {{unit.externalCapitalPaymentAmount | number }}</td>
                        </tr>
                        <tr >
                            <td>自有资金付款金额</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> {{unit.ownerCapitalPaymentAmount | number }}</td>
                        </tr>
                        <tr >
                            <td>已回款金额合计</td>
                            <td *ngFor="let unit of unitListStat; trackBy: trackByFn"> {{unit.totalHuikuanPaymentMoney | number }}</td>
                        </tr>

                        </tbody>
                    </table>


                </div>
            </div>

        </div>



        <app-unit  *ngIf="currentTabIndex === 2" [currentOrder]="currentOrder" [businessType]="businessType" [party]="partyObject"></app-unit>
        <app-shipping  *ngIf="currentTabIndex === 3 && businessType==='ying'" [currentOrder]="currentOrder" [businessType]="businessType" [party]="partyObject"></app-shipping>
        <app-invoice  *ngIf="currentTabIndex === 4" [currentOrder]="currentOrder" [businessType]="businessType" [party]="partyObject"></app-invoice>

        <app-borrow  *ngIf="currentTabIndex === 11" [currentOrder]="currentOrder" [businessType]="businessType" [party]="partyObject"></app-borrow>
        <app-payment  *ngIf="currentTabIndex === 12" [currentOrder]="currentOrder" [businessType]="businessType" [party]="partyObject"></app-payment>
        <app-repayment  *ngIf="currentTabIndex === 13" [currentOrder]="currentOrder" [businessType]="businessType" [party]="partyObject"></app-repayment>
        <app-huankuan  *ngIf="currentTabIndex === 14" [currentOrder]="currentOrder" [businessType]="businessType" [party]="partyObject"></app-huankuan>

        <app-settle  *ngIf="currentTabIndex === 21 && businessType==='ying'" [currentOrder]="currentOrder" [businessType]="businessType" [settleType]="'settlesellerupstream'" [party]="partyObject"></app-settle>
        <app-settle  *ngIf="currentTabIndex === 22 && businessType==='ying'" [currentOrder]="currentOrder" [businessType]="businessType" [settleType]="'settlebuyerdownstream'" [party]="partyObject"></app-settle>

        <app-settle  *ngIf="currentTabIndex === 21 && businessType==='cang'" [currentOrder]="currentOrder" [businessType]="businessType" [settleType]="'settlebuyerupstream'" [party]="partyObject"></app-settle>
        <app-settle  *ngIf="currentTabIndex === 22 && businessType==='cang'" [currentOrder]="currentOrder" [businessType]="businessType" [settleType]="'settlesellerdownstream'" [party]="partyObject"></app-settle>

        <!--<app-settletraffic  *ngIf="currentTabIndex === 23" [currentOrder]="currentOrder" [businessType]="businessType" [party]="partyObject"></app-settletraffic>-->


        <app-deposit  *ngIf="currentTabIndex === 25" [currentOrder]="currentOrder" [businessType]="businessType" [party]="partyObject"></app-deposit>
        <app-expense  *ngIf="currentTabIndex === 31" [currentOrder]="currentOrder" [businessType]="businessType" [party]="partyObject"></app-expense>

        <app-warehouse  *ngIf="currentTabIndex === 32 && businessType==='cang'" [currentOrder]="currentOrder" [businessType]="businessType" [warehouseType]="'ruku'" [party]="partyObject"></app-warehouse>
        <app-warehouse  *ngIf="currentTabIndex === 33 && businessType==='cang'" [currentOrder]="currentOrder" [businessType]="businessType" [warehouseType]="'chuku'" [party]="partyObject"></app-warehouse>




