

        <h3>
            核算详情  ID:{{currentOrderId}} - 业务线: {{currentOrder?.line}}
        </h3>


        <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
                <a class="nav-link" [class.active]="currentTabIndex === 1" (click)="changeTab(1)">订单详情</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="currentTabIndex === 2" (click)="changeTab(2)">核算月管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="currentTabIndex === 3" (click)="changeTab(3)">发运单管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="currentTabIndex === 4" (click)="changeTab(4)">付款管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="currentTabIndex === 5" (click)="changeTab(5)">回款管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="currentTabIndex === 6" (click)="changeTab(6)">还款管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="currentTabIndex === 7" (click)="changeTab(7)">结算单管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="currentTabIndex === 8" (click)="changeTab(8)">费用管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="currentTabIndex === 9" (click)="changeTab(9)">发票管理</a>
            </li>
        </ul>



        <ul class="list-group" *ngIf="currentTabIndex === 1">
            <li class="list-group-item">事业部门: {{currentOrder?.deptId | findKey : departmentList : 'name'}}</li>
            <li class="list-group-item">业务团队: {{currentOrder?.teamId | findKey : teamList : 'name'}}</li>
            <li class="list-group-item">业务线名称: {{currentOrder?.line }}</li>
            <li class="list-group-item">上游结算方式: {{currentOrder?.upstreamSettleMode | settleMode }}</li>
            <li class="list-group-item">下游结算方式: {{currentOrder?.downstreamSettleMode | settleMode}}</li>
            <li class="list-group-item">商品品类: {{currentOrder?.cargoType | cargoType }}</li>
            <li class="list-group-item">主账务公司: {{currentOrder?.mainAccounting | findKey:partyList:'name' }}</li>
            <li class="list-group-item">上游供应商: {{currentOrder?.upstreamId | findKey:partyList:'name' }}</li>
            <li class="list-group-item">下游客户: {{currentOrder?.downstreamId | findKey:partyList:'name' }}</li>
        </ul>
        <ul class="list-group" *ngIf="currentTabIndex === 1">
            <li class="list-group-item" *ngFor="let company of currentOrder?.orderPartyList">事业部门: {{company.custType | customerType}} - {{company.customerId | findKey : partyList : 'name'}}</li>
        </ul>



        <div *ngIf="currentTabIndex === 2">

            <form [formGroup]="orderUnitForm" (ngSubmit)="orderUnitFormSubmit()" (keydown.enter)="$event.preventDefault()" *ngIf="isShowForm">

                <bs-datepicker formControlName="hsMonth" [fc]="orderUnitForm.get('hsMonth')" [label]="'核算月名称:'" [format]="'yyyymm'" [error]="orderUnitFormError.hsMonth"></bs-datepicker>
                <bs-text-input formControlName="maxPrepayRate" [fc]="orderUnitForm.get('maxPrepayRate')" [type]="'number'" [label]="'最高预付款比例:'" [dirty]="ignoreDirty" [error]="orderUnitFormError.maxPrepayRate"></bs-text-input>
                <bs-text-input formControlName="unInvoicedRate" [fc]="orderUnitForm.get('unInvoicedRate')" [type]="'number'" [label]="'未开票款付款比例:'" [dirty]="ignoreDirty" [error]="orderUnitFormError.unInvoicedRate"></bs-text-input>
                <bs-text-input formControlName="contractBaseInterest" [fc]="orderUnitForm.get('contractBaseInterest')" [type]="'number'" [label]="'合同基准利率:'" [dirty]="ignoreDirty" [error]="orderUnitFormError.contractBaseInterest"></bs-text-input>

                <bs-text-input formControlName="expectHKDays" [fc]="orderUnitForm.get('expectHKDays')" [type]="'number'" [label]="'预计回款天数:'" [dirty]="ignoreDirty" [error]="orderUnitFormError.expectHKDays"></bs-text-input>
                <bs-text-input formControlName="tradeAddPrice" [fc]="orderUnitForm.get('tradeAddPrice')" [type]="'number'" [label]="'贸易公司加价(吨):'" [dirty]="ignoreDirty" [error]="orderUnitFormError.tradeAddPrice"></bs-text-input>
                <bs-text-input formControlName="weightedPrice" [fc]="orderUnitForm.get('weightedPrice')" [type]="'number'" [label]="'加权单价:'" [dirty]="ignoreDirty" [error]="orderUnitFormError.weightedPrice"></bs-text-input>


                <div class="form-group row">
                    <div class="col-10 ml-auto">
                        <button type="submit" class="btn btn-info" >保存</button>
                        <button type="button" class="btn btn-outline-secondary" (click)="showForm(true)" >返回</button>
                    </div>
                </div>
            </form>


            <div *ngIf="!isShowForm">
                <table class="table table-bordered table-hover table-responsive" >
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>核算月</th>
                        <th>最高预付款比例</th>
                        <th>未开票款付款比例</th>

                        <th>合同基准利率</th>
                        <th>预计回款天数</th>
                        <th>贸易公司加价(元/吨)</th>
                        <th>加权单价</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let unit of unitList; trackBy: trackByFn">
                        <td> {{unit.id}}</td>
                        <td> {{unit.hsMonth}}</td>
                        <td> {{unit.maxPrepayRate }}</td>
                        <td> {{unit.unInvoicedRate }}</td>

                        <td> {{unit.contractBaseInterest}}</td>
                        <td> {{unit.expectHKDays }}</td>
                        <td> {{unit.tradeAddPrice }}</td>
                        <td> {{unit.weightedPrice }}</td>
                        <td> <button class="btn btn-info btn-sm" (click)="showForm(false, unit)"> 修改 </button></td>
                    </tr>
                    </tbody>
                </table>

            </div>



            <button type="button" class="btn btn-outline-info" *ngIf="!isShowForm" (click)="showForm(true)">添加新核算月</button>


        </div>


        <app-shipping  *ngIf="currentTabIndex === 3" [currentOrder]="currentOrder"></app-shipping>
        <app-payment  *ngIf="currentTabIndex === 4" [currentOrder]="currentOrder"></app-payment>
        <app-repayment  *ngIf="currentTabIndex === 5" [currentOrder]="currentOrder"></app-repayment>
        <app-huankuan  *ngIf="currentTabIndex === 6" [currentOrder]="currentOrder"></app-huankuan>
