
        <form [formGroup]="settleForm" (ngSubmit)="settleFormSubmit()" (keydown.enter)="$event.preventDefault()" *ngIf="isShowForm">

            <bs-select formControlName="hsId" [fc]="settleForm.get('hsId')" [label]="'核算月:'" [dirty]="ignoreDirty"  [options]="unitList" [error]="settleFormError.hsId" (outputChange)="changeUnit($event)"></bs-select>
            <div class="form-group row">
                <div class="col-10 ml-auto">
                    <p *ngIf="settleForm.get('hsId').value"> 结算金额: {{ unitListStatAdditionalInfoObject[settleForm.get('hsId').value]?.purchaseCargoAmountOfMoney ?  unitListStatAdditionalInfoObject[settleForm.get('hsId').value]?.purchaseCargoAmountOfMoney : '暂无' }}
                        -  结算数量: {{ unitListStatAdditionalInfoObject[settleForm.get('hsId').value]?.totalBuyerNums ?  unitListStatAdditionalInfoObject[settleForm.get('hsId').value]?.totalBuyerNums : '暂无' }}</p>
                </div>
            </div>


            <bs-datepicker formControlName="settleDate" [fc]="settleForm.get('settleDate')" [label]="'结算日期:'" [format]="'yyyy-mm-dd hh:MM:ss'" [dirty]="ignoreDirty" [error]="settleFormError.settleDate" ></bs-datepicker>

            <div [hidden]="settleType !== 'settlesellerupstream' && settleType !== 'settlesellerdownstream'">
                <bs-select formControlName ="discountType" [fc]="settleForm.get('discountType')" [label]="'折扣类型:'" [dirty]="ignoreDirty" [options]="settleDiscountModeList" [error]="settleFormError.discountType" ></bs-select>
                <bs-text-input formControlName="discountInterest" [fc]="settleForm.get('discountInterest')" [type]="'number'" [label]="'利率折扣(%):'" [prompt]="'百分比 例如88.88'" [percent]="true" [dirty]="ignoreDirty" [error]="settleFormError.discountInterest" [hidden]="settleForm.get('discountType').value !=='RATE_DISCOUNT'"></bs-text-input>
                <bs-text-input formControlName="discountDays" [fc]="settleForm.get('discountDays')" [type]="'number'" [label]="'利率折扣天数:'" [dirty]="ignoreDirty" [error]="settleFormError.discountDays" [hidden]="settleForm.get('discountType').value !=='RATE_DISCOUNT'"></bs-text-input>
                <bs-text-input formControlName="discountAmount" [fc]="settleForm.get('discountAmount')" [type]="'number'" [label]="'折扣金额(元):'" [dirty]="ignoreDirty" [error]="settleFormError.discountAmount" [hidden]="settleForm.get('discountType').value !=='CASH_DISCOUNT'"></bs-text-input>
            </div>

            <div [hidden]="settleType !== 'settlebuyerdownstream' && settleType !== 'settlebuyerupstream'">
                <bs-text-input formControlName="amount" [fc]="settleForm.get('amount')" [type]="'number'" [label]="'结算数量(吨):'" [dirty]="ignoreDirty" [error]="settleFormError.amount"></bs-text-input>
                <bs-text-input formControlName="money" [fc]="settleForm.get('money')" [type]="'number'" [label]="'结算金额(元):'" [dirty]="ignoreDirty" [error]="settleFormError.money"></bs-text-input>

                <bs-text-input formControlName="settleGap" [fc]="settleForm.get('settleGap')" [type]="'number'" [label]="'结算扣吨(吨):'" [dirty]="ignoreDirty" [error]="settleFormError.settleGap"></bs-text-input>
            </div>

            <div class="form-group row">
                <div class="col-10 ml-auto">
                    <button type="submit" class="btn btn-info" >保存</button>
                    <button type="button" class="btn btn-outline-secondary" (click)="showForm(true)" >返回</button>
                </div>
            </div>
        </form>


        <div *ngIf="!isShowForm">

            <form [formGroup]="settleSearchForm"  (keydown.enter)="$event.preventDefault()">

                <div class="form-row ">
                    <div class="col-6">
                        <bs-select formControlName="hsId" [fc]="settleSearchForm.get('hsId')" [label]="'核算月:'" [addAllOptions]="true" [options]="unitList"></bs-select>
                    </div>
                    <div class="col-3">
                        <bs-datepicker formControlName="settleDateStart" [fc]="settleSearchForm.get('settleDateStart')" [label]="'结算日期:'" [labelclass]="'col-4'" [inputclass]="'col-7'" [format]="'yyyy-mm-dd'"></bs-datepicker>
                    </div>
                    <div class="col-3">
                        <bs-datepicker formControlName="settleDateEnd" [fc]="settleSearchForm.get('settleDateEnd')" [label]="'至:'" [labelclass]="'col-1'" [inputclass]="'col-7'" [format]="'yyyy-mm-dd'"></bs-datepicker>
                    </div>
                </div>

                <div class="form-row " [hidden]="settleType !== 'settlebuyerdownstream' && settleType !== 'settlebuyerupstream'">
                    <div class="col-6">
                        <bs-text-input formControlName="amount" [fc]="settleSearchForm.get('amount')" [type]="'number'" [label]="'结算数量(吨):'" ></bs-text-input>
                    </div>
                    <div class="col-6">
                        <bs-text-input formControlName="money" [fc]="settleSearchForm.get('money')" [type]="'number'" [label]="'结算金额(元):'" ></bs-text-input>
                    </div>
                </div>
                <div class="form-row " [hidden]="settleType !== 'settlebuyerdownstream' && settleType !== 'settlebuyerupstream'">
                    <div class="col-6">
                        <bs-text-input formControlName="settleGap" [fc]="settleSearchForm.get('settleGap')" [type]="'number'" [label]="'结算扣吨(吨):'" ></bs-text-input>
                    </div>
                </div>


                <div class="form-row " [hidden]="settleType !== 'settlesellerupstream' && settleType !== 'settlesellerdownstream'">
                    <div class="col-6">
                        <bs-select formControlName="discountType" [fc]="settleSearchForm.get('discountType')" [label]="'折扣类型:'" [addAllOptions]="true" [options]="settleDiscountModeList"></bs-select>
                    </div>
                </div>



                <div class="form-group row">
                    <div class="col-11 ml-auto">
                        <button type="button" class="btn btn-info " (click)="getSettleList()"  >查询</button>
                    </div>
                </div>
            </form>


            <table class="table table-bordered table-hover table-responsive" *ngIf="settleType==='settlesellerupstream' || settleType==='settlesellerdownstream' ">
                <thead>
                <tr>
                    <th>结算ID</th>
                    <th>核算月</th>
                    <th>结算日期</th>
                    <!--<th>结算数量(吨)</th>-->
                    <!--<th>结算金额</th>-->

                    <th>折扣类型</th>
                    <th>利率折扣</th>
                    <th>利率折扣天数</th>
                    <th>折扣金额</th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let settle of settleYingUpstreamList; trackBy: trackByFn">
                    <td> {{settle.id}}</td>
                    <td> {{settle.hsId | findKey : unitList : 'name'}}</td>

                    <td> {{settle.settleDate | slice : 0 : 10 }}</td>
                    <!--<td> {{settle.amount }}</td>-->
                    <!--<td> {{settle.money }}</td>-->


                    <td> {{settle?.discountType | findKey : settleDiscountModeList : 'name' }}</td>
                    <td> {{settle.discountInterest | percent:'1.0-2'}}</td>
                    <td> {{settle.discountDays }}</td>
                    <td> {{settle.discountAmount }}</td>

                    <td>
                        <button class="btn btn-link btn-sm" (click)="showForm(false, settle)"> 修改 </button>
                        <button class="btn btn-link btn-sm" (click)="deleteItem(settle)"> 删除 </button>
                    </td>
                </tr>

                <tr *ngFor="let settle of settleCangDownstreamList; trackBy: trackByFn">
                    <td> {{settle.id}}</td>
                    <td> {{settle.hsId | findKey : unitList : 'name'}}</td>

                    <td> {{settle.settleDate | slice : 0 : 10 }}</td>
                    <!--<td> {{settle.amount }}</td>-->
                    <!--<td> {{settle.money }}</td>-->


                    <td> {{settle?.discountType | findKey : settleDiscountModeList : 'name' }}</td>
                    <td> {{settle.discountInterest | percent:'1.0-2'}}</td>
                    <td> {{settle.discountDays }}</td>
                    <td> {{settle.discountAmount }}</td>

                    <td>
                        <button class="btn btn-link btn-sm" (click)="showForm(false, settle)"> 修改 </button>
                        <button class="btn btn-link btn-sm" (click)="deleteItem(settle)"> 删除 </button>
                    </td>
                </tr>
                </tbody>
            </table>


            <table class="table table-bordered table-hover table-responsive" *ngIf="settleType==='settlebuyerdownstream' || settleType==='settlebuyerupstream'">
                <thead>
                <tr>
                    <th>结算ID</th>
                    <th>核算月</th>
                    <th>结算日期</th>
                    <th>结算数量(吨)</th>
                    <th>结算金额</th>
                    <th>结算扣吨</th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let settle of settleYingDownstreamList; trackBy: trackByFn">
                    <td> {{settle.id}}</td>
                    <td> {{settle.hsId | findKey : unitList : 'name'}}</td>

                    <td> {{settle.settleDate | slice : 0 : 10 }}</td>
                    <td> {{settle.amount }}</td>
                    <td> {{settle.money }}</td>
                    <td> {{settle.settleGap }}</td>

                    <td>
                        <button class="btn btn-link btn-sm" (click)="showForm(false, settle)"> 修改 </button>
                        <button class="btn btn-link btn-sm" (click)="deleteItem(settle)"> 删除 </button>
                    </td>
                </tr>

                <tr *ngFor="let settle of settleCangUpstreamList; trackBy: trackByFn">
                    <td> {{settle.id}}</td>
                    <td> {{settle.hsId | findKey : unitList : 'name'}}</td>

                    <td> {{settle.settleDate | slice : 0 : 10 }}</td>
                    <td> {{settle.amount }}</td>
                    <td> {{settle.money }}</td>
                    <td> {{settle.settleGap }}</td>

                    <td>
                        <button class="btn btn-link btn-sm" (click)="showForm(false, settle)"> 修改 </button>
                        <button class="btn btn-link btn-sm" (click)="deleteItem(settle)"> 删除 </button>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>



        <button type="button" class="btn btn-outline-info" *ngIf="!isShowForm" (click)="showForm(true)">添加结算</button>
