
        <form [formGroup]="warehouseForm" (ngSubmit)="warehouseFormSubmit()" (keydown.enter)="$event.preventDefault()" *ngIf="isShowForm">

            <bs-select formControlName="hsId" [fc]="warehouseForm.get('hsId')" [label]="'核算月:'" [dirty]="ignoreDirty"  [options]="unitList" [error]="warehouseFormError.hsId" (outputChange)="getWarehouseOutInfo($event)"></bs-select>

            <div class="form-group row" >
                <div class="col-10 ml-auto">
                    <p *ngIf="warehouseForm.get('hsId').value">
                        本月累计出库吨数: {{ warehouseOutInfo.totalOutstorageNum }} - 本月累计出库金额: {{ warehouseOutInfo.totalOutstorageMoney }} -
                        本月未出库吨数: {{ warehouseOutInfo.unChukuTotalAmount }} - 本月未出库金额: {{ warehouseOutInfo.unChukuTotalPrice }}
                        <br>
                        本月可出库吨数: {{ warehouseOutInfo.canChukuAmount }} - 本月可出库金额: {{ warehouseOutInfo.canChukuPrice }} - 下游预估加权单价: {{this.unitListObject[this.warehouseForm.value.hsId].weightedPrice}}
                    </p>
                </div>
            </div>


            <div [hidden]="warehouseType !== 'ruku'">
                <bs-datepicker formControlName="rukuDate" [fc]="warehouseForm.get('rukuDate')" [label]="'入库日期:'" [format]="'yyyy-mm-dd hh:MM:ss'" [dirty]="ignoreDirty" [error]="warehouseFormError.rukuDate" ></bs-datepicker>
                <bs-select formControlName ="rukuStatus" [fc]="warehouseForm.get('rukuStatus')" [label]="'入库状态:'" [dirty]="ignoreDirty" [options]="warehouseStatusList" [error]="warehouseFormError.rukuStatus"></bs-select>
                <bs-text-input formControlName="rukuAmount" [fc]="warehouseForm.get('rukuAmount')" [type]="'number'" [label]="'入库吨数(吨):'" [dirty]="ignoreDirty" [error]="warehouseFormError.rukuAmount"></bs-text-input>
                <bs-text-input formControlName="rukuPrice" [fc]="warehouseForm.get('rukuPrice')" [type]="'number'" [label]="'入库金额(元):'" [dirty]="ignoreDirty" [error]="warehouseFormError.rukuPrice"></bs-text-input>

                <bs-radio formControlName ="trafficMode" [fc]="warehouseForm.get('trafficMode')" [label]="'上游运输方式:'" [dirty]="ignoreDirty" [sourceList]="trafficModeList" [error]="warehouseFormError.trafficMode" ></bs-radio>

                <bs-text-input formControlName="cars" [fc]="warehouseForm.get('cars')" [type]="'number'" [label]="'汽运车数:'" [dirty]="ignoreDirty" [error]="warehouseFormError.cars" [hidden]="warehouseForm.get('trafficMode').value !=='MOTOR'"></bs-text-input>
                <bs-text-input formControlName="jhh" [fc]="warehouseForm.get('jhh')" [type]="'text'" [label]="'火运计划号:'" [dirty]="ignoreDirty" [error]="warehouseFormError.jhh" [hidden]="warehouseForm.get('trafficMode').value !=='RAIL'"></bs-text-input>
                <bs-text-input formControlName="ship" [fc]="warehouseForm.get('ship')" [type]="'text'" [label]="'船运船号:'" [dirty]="ignoreDirty" [error]="warehouseFormError.ship" [hidden]="warehouseForm.get('trafficMode').value !=='SHIP'"></bs-text-input>
            </div>

            <div [hidden]="warehouseType !== 'chuku'">
                <bs-datepicker formControlName="chukuDate" [fc]="warehouseForm.get('chukuDate')" [label]="'出库日期:'" [format]="'yyyy-mm-dd hh:MM:ss'" [dirty]="ignoreDirty" [error]="warehouseFormError.chukuDate" ></bs-datepicker>
                <bs-text-input formControlName="chukuAmount" [fc]="warehouseForm.get('chukuAmount')" [type]="'number'" [label]="'出库吨数(吨):'" [dirty]="ignoreDirty" [error]="warehouseFormError.chukuAmount" (focusout)="changeChukuPrice()"></bs-text-input>
                <bs-text-input formControlName="chukuPrice" [fc]="warehouseForm.get('chukuPrice')" [type]="'number'" [label]="'出库金额(元):'" [dirty]="ignoreDirty" [error]="warehouseFormError.chukuPrice"></bs-text-input>
            </div>

            <bs-text-input formControlName="locality" [fc]="warehouseForm.get('locality')" [type]="'text'" [label]="'库房场地:'" [dirty]="ignoreDirty" [error]="warehouseFormError.locality"></bs-text-input>

            <div class="form-group row">
                <div class="col-10 ml-auto">
                    <button type="submit" class="btn btn-info" >保存</button>
                    <button type="button" class="btn btn-outline-secondary" (click)="showForm(true)" >返回</button>
                </div>
            </div>
        </form>


        <div *ngIf="!isShowForm">

            <form [formGroup]="warehouseSearchForm"  (keydown.enter)="$event.preventDefault()">

                <div class="form-row ">
                    <div class="col-6">
                        <bs-select formControlName="hsId" [fc]="warehouseSearchForm.get('hsId')" [label]="'核算月:'" [addAllOptions]="true" [options]="unitList"></bs-select>
                    </div>
                    <div class="col-6">
                        <bs-text-input formControlName="locality" [fc]="warehouseSearchForm.get('locality')" [type]="'text'" [label]="'库房场地:'" ></bs-text-input>
                    </div>
                </div>

                <div class="form-row " [hidden]="warehouseType !== 'ruku'">
                    <div class="col-3">
                        <bs-datepicker formControlName="rukuDateStart" [fc]="warehouseSearchForm.get('rukuDateStart')" [label]="'入库日期:'" [labelclass]="'col-4'" [inputclass]="'col-7'" [format]="'yyyy-mm-dd'"></bs-datepicker>
                    </div>
                    <div class="col-3">
                        <bs-datepicker formControlName="rukuDateEnd" [fc]="warehouseSearchForm.get('rukuDateEnd')" [label]="'至:'" [labelclass]="'col-1'" [inputclass]="'col-7'" [format]="'yyyy-mm-dd'"></bs-datepicker>
                    </div>
                    <div class="col-6">
                        <bs-select formControlName="rukuStatus" [fc]="warehouseSearchForm.get('rukuStatus')" [label]="'入库状态:'" [addAllOptions]="true" [options]="warehouseStatusList"></bs-select>
                    </div>
                </div>
                <div class="form-row " [hidden]="warehouseType !== 'ruku'">
                    <div class="col-6">
                        <bs-text-input formControlName="rukuAmount" [fc]="warehouseSearchForm.get('rukuAmount')" [type]="'number'" [label]="'入库吨数(吨)'" ></bs-text-input>
                    </div>
                    <div class="col-6">
                        <bs-text-input formControlName="rukuPrice" [fc]="warehouseSearchForm.get('rukuPrice')" [type]="'number'" [label]="'入库金额(元):'" ></bs-text-input>
                    </div>
                </div>
                <div class="form-row " [hidden]="warehouseType !== 'ruku'">
                    <div class="col-6">
                        <bs-select formControlName="trafficMode" [fc]="warehouseSearchForm.get('trafficMode')" [label]="'上游运输方式:'" [addAllOptions]="true" [options]="trafficModeList"></bs-select>
                    </div>
                </div>



                <div class="form-row " [hidden]="warehouseType !== 'chuku'">
                    <div class="col-3">
                        <bs-datepicker formControlName="chukuDateStart" [fc]="warehouseSearchForm.get('chukuDateStart')" [label]="'出库日期:'" [labelclass]="'col-4'" [inputclass]="'col-7'" [format]="'yyyy-mm-dd'"></bs-datepicker>
                    </div>
                    <div class="col-3">
                        <bs-datepicker formControlName="chukuDateEnd" [fc]="warehouseSearchForm.get('chukuDateEnd')" [label]="'至:'" [labelclass]="'col-1'" [inputclass]="'col-7'" [format]="'yyyy-mm-dd'"></bs-datepicker>
                    </div>
                </div>
                <div class="form-row " [hidden]="warehouseType !== 'chuku'">
                    <div class="col-6">
                        <bs-text-input formControlName="chukuAmount" [fc]="warehouseSearchForm.get('chukuAmount')" [type]="'number'" [label]="'出库吨数(吨)'" ></bs-text-input>
                    </div>
                    <div class="col-6">
                        <bs-text-input formControlName="chukuPrice" [fc]="warehouseSearchForm.get('chukuPrice')" [type]="'number'" [label]="'出库金额(元):'" ></bs-text-input>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-11 ml-auto">
                        <button type="button" class="btn btn-info " (click)="getWarehouseList()"  >查询</button>
                    </div>
                </div>
            </form>


            <table class="table table-bordered table-hover table-responsive" *ngIf="warehouseType==='ruku'">
                <thead>
                <tr>
                    <th>入库单ID</th>
                    <th>核算月</th>
                    <th>入库日期</th>
                    <th>入库状态</th>
                    <th>入库吨数(吨)</th>
                    <th>入库金额(元)</th>
                    <th>入库场地</th>

                    <th>上游运输方式</th>
                    <th>上游运输详细</th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let warehouse of warehouseInList; trackBy: trackByFn">
                    <td> {{warehouse.id}}</td>
                    <td> {{warehouse.hsId | findKey : unitList : 'name'}}</td>

                    <td> {{warehouse.rukuDate | slice : 0 : 10 }}</td>
                    <td> {{warehouse.rukuStatus | findKey : warehouseStatusList : 'name'}}</td>
                    <td> {{warehouse.rukuAmount }}</td>
                    <td> {{warehouse.rukuPrice }}</td>
                    <td> {{warehouse.locality }}</td>

                    <td> {{warehouse.trafficMode | findKey : trafficModeList : 'name'}}</td>
                    <td>
                        <span *ngIf="warehouse.trafficMode==='MOTOR'">汽运车数: {{warehouse.cars}}</span>
                        <span *ngIf="warehouse.trafficMode==='RAIL'">火运计划号: {{warehouse.jhh}}</span>
                        <span *ngIf="warehouse.trafficMode==='SHIP'">船运船号: {{warehouse.ship}}</span>
                    </td>
                    <td>
                        <button class="btn btn-link btn-sm" (click)="showForm(false, warehouse)"> 修改 </button>
                        <button class="btn btn-link btn-sm" (click)="deleteItem(warehouse)"> 删除 </button>
                    </td>
                </tr>

                <tr> <td colspan="10"> 累计入库吨数: {{totalRukuAmount}} - 累计入库金额: {{totalRukuPrice}}</tr>

                </tbody>
            </table>


            <table class="table table-bordered table-hover table-responsive" *ngIf="warehouseType==='chuku'">
                <thead>
                <tr>
                    <th>出库单ID</th>
                    <th>核算月</th>
                    <th>出库日期</th>
                    <th>出库吨数(吨)</th>
                    <th>出库金额(元)</th>
                    <th>出库场地</th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let warehouse of warehouseOutList; trackBy: trackByFn">
                    <td> {{warehouse.id}}</td>
                    <td> {{warehouse.hsId | findKey : unitList : 'name'}}</td>

                    <td> {{warehouse.chukuDate | slice : 0 : 10 }}</td>
                    <td> {{warehouse.chukuAmount }}</td>
                    <td> {{warehouse.chukuPrice }}</td>
                    <td> {{warehouse.locality }}</td>

                    <td>
                        <button class="btn btn-link btn-sm" (click)="showForm(false, warehouse)"> 修改 </button>
                        <bs-delete-prompt (confirmDel)="deleteItem(warehouse)"></bs-delete-prompt>
                    </td>
                </tr>
                <tr> <td colspan="7"> 累计出库吨数: {{totalChukuAmount.toFixed(2)}} - 累计出库金额: {{totalChukuPrice.toFixed(2)}}</tr>
                </tbody>
            </table>

        </div>



        <button type="button" class="btn btn-outline-info" *ngIf="!isShowForm" (click)="showForm(true)">添加</button>
