
        <form [formGroup]="repaymentForm" (ngSubmit)="repaymentFormSubmit()" (keydown.enter)="$event.preventDefault()" *ngIf="isShowForm">

            <bs-select formControlName="hsId" [fc]="repaymentForm.get('hsId')" [label]="'核算月:'" [dirty]="ignoreDirty"  [options]="unitList" [error]="repaymentFormError.hsId"></bs-select>

            <!--<bs-select formControlName ="huikuanCompanyId" [fc]="repaymentForm.get('huikuanCompanyId')" [label]="'回款公司:'" [dirty]="ignoreDirty" [options]="partyList" [error]="repaymentFormError.huikuanCompanyId"></bs-select>-->
            <bs-datepicker formControlName="huikuanDate" [fc]="repaymentForm.get('huikuanDate')" [label]="'回款日期:'" [error]="repaymentFormError.huikuanDate" [format]="'yyyy-mm-dd hh:MM:ss'"></bs-datepicker>
            <bs-text-input formControlName="huikuanAmount" [fc]="repaymentForm.get('huikuanAmount')" [type]="'number'" [label]="'回款总额(元):'" [dirty]="ignoreDirty" [error]="repaymentFormError.huikuanAmount"></bs-text-input>
            <bs-select formControlName="huikuanUsage" [fc]="repaymentForm.get('huikuanUsage')" [label]="'回款用途:'" [dirty]="ignoreDirty"  [options]="purposeList" [error]="repaymentFormError.huikuanUsage"></bs-select>
            <bs-select formControlName="huikuanMode" [fc]="repaymentForm.get('huikuanMode')" [label]="'回款方式:'" [dirty]="ignoreDirty"  [options]="payModeList" [error]="repaymentFormError.huikuanMode"></bs-select>


            <div [hidden]="repaymentForm.get('huikuanMode').value !== 'BANK_ACCEPTANCE'">
                <bs-radio formControlName ="huikuanBankPaper" [sourceList]="dataIsGot" [label]="'是否收到票据:'" [dirty]="ignoreDirty"  [error]="repaymentFormError.huikuanBankPaper"></bs-radio>
                <bs-datepicker formControlName="huikuanBankPaperDate" [fc]="repaymentForm.get('huikuanBankPaperDate')" [label]="'收到票据原件日期:'" [dirty]="ignoreDirty" [error]="repaymentFormError.huikuanBankPaperDate" [format]="'yyyy-mm-dd hh:MM:ss'"></bs-datepicker>
                <bs-datepicker formControlName="huikuanBankPaperExpire" [fc]="repaymentForm.get('huikuanBankPaperExpire')" [label]="'票据到期日:'" [dirty]="ignoreDirty" [error]="repaymentFormError.huikuanBankPaperExpire" [format]="'yyyy-mm-dd hh:MM:ss'"></bs-datepicker>
                <bs-radio formControlName ="huikuanBankDiscount" [sourceList]="dataIsGot" [label]="'是否贴息:'" [dirty]="ignoreDirty" [error]="repaymentFormError.huikuanBankDiscount"></bs-radio>
                <bs-text-input formControlName="huikuanBankDiscountRate" [fc]="repaymentForm.get('huikuanBankDiscountRate')" [type]="'number'" [label]="'贴息率(%):'" [prompt]="'百分比 例如88.88'" [percent]="true" [dirty]="ignoreDirty" [error]="repaymentFormError.huikuanBankDiscountRate"></bs-text-input>
            </div>


            <div [hidden]="repaymentForm.get('huikuanMode').value !== 'BUSINESS_ACCEPTANCE'">
                <bs-radio formControlName ="huikuanBusinessPaper" [sourceList]="dataIsGot" [label]="'是否收到票据:'" [dirty]="ignoreDirty" [error]="repaymentFormError.huikuanBusinessPaper"></bs-radio>
                <bs-datepicker formControlName="huikuanBusinessPaperDate" [fc]="repaymentForm.get('huikuanBusinessPaperDate')" [label]="'收到票据原件日期:'" [dirty]="ignoreDirty" [error]="repaymentFormError.huikuanBusinessPaperDate" [format]="'yyyy-mm-dd hh:MM:ss'"></bs-datepicker>
                <bs-datepicker formControlName="huikuanBusinessPaperExpire" [fc]="repaymentForm.get('huikuanBusinessPaperExpire')" [label]="'票据到期日:'" [dirty]="ignoreDirty" [error]="repaymentFormError.huikuanBusinessPaperExpire" [format]="'yyyy-mm-dd hh:MM:ss'"></bs-datepicker>
                <bs-radio formControlName ="huikuanBusinessDiscount" [sourceList]="dataIsGot" [label]="'是否贴息:'" [dirty]="ignoreDirty" [error]="repaymentFormError.huikuanBusinessDiscount"></bs-radio>
                <bs-text-input formControlName="huikuanBusinessPaperExpire" [fc]="repaymentForm.get('huikuanBusinessPaperExpire')" [type]="'number'" [label]="'贴息率(%):'" [prompt]="'百分比 例如88.88'" [percent]="true" [dirty]="ignoreDirty" [error]="repaymentFormError.huikuanBusinessPaperExpire"></bs-text-input>
            </div>


            <div class="form-group row">
                <div class="col-10 ml-auto">
                    <button type="submit" class="btn btn-info" >保存</button>
                    <button type="button" class="btn btn-outline-secondary" (click)="showForm(true)" >返回</button>
                </div>
            </div>
        </form>


        <div *ngIf="!isShowForm">
            <table class="table table-bordered table-hover table-responsive" >
                <thead>
                <tr>
                    <th>ID</th>
                    <th>核算月</th>

                    <th>回款公司</th>
                    <th>回款日期</th>
                    <th>回款总额</th>
                    <th>回款用途</th>
                    <th>回款方式</th>

                    <th>银行承兑/商业承兑详细</th>
                    <th title="每条回款-付款记录：计息天数 = 回款日期 - 付款日期 - 【买方结算】折扣天数">统计:计息天数</th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let repayment of repaymentList; trackBy: trackByFn">
                    <td> {{repayment.id}}</td>
                    <td> {{repayment.hsId | findKey : unitList : 'name'}}</td>

                    <td> {{repayment.huikuanCompanyId | findKey : partyList : 'name' }}</td>
                    <td> {{repayment.huikuanDate | findKey : purposeList : 'name' }}</td>
                    <td> {{repayment.huikuanAmount  }}</td>
                    <td> {{repayment.huikuanUsage | findKey : purposeList : 'name' }}</td>
                    <td> {{repayment.huikuanMode | findKey : payModeList : 'name' }}</td>

                    <td>
                        <span *ngIf="repayment.huikuanMode === 'BANK_ACCEPTANCE'">
                            收到票据:{{repayment.huikuanBankPaper ? '是' : '否'}} <br>
                            票据原件日期:{{repayment.huikuanBankPaperDate}} <br> 票据到期日:{{repayment.huikuanBankPaperExpire}} <br>
                            贴息: {{repayment.huikuanBankDiscount ? '是' : '否'}} / 贴息率:{{repayment.huikuanBankDiscountRate ? (repayment.huikuanBankDiscountRate * 100 | percent:'1.0-2' ): ''}}
                        </span>
                        <span *ngIf="repayment.huikuanMode === 'BUSINESS_ACCEPTANCE'">
                            收到票据:{{repayment.huikuanBusinessPaper ? '是' : '否'}} <br>
                            票据原件日期:{{repayment.huikuanBusinessPaperDate }} <br> 票据到期日:{{repayment.huikuanBusinessPaperExpire}} <br>
                            贴息:{{repayment.huikuanBusinessDiscount ? '是' : '否'}} / 贴息率:{{repayment.huikuanBusinessDiscountRate ? (repayment.huikuanBusinessDiscountRate * 100 || 0 | percent:'1.0-2') : ''}}
                        </span>
                    </td>

                    <td>
                        <button class="btn btn-link btn-sm" (click)="showForm(false, repayment)"> 修改 </button>
                        <button class="btn btn-link btn-sm" (click)="deleteItem(repayment)"> 删除 </button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>



        <button type="button" class="btn btn-outline-info" *ngIf="!isShowForm" (click)="showForm(true)">添加回款</button>
