

        <h3>
            参与商管理
            <button type="button" class="btn btn-outline-info btn-sm float-right" *ngIf="!isShowForm" (click)="showForm(true)">添加</button>
        </h3>


        <form [formGroup]="partyForm" (ngSubmit)="partyFormSubmit()" (keydown.enter)="$event.preventDefault()" *ngIf="isShowForm">

            <bs-text-input formControlName="name" [fc]="partyForm.get('name')" [type]="'text'" [label]="'公司名称:'" [dirty]="ignoreDirty" [error]="partyFormError.name"></bs-text-input>
            <bs-text-input formControlName ="shortName" [fc]="partyForm.get('shortName')" [type]="'text'" [label]="'公司简称:'" [dirty]="ignoreDirty" [error]="partyFormError.shortName"></bs-text-input>

            <bs-select formControlName ="partyType" [dirty]="ignoreDirty" [options]="partyType" [label]="'参与方类型:'" [error]="partyFormError.partyType"></bs-select>


            <div class="form-group row">
                <div class="col-10 ml-auto">
                    <button type="submit" class="btn btn-info" >保存</button>
                    <button type="button" class="btn btn-outline-secondary" (click)="showForm(true)" >返回</button>
                </div>
            </div>
        </form>


        <div *ngIf="!isShowForm">
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>简称</th>
                    <th>类型</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let party of partyList; trackBy: trackByFn">
                    <td> {{party.id}}</td>
                    <td> {{party.name}}</td>
                    <td> {{party.shortName}}</td>
                    <td>
                        <span *ngIf="party.partyType === 1"> ccs账务公司 </span>
                        <span *ngIf="party.partyType === 2"> 资金方 </span>
                        <span *ngIf="party.partyType === 3"> 外部 </span>
                    </td>
                    <td> <button class="btn btn-info btn-sm" (click)="showForm(false, party)"> 修改 </button></td>
                </tr>
                </tbody>
            </table>

            <bs-pagination [collectionSize]="pagination.total" [pageSize]="pagination.pageSize" [(page)]="pagination.pageNo" (pageChange)="getPartyList($event)"></bs-pagination>

        </div>

