

            <form [formGroup]="shippingForm" (ngSubmit)="shippingFormSubmit()" (keydown.enter)="$event.preventDefault()" *ngIf="isShowForm">

                <bs-select formControlName="hsId" [fc]="shippingForm.get('hsId')" [label]="'核算月:'" [dirty]="ignoreDirty" [options]="unitList" [error]="shippingFormError.hsId"></bs-select>
                <bs-datepicker formControlName="fyDate" [fc]="shippingForm.get('fyDate')" [label]="'发运日期:'" [format]="'yyyy-mm-dd hh:MM:ss'" [dirty]="ignoreDirty"  [error]="shippingFormError.fyDate" ></bs-datepicker>

                <bs-text-input formControlName="fyAmount" [fc]="shippingForm.get('fyAmount')" [type]="'number'" [label]="'发运吨数(吨):'" [dirty]="ignoreDirty" [error]="shippingFormError.fyAmount"></bs-text-input>
                <bs-select formControlName="arriveStatus" [fc]="shippingForm.get('arriveStatus')" [label]="'到场状态:'"  [options]="arriveStatusList" [error]="shippingFormError.arriveStatus"></bs-select>

                <bs-radio formControlName ="upstreamTrafficMode" [fc]="shippingForm.get('upstreamTrafficMode')" [label]="'上游运输方式:'" [dirty]="ignoreDirty" [sourceList]="trafficModeList" [error]="shippingFormError.upstreamTrafficMode" ></bs-radio>

                <bs-text-input formControlName="upstreamCars" [fc]="shippingForm.get('upstreamCars')" [type]="'number'" [label]="'上游汽运情况下的车数:'" [dirty]="ignoreDirty" [error]="shippingFormError.upstreamCars" [hidden]="shippingForm.get('upstreamTrafficMode').value !=='MOTOR' || businessType ==='ying'"></bs-text-input>
                <bs-text-input formControlName="upstreamJHH" [fc]="shippingForm.get('upstreamJHH')" [type]="'text'" [label]="'上游火运情况下的计划号:'" [dirty]="ignoreDirty" [error]="shippingFormError.upstreamJHH" [hidden]="shippingForm.get('upstreamTrafficMode').value !=='RAIL'"></bs-text-input>
                <bs-text-input formControlName="upstreamShip" [fc]="shippingForm.get('upstreamShip')" [type]="'text'" [label]="'上游船运情况下的船号:'" [dirty]="ignoreDirty" [error]="shippingFormError.upstreamShip" [hidden]="shippingForm.get('upstreamTrafficMode').value !=='SHIP'"></bs-text-input>


                <bs-radio formControlName ="downstreamTrafficMode" [fc]="shippingForm.get('downstreamTrafficMode')" [label]="'下游运输方式:'" [dirty]="ignoreDirty" [sourceList]="trafficModeList" [error]="shippingFormError.downstreamTrafficMode" ></bs-radio>

                <bs-text-input formControlName="downstreamCars" [fc]="shippingForm.get('downstreamCars')" [type]="'number'" [label]="'下游汽运情况下的车数:'" [dirty]="ignoreDirty" [error]="shippingFormError.downstreamCars" [hidden]="shippingForm.get('downstreamTrafficMode').value !=='MOTOR' || businessType ==='ying'"></bs-text-input>
                <bs-text-input formControlName="downstreamJHH" [fc]="shippingForm.get('downstreamJHH')" [type]="'text'" [label]="'下游火运情况下的计划号:'" [dirty]="ignoreDirty" [error]="shippingFormError.downstreamJHH" [hidden]="shippingForm.get('downstreamTrafficMode').value !=='RAIL'"></bs-text-input>
                <bs-text-input formControlName="downstreamShip" [fc]="shippingForm.get('downstreamShip')" [type]="'text'" [label]="'下游船运情况下的船号:'" [dirty]="ignoreDirty" [error]="shippingFormError.downstreamShip" [hidden]="shippingForm.get('downstreamTrafficMode').value !=='SHIP'"></bs-text-input>


                <div class="form-group row">
                    <div class="col-10 ml-auto">
                        <button type="submit" class="btn btn-info" >保存</button>
                        <button type="button" class="btn btn-outline-secondary" (click)="showForm(true)" >返回</button>
                    </div>
                </div>
            </form>



            <div *ngIf="!isShowForm">

                <form [formGroup]="shippingSearchForm"  (keydown.enter)="$event.preventDefault()">

                    <div class="form-row ">
                        <div class="col-6">
                            <bs-select formControlName="hsId" [fc]="shippingSearchForm.get('hsId')" [label]="'核算月:'" [addAllOptions]="true" [options]="unitList"></bs-select>
                        </div>
                        <div class="col-6">
                            <bs-select formControlName="arriveStatus" [fc]="shippingSearchForm.get('arriveStatus')" [label]="'到场状态:'" [addAllOptions]="true" [options]="arriveStatusList"></bs-select>
                        </div>
                    </div>

                    <div class="form-row ">
                        <div class="col-3">
                            <bs-datepicker formControlName="fyDateStart" [fc]="shippingSearchForm.get('fyDateStart')" [label]="'发运日期:'" [labelclass]="'col-4'" [inputclass]="'col-7'" [format]="'yyyy-mm-dd'"></bs-datepicker>
                        </div>
                        <div class="col-3">
                            <bs-datepicker formControlName="fyDateEnd" [fc]="shippingSearchForm.get('fyDateEnd')" [label]="'至:'" [labelclass]="'col-1'" [inputclass]="'col-7'" [format]="'yyyy-mm-dd'"></bs-datepicker>
                        </div>
                        <div class="col-6">
                            <bs-text-input formControlName="fyAmount" [fc]="shippingSearchForm.get('fyAmount')" [type]="'number'" [label]="'发运吨数(吨):'" ></bs-text-input>
                        </div>
                    </div>

                    <div class="form-row ">
                        <div class="col-6">
                            <bs-select formControlName="upstreamTrafficMode" [fc]="shippingSearchForm.get('upstreamTrafficMode')" [label]="'上游运输方式:'"  [addAllOptions]="true" [options]="trafficModeList"></bs-select>
                        </div>
                        <div class="col-6">
                            <bs-select formControlName="downstreamTrafficMode" [fc]="shippingSearchForm.get('downstreamTrafficMode')" [label]="'下游运输方式:'" [addAllOptions]="true" [options]="trafficModeList"></bs-select>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-11 ml-auto">
                            <button type="button" class="btn btn-info " (click)="getShippingList()"  >查询</button>
                        </div>
                    </div>
                </form>


                <table class="table table-bordered table-hover table-responsive" >
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>核算月</th>
                        <th>发运日期</th>
                        <th>发运吨数(吨)</th>
                        <th>到场状态</th>

                        <th>上游运输方式</th>
                        <th>上游运输详细</th>

                        <th>下游运输方式</th>
                        <th>下游运输详细</th>

                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let shipping of shippingList; trackBy: trackByFn">
                        <td> {{shipping.id}}</td>
                        <td> {{shipping.hsId | findKey : unitList : 'name'}}</td>
                        <td> {{shipping.fyDate | slice : 0 : 10  }}</td>
                        <td> {{shipping.fyAmount }}</td>
                        <td> {{shipping.arriveStatus | arriveStatus }}</td>

                        <td> {{shipping.upstreamTrafficMode | findKey : trafficModeList : 'name'}}</td>
                        <td>
                            <span *ngIf="shipping.upstreamTrafficMode==='MOTOR'">车数: {{shipping.upstreamCars}}</span>
                            <span *ngIf="shipping.upstreamTrafficMode==='RAIL'">计划号: {{shipping.upstreamJHH}}</span>
                            <span *ngIf="shipping.upstreamTrafficMode==='SHIP'">船号: {{shipping.upstreamShip}}</span>
                        </td>

                        <td> {{shipping.downstreamTrafficMode | findKey : trafficModeList : 'name'}}</td>
                        <td>
                            <span *ngIf="shipping.downstreamTrafficMode==='MOTOR'">车数: {{shipping.downstreamCars}}</span>
                            <span *ngIf="shipping.downstreamTrafficMode==='RAIL'">计划号: {{shipping.downstreamJHH}}</span>
                            <span *ngIf="shipping.downstreamTrafficMode==='SHIP'">船号: {{shipping.downstreamShip}}</span>
                        </td>
                        <td>
                            <button class="btn btn-link btn-sm" (click)="showForm(false, shipping)"> 修改 </button>
                            <bs-delete-prompt (confirmDel)="deleteItem(shipping)"></bs-delete-prompt>
                        </td>
                    </tr>
                    <tr> <td colspan="10">  累计发运吨数: {{totalAmount.toFixed(2) }}  </tr>
                    </tbody>
                </table>

            </div>



            <button type="button" class="btn btn-outline-info" *ngIf="!isShowForm" (click)="showForm(true)">添加发运单</button>
