

        <h3>
            团队管理
            <button type="button" class="btn btn-outline-info btn-sm float-right" *ngIf="!isShowForm" (click)="showForm(true)">添加</button>
        </h3>


        <form [formGroup]="teamForm" (ngSubmit)="teamFormSubmit()" (keydown.enter)="$event.preventDefault()" *ngIf="isShowForm">

            <bs-text-input formControlName="name" [fc]="teamForm.get('name')" [type]="'text'" [label]="'团队名称:'" [dirty]="ignoreDirty" [error]="teamFormError.name"></bs-text-input>

            <bs-select formControlName ="deptId" [fc]="teamForm.get('deptId')" [label]="'部门:'" [readOnly]="sessionUser.isAdmin ==='DEPT_ADMIN'" [dirty]="ignoreDirty" [options]="departmentList" [error]="teamFormError.deptId"></bs-select>


            <div class="form-group row">
                <div class="col-10 ml-auto">
                    <button type="submit" class="btn btn-info" >保存</button>
                    <button type="button" class="btn btn-outline-secondary" (click)="showForm(true)" >返回</button>
                </div>
            </div>
        </form>



        <div *ngIf="!isShowForm">
            <table class="table table-bordered table-hover table-responsive" >
                <thead>
                <tr>
                    <th>ID</th>
                    <th>团队名称</th>
                    <th>部门ID</th>
                    <th>部门</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let team of teamList; trackBy: trackByFn">
                    <td> {{team.id}}</td>
                    <td> {{team.name}}</td>
                    <td> {{team.deptId}}</td>
                    <td> {{team.deptId | findKey : departmentList : 'name' }}</td>
                    <td>
                        <button class="btn btn-info btn-sm" (click)="showForm(false, team)"> 修改 </button>
                        <button class="btn btn-danger btn-sm" (click)="deleteItem(team)"> 删除 </button></td>
                </tr>
                </tbody>
            </table>

            <bs-pagination [collectionSize]="pagination.total" [pageSize]="pagination.pageSize" [(page)]="pagination.pageNo" (pageChange)="getTeamList($event)"></bs-pagination>

        </div>

