<div id="loginWrap">
    <div class="loginContent">
        <p class="systemName">核算系统-登录</p>
        <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()">
            <bs-text-input formControlName="phone" [fc]="loginForm.get('phone')" [type]="'text'" [label]="'手机:'" [dirty]="ignoreDirty" [error]="loginFormError.phone"></bs-text-input>
            <bs-text-input formControlName="password" [fc]="loginForm.get('password')" [type]="'password'" [label]="'密码:'" [dirty]="ignoreDirty" [error]="loginFormError.password"></bs-text-input>
            <button>登录</button>
        </form>
    </div>
</div>
<app-bs-modal></app-bs-modal>
<simple-notifications></simple-notifications>
