
<div class="row justify-content-center mt-4">
    <div class="col-10 col-lg-6">

        <H1> 登陆 </H1>
        <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()">

            <bs-text-input formControlName="username" [fc]="loginForm.get('username')" [type]="'text'" [label]="'用户名:'" [dirty]="ignoreDirty" [error]="loginFormError.username"></bs-text-input>
            <bs-text-input formControlName="password" [fc]="loginForm.get('password')" [type]="'password'" [label]="'密码:'" [dirty]="ignoreDirty" [error]="loginFormError.password"></bs-text-input>

            <div class="form-group row">
                <div class="col-10 ml-auto">
                    <button type="submit" class="btn btn-info" >登陆</button>
                </div>
            </div>
        </form>

    </div>


</div>

<app-bs-modal></app-bs-modal>
<simple-notifications></simple-notifications>
