.select_input {
    padding-right: 20px;
}
.select_input_arrow {
    position: absolute;
    top : 5px;
    right: 18px;
    font-size: 2em;
    transition: transform 0.2s linear;
}

.arrow_up {
    transform: rotate(180deg);
}

.options_box {
    position: absolute;
    width: 96%;
    padding-left: 1px;
    z-index: 99;
    box-shadow: 0px 5px 5px rgba(0,0,0,.2);
}

.options_box .list-group-item {
    border-radius: 0;
    padding: 6px 1.25rem;
}
.options_box li:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}
.options_box .active{
    background-color: #03b7f1!important;
    border-color: transparent;
}
