:host {
    position: relative;
}

.delete-prompt {
    position: absolute;
    top: -58px;
    left: -36px;
    width: 116px;
    padding: 8px;
    background-color: white;

    border-radius: 0px;

    border: 1px solid #999999;
}

.delete-prompt:before {
    position: absolute;
    left: 40%;
    top: 47px;
    content:"\A";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 12px 0 12px;
    border-color: #adbac7 transparent transparent transparent;

}
