

            <form [formGroup]="paymentForm" (ngSubmit)="paymentFormSubmit()" (keydown.enter)="$event.preventDefault()" *ngIf="isShowForm">

                <bs-select formControlName="hsId" [fc]="paymentForm.get('hsId')" [label]="'核算月:'" [dirty]="ignoreDirty" [options]="unitList" [error]="paymentFormError.hsId"></bs-select>

                <div class="form-group row">
                    <div class="col-10 ml-auto">
                        <p *ngIf="paymentForm.get('hsId').value">
                            本月最高付款金额: {{ unitListStatObject[paymentForm.get('hsId').value]?.maximumPaymentAmount ?  unitListStatObject[paymentForm.get('hsId').value]?.maximumPaymentAmount : '暂无' }}
                            -  本月累计付款金额: {{ unitListStatObject[paymentForm.get('hsId').value]?.unitTotalPaymentAmount ?  unitListStatObject[paymentForm.get('hsId').value]?.unitTotalPaymentAmount : '暂无' }}
                            -  业务累计付款金额: {{ unitListStatObject[paymentForm.get('hsId').value]?.accumulativePaymentAmount ?  unitListStatObject[paymentForm.get('hsId').value]?.accumulativePaymentAmount : '暂无' }}
                            -  本次应付货款金额: {{ unitListStatObject[paymentForm.get('hsId').value]?.amountCargoOfThisTime ?  unitListStatObject[paymentForm.get('hsId').value]?.amountCargoOfThisTime : '暂无' }}
                        </p>
                    </div>
                </div>


                <bs-datepicker formControlName="payDate" [fc]="paymentForm.get('payDate')" [label]="'付款日期:'" [format]="'yyyy-mm-dd hh:MM:ss'" [dirty]="ignoreDirty" [error]="paymentFormError.payDate" (outputChange)="selectPayDate($event)"></bs-datepicker>

                <bs-select formControlName ="receiveCompanyId" [fc]="paymentForm.get('receiveCompanyId')" [label]="'收款单位:'" [editable]="true" [dirty]="ignoreDirty" [options]="party.normal" [error]="paymentFormError.receiveCompanyId"></bs-select>
                <bs-select formControlName="payUsage" [fc]="paymentForm.get('payUsage')" [label]="'付款用途:'" [dirty]="ignoreDirty"  [options]="purposeList" [error]="paymentFormError.payUsage"></bs-select>
                <bs-select formControlName="payMode" [fc]="paymentForm.get('payMode')" [label]="'付款方式:'" [dirty]="ignoreDirty"  [options]="payModeList" [error]="paymentFormError.payMode"></bs-select>

                <bs-text-input formControlName="payAmount" [fc]="paymentForm.get('payAmount')" [type]="'number'" [label]="'付款金额(元):'" [dirty]="ignoreDirty" [error]="paymentFormError.payAmount" (change)="changePayAmount()"></bs-text-input>

                <bs-select formControlName ="capitalId" [fc]="paymentForm.get('capitalId')" [label]="'资金方:'" [dirty]="ignoreDirty"  [options]="party.capital" [error]="paymentFormError.capitalId" [hidden]="!isAddNew"></bs-select>

                <div [hidden]="paymentForm.get('capitalId').value === currentOrder.mainAccounting || !isAddNew">
                    <bs-datepicker formControlName="jiekuanDate" [fc]="paymentForm.get('jiekuanDate')" [label]="'借款日期:'" [format]="'yyyy-mm-dd hh:MM:ss'" [dirty]="ignoreDirty" [error]="paymentFormError.jiekuanDate"></bs-datepicker>
                    <bs-text-input formControlName="amount" [fc]="paymentForm.get('amount')" [type]="'number'" [label]="'借款金额(元):'" [dirty]="ignoreDirty" [error]="paymentFormError.amount"></bs-text-input>

                    <bs-text-input formControlName="useInterest" [fc]="paymentForm.get('useInterest')" [type]="'number'" [label]="'外部资金使用利率(%):'" [prompt]="'百分比 例如88.88'" [percent]="true" [dirty]="ignoreDirty" [error]="paymentFormError.useInterest"></bs-text-input>
                    <bs-text-input formControlName="useDays" [fc]="paymentForm.get('useDays')" [type]="'number'" [label]="'外部资金使用天数:'" [dirty]="ignoreDirty" [error]="paymentFormError.useDays"></bs-text-input>
                </div>


                <div class="form-group row">
                    <div class="col-10 ml-auto">
                        <button type="submit" class="btn btn-info" >保存</button>
                        <button type="button" class="btn btn-outline-secondary" (click)="showForm(true)" >返回</button>
                    </div>
                </div>
            </form>



            <div *ngIf="!isShowForm">

                <form [formGroup]="paymentSearchForm"  (keydown.enter)="$event.preventDefault()">

                    <div class="form-row ">
                        <div class="col-6">
                            <bs-select formControlName="hsId" [fc]="paymentSearchForm.get('hsId')" [label]="'核算月:'" [addAllOptions]="true" [options]="unitList"></bs-select>
                        </div>
                        <div class="col-3">
                            <bs-datepicker formControlName="payDateStart" [fc]="paymentSearchForm.get('payDateStart')" [label]="'付款日期:'" [labelclass]="'col-4'" [inputclass]="'col-7'" [format]="'yyyy-mm-dd'"></bs-datepicker>
                        </div>
                        <div class="col-3">
                            <bs-datepicker formControlName="payDateEnd" [fc]="paymentSearchForm.get('payDateEnd')" [label]="'至:'" [labelclass]="'col-1'" [inputclass]="'col-7'" [format]="'yyyy-mm-dd'"></bs-datepicker>
                        </div>

                    </div>

                    <div class="form-row ">

                        <div class="col-6">
                            <bs-select formControlName="receiveCompanyId" [fc]="paymentSearchForm.get('receiveCompanyId')" [label]="'收款单位:'" [addAllOptions]="true" [options]="party.orderIncluded"></bs-select>
                        </div>
                        <div class="col-6">
                            <bs-select formControlName="capitalId" [fc]="paymentSearchForm.get('capitalId')" [label]="'资金方:'" [addAllOptions]="true" [options]="party.normal"></bs-select>
                        </div>
                    </div>

                    <div class="form-row ">

                        <div class="col-6">
                            <bs-select formControlName="payUsage" [fc]="paymentSearchForm.get('payUsage')" [label]="'付款用途:'" [addAllOptions]="true" [options]="purposeList"></bs-select>
                        </div>
                        <div class="col-6">
                            <bs-select formControlName="payMode" [fc]="paymentSearchForm.get('payMode')" [label]="'付款方式:'" [addAllOptions]="true" [options]="payModeList"></bs-select>
                        </div>
                        <div class="col-6">
                            <bs-text-input formControlName="payAmount" [fc]="paymentSearchForm.get('payAmount')" [type]="'number'" [label]="'付款金额(元):'" ></bs-text-input>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-11 ml-auto">
                            <button type="button" class="btn btn-info " (click)="getPaymentList()"  >查询</button>
                        </div>
                    </div>
                </form>


                <table class="table table-bordered table-hover table-responsive" >
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>核算月</th>
                        <th>付款日期</th>

                        <th>收款单位</th>
                        <th>付款用途</th>
                        <th>付款金额</th>
                        <th>付款方式</th>

                        <th>资金方</th>
                        <!--<th>外部资金使用利率/天数</th>-->

                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let payment of paymentList; trackBy: trackByFn">
                        <td> {{payment.id}}</td>
                        <td> {{payment.hsId | findKey : unitList : 'name'}}</td>
                        <td> {{payment.payDate | slice : 0 : 10 }}</td>

                        <td> {{payment.receiveCompanyId | findKey : party.normal : 'name' }}</td>
                        <td> {{payment.payUsage | findKey : purposeList : 'name' }}</td>
                        <td> {{payment.payAmount  }}</td>
                        <td> {{payment.payMode | findKey : payModeList : 'name' }}</td>

                        <td> {{payment.capitalId | findKey : party.normal : 'name'}}</td>
                        <!--<td> {{payment.useInterest }} / {{payment.useDays }} </td>-->

                        <td>
                            <button class="btn btn-link btn-sm" (click)="showForm(false, payment)"> 修改 </button>
                            <bs-delete-prompt (confirmDel)="deleteItem(payment)"></bs-delete-prompt>
                        </td>
                    </tr>

                    <tr> <td colspan="7"> 累计付款金额: {{totalPayAmount.toFixed(2)}} </tr>

                    </tbody>
                </table>

            </div>



            <button type="button" class="btn btn-outline-info" *ngIf="!isShowForm" (click)="showForm(true)">添加付款单</button>
