

            <form [formGroup]="repaymentHKForm" (ngSubmit)="repaymentHKFormSubmit()" (keydown.enter)="$event.preventDefault()" *ngIf="isShowForm">

                <bs-select formControlName="hsId" [fc]="repaymentHKForm.get('hsId')" [label]="'核算月:'" [dirty]="ignoreDirty" [options]="unitList" [error]="repaymentHKFormError.hsId"></bs-select>
                <bs-select formControlName="skCompanyId" [fc]="repaymentHKForm.get('skCompanyId')" [label]="'资金方:'" [dirty]="ignoreDirty" [options]="partyList" [error]="repaymentHKFormError.skCompanyId"></bs-select>
                <bs-datepicker formControlName="huankuankDate" [fc]="repaymentHKForm.get('huankuankDate')" [label]="'还款日期:'" [dirty]="ignoreDirty" [error]="repaymentHKFormError.huankuankDate" [format]="'yyyy-mm-dd hh:MM:ss'"></bs-datepicker>

                <bs-text-input formControlName="huankuanPrincipal" [fc]="repaymentHKForm.get('huankuanPrincipal')" [type]="'number'" [label]="'还款本金:'" [dirty]="ignoreDirty" [error]="repaymentHKFormError.huankuanPrincipal"></bs-text-input>
                <bs-text-input formControlName="huankuanInterest" [fc]="repaymentHKForm.get('huankuanInterest')" [type]="'number'" [label]="'还款利息:'" [dirty]="ignoreDirty" [error]="repaymentHKFormError.huankuanInterest" ></bs-text-input>
                <bs-text-input formControlName="huankuanFee" [fc]="repaymentHKForm.get('huankuanFee')" [type]="'text'" [label]="'还款服务费:'" [dirty]="ignoreDirty" [error]="repaymentHKFormError.huankuanFee" ></bs-text-input>

                <div class="form-group row">
                    <label class="col-2 col-form-label" >对应付款:</label>

                    <div class="col-8">

                        <form [formGroup]="paymentForm"  (keydown.enter)="$event.preventDefault()">

                            <div class="form-row ">
                                <div class="col-10" >

                                    <ul class="list-group" >
                                        <li class="list-group-item mb-2" *ngFor=" let payment of paymentPostList">
                                            ID:{{payment.id}} 付款日期:{{payment.payDate}} 收款单位:{{payment.receiveCompanyId | findKey:partyList:'name'}}
                                            金额:{{payment.payAmount}} 付款方式:{{payment.payMode}}
                                            对应本金:{{payment.principal}} 对应利息:{{payment.interest}}
                                            <button type="button" class="ml-4 btn btn-outline-danger btn-sm" (click)="delPayment(payment)"> x </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <div class="form-row ">
                                <div class="col-7">
                                    <bs-select formControlName ="id" [fc]="paymentForm.get('id')" [labelclass]="'d-none'" [inputclass]="'col-12'" [prompt]="'请选择付款:'" [options]="paymentDropDownList" [error]="paymentFormError.id"></bs-select>
                                </div>

                                <div class="col-2">
                                    <bs-text-input formControlName="principal" [fc]="paymentForm.get('principal')" [type]="'text'" [prompt]="'本金:'" [labelclass]="'d-none'" [inputclass]="'col-12'" [dirty]="ignoreDirtyPayment" [error]="paymentFormError.principal"></bs-text-input>
                                </div>
                                <div class="col-2">
                                    <bs-text-input formControlName="interest" [fc]="paymentForm.get('interest')" [type]="'text'" [prompt]="'利息:'" [labelclass]="'d-none'" [inputclass]="'col-12'" [dirty]="ignoreDirtyPayment" [error]="paymentFormError.interest"></bs-text-input>
                                </div>

                                <div class="col-1">
                                    <button type="button" class="btn btn-info" (click)="createNewPayment()">添加</button>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-10 ml-auto">

                        <button type="submit" class="btn btn-info" >保存 </button>
                        <button type="button" class="btn btn-outline-secondary" (click)="showForm(true)" >返回</button>
                    </div>
                </div>
            </form>



            <div *ngIf="!isShowForm">
                <table class="table table-bordered table-hover table-responsive" >
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>核算月</th>
                        <th>资金方</th>

                        <th>还款日期</th>
                        <th>还款本金</th>
                        <th>还款利息</th>
                        <th>还款服务费</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let shipping of shippingList; trackBy: trackByFn">
                        <td> {{shipping.id}}</td>
                        <td> {{shipping.hsId | findKey : unitList : 'name'}}</td>
                        <td> {{shipping.skCompanyId | findKey : partyList : 'name'}}</td>

                        <td> {{shipping.huankuankDate }}</td>
                        <td> {{shipping.huankuanPrincipal }}</td>
                        <td> {{shipping.huankuanInterest }}</td>
                        <td> {{shipping.huankuanFee}}</td>

                        <td>
                            <!--<button class="btn btn-info btn-sm" (click)="showForm(false, shipping)"> 修改 </button>-->
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>



            <button type="button" class="btn btn-outline-info" *ngIf="!isShowForm" (click)="showForm(true)">添加还款</button>
