

            <form [formGroup]="repaymentHKForm" (ngSubmit)="repaymentHKFormSubmit()" (keydown.enter)="$event.preventDefault()" *ngIf="isShowForm">

                <bs-select formControlName="hsId" [fc]="repaymentHKForm.get('hsId')" [label]="'核算月:'"  [options]="unitList" [error]="repaymentHKFormError.hsId"></bs-select>
                <bs-select formControlName="skCompanyId" [fc]="repaymentHKForm.get('skCompanyId')" [label]="'资金方:'"  [options]="partyList" [error]="repaymentHKFormError.skCompanyId"></bs-select>
                <bs-datepicker formControlName="huankuankDate" [fc]="repaymentHKForm.get('huankuankDate')" [label]="'还款日期:'" [error]="repaymentHKFormError.huankuankDate"></bs-datepicker>

                <bs-text-input formControlName="huankuanAmount" [fc]="repaymentHKForm.get('huankuanAmount')" [type]="'number'" [label]="'还款总额:'" [dirty]="ignoreDirty" [error]="repaymentHKFormError.huankuanAmount"></bs-text-input>
                <bs-text-input formControlName="huankuanInterest" [fc]="repaymentHKForm.get('huankuanInterest')" [type]="'number'" [label]="'还款利息:'" [dirty]="ignoreDirty" [error]="repaymentHKFormError.huankuanInterest" ></bs-text-input>
                <bs-text-input formControlName="huankuanFee" [fc]="repaymentHKForm.get('huankuanFee')" [type]="'text'" [label]="'还款服务费:'" [dirty]="ignoreDirty" [error]="repaymentHKFormError.huankuanFee" ></bs-text-input>

                <div class="form-group row">
                    <div class="col-10 ml-auto">
                        <button type="submit" class="btn btn-info" >保存</button>
                        <button type="button" class="btn btn-outline-secondary" (click)="showForm(true)" >返回</button>
                    </div>
                </div>
            </form>



            <div *ngIf="!isShowForm">
                <table class="table table-bordered table-hover table-responsive" >
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>核算月</th>
                        <th>资金方</th>

                        <th>还款日期</th>
                        <th>还款总额</th>
                        <th>还款利息</th>
                        <th>还款服务费</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let shipping of shippingList; trackBy: trackByFn">
                        <td> {{shipping.id}}</td>
                        <td> {{shipping.hsId | findKey : unitList : 'name'}}</td>
                        <td> {{shipping.skCompanyId | findKey : partyList : 'name'}}</td>

                        <td> {{shipping.huankuankDate }}</td>
                        <td> {{shipping.huankuanAmount }}</td>
                        <td> {{shipping.huankuanInterest }}</td>
                        <td> {{shipping.huankuanFee}}</td>

                        <td> <button class="btn btn-info btn-sm" (click)="showForm(false, shipping)"> 修改 </button></td>
                    </tr>
                    </tbody>
                </table>

            </div>



            <button type="button" class="btn btn-outline-info" *ngIf="!isShowForm" (click)="showForm(true)">添加还款</button>
