<div class="form-group row" >
    <label class="{{labelClass}} col-form-label">{{label}}</label>
    <div class="pt-1 {{inputClass}}" [class.custom-controls-stacked]="stacked">

        <label class="custom-control custom-radio" *ngFor="let option of sourceList; let i = index">
            <input id="radio_id{{i}}" name="bs-radio_{{radioId}}" type="radio" class="custom-control-input" [checked]="value.id === option.id" [class.is-invalid]="error"  (click)="chooseRadio(option)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{option.name}}</span>
        </label>

        <div class="invalid-feedback d-block" *ngIf="error">
            <span *ngIf="error"> {{error}} </span>
            <span *ngIf="!error">
                <span *ngIf="currentFormControl.hasError('required')"> 该项是必填项！</span>
            </span>
        </div>
    </div>

</div>

