
        <form [formGroup]="depositForm" (ngSubmit)="depositFormSubmit()" (keydown.enter)="$event.preventDefault()" *ngIf="isShowForm">

            <bs-select formControlName="hsId" [fc]="depositForm.get('hsId')" [label]="'核算月:'" [dirty]="ignoreDirty"  [options]="unitList" [error]="depositFormError.hsId"></bs-select>

            <bs-datepicker formControlName="bailDate" [fc]="depositForm.get('bailDate')" [label]="'交纳日期:'" [format]="'yyyy-mm-dd hh:MM:ss'" [dirty]="ignoreDirty"  [error]="depositFormError.bailDate" ></bs-datepicker>
            <bs-select formControlName ="bailType" [fc]="depositForm.get('bailType')" [label]="'保证金类型:'" [dirty]="ignoreDirty" [options]="depositTypeList" [error]="depositFormError.bailType"></bs-select>
            <bs-text-input formControlName="bailAmount" [fc]="depositForm.get('bailAmount')" [type]="'number'" [label]="'保证金金额(元):'" [dirty]="ignoreDirty" [error]="depositFormError.bailAmount" [hidden]="!isAddNew"></bs-text-input>
            <bs-text-input formControlName="memo" [fc]="depositForm.get('memo')" [type]="'textarea'" [label]="'备注:'"  [dirty]="ignoreDirty" [error]="depositFormError.memo" ></bs-text-input>

            <bs-select formControlName ="openCompanyId" [fc]="depositForm.get('openCompanyId')" [label]="'付款单位:'" [dirty]="ignoreDirty" [editable]="true" [options]="party.normal" [error]="depositFormError.openCompanyId" ></bs-select>
            <bs-select formControlName ="receiverId" [fc]="depositForm.get('receiverId')" [label]="'收款单位:'" [dirty]="ignoreDirty" [options]="party.orderIncluded" [error]="depositFormError.receiverId" ></bs-select>


            <div class="form-group row">
                <div class="col-10 ml-auto">
                    <button type="submit" class="btn btn-info" >保存</button>
                    <button type="button" class="btn btn-outline-secondary" (click)="showForm(true)" >返回</button>
                </div>
            </div>
        </form>


        <div *ngIf="!isShowForm">

            <form [formGroup]="depositSearchForm"  (keydown.enter)="$event.preventDefault()">

                <div class="form-row ">
                    <div class="col-6">
                        <bs-select formControlName="hsId" [fc]="depositSearchForm.get('hsId')" [label]="'核算月:'" [addAllOptions]="true" [options]="unitList"></bs-select>
                    </div>
                    <div class="col-6">
                        <bs-select formControlName="bailType" [fc]="depositSearchForm.get('bailType')" [label]="'保证金类型:'" [addAllOptions]="true" [options]="depositTypeList"></bs-select>
                    </div>
                </div>

                <div class="form-row ">
                    <div class="col-3">
                        <bs-datepicker formControlName="bailDateStart" [fc]="depositSearchForm.get('bailDateStart')" [label]="'交纳日期:'" [labelclass]="'col-4'" [inputclass]="'col-7'" [format]="'yyyy-mm-dd'"></bs-datepicker>
                    </div>
                    <div class="col-3">
                        <bs-datepicker formControlName="bailDateEnd" [fc]="depositSearchForm.get('bailDateEnd')" [label]="'至:'" [labelclass]="'col-1'" [inputclass]="'col-7'" [format]="'yyyy-mm-dd'"></bs-datepicker>
                    </div>
                    <div class="col-6">
                        <bs-text-input formControlName="bailAmount" [fc]="depositSearchForm.get('bailAmount')" [type]="'number'" [label]="'保证金金额(元):'" ></bs-text-input>
                    </div>
                </div>

                <div class="form-row ">
                    <div class="col-6">
                        <bs-select formControlName="openCompanyId" [fc]="depositSearchForm.get('openCompanyId')" [label]="'付款单位:'" [editable]="true" [addAllOptions]="true" [options]="party.normal"></bs-select>
                    </div>
                    <div class="col-6">
                        <bs-select formControlName="receiverId" [fc]="depositSearchForm.get('receiverId')" [label]="'收款单位:'" [addAllOptions]="true" [options]="party.orderIncluded"></bs-select>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-11 ml-auto">
                        <button type="button" class="btn btn-info " (click)="getDepositList()"  >查询</button>
                    </div>
                </div>
            </form>

            <table class="table table-bordered table-hover table-responsive" >
                <thead>
                <tr>
                    <th>ID</th>
                    <th>核算月</th>

                    <th>交纳时间</th>
                    <th>类型</th>
                    <th>保证金金额(元)</th>
                    <th>付款单位</th>
                    <th>收款单位</th>
                    <th>备注</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let deposit of depositList; trackBy: trackByFn">
                    <td> {{deposit.id}}</td>
                    <td> {{deposit.hsId | findKey : unitList : 'name'}}</td>

                    <td> {{deposit.bailDate | slice : 0 : 10  }}</td>
                    <td> {{deposit.bailType | findKey : depositTypeList : 'name' }}</td>
                    <td> {{deposit.bailAmount  }}</td>
                    <td> {{deposit.openCompanyId | findKey : party.normal : 'name' }}</td>
                    <td> {{deposit.receiverId | findKey : party.normal : 'name' }}</td>
                    <td> {{deposit.memo }}</td>

                    <td>
                        <button class="btn btn-link btn-sm" (click)="showForm(false, deposit)"> 修改 </button>
                        <bs-delete-prompt (confirmDel)="deleteItem(deposit)">删除</bs-delete-prompt>
                    </td>
                </tr>
                <tr> <td colspan="8"> 累计保证金金额: {{totalBailAmount.toFixed(2)}}</tr>

                </tbody>
            </table>

        </div>



        <button type="button" class="btn btn-outline-info" *ngIf="!isShowForm" (click)="showForm(true)">添加保证金</button>
