<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimei.hs.same.mapper.FeeMapper">
    <resultMap id="BaseResultMap" type="com.yimei.hs.same.entity.Fee">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="orderId" jdbcType="BIGINT" property="orderId"/>
        <result column="hsId" jdbcType="BIGINT" property="hsId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="quantity" jdbcType="DECIMAL" property="quantity"/>
        <result column="otherPartyId" jdbcType="BIGINT" property="otherPartyId"/>
        <result column="tsc" jdbcType="TIMESTAMP" property="tsc"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, orderId, hsId, otherPartyId,quantity,name, amount, tsc, tsu
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from hs_same_fee
        where id = #{id,jdbcType=BIGINT} and deleted = 0
    </select>

    <!-- 获取费用分页 -->
    <select id="getPage" resultType="com.yimei.hs.same.entity.Fee">
        select
        <include refid="Base_Column_List"/>
        FROM hs_same_fee
        <where>
            <if test="true">deleted = 0</if>
            <if test="orderId!=null">AND orderId = #{orderId, jdbcType=BIGINT}</if>
            <if test="quantity!=null">AND quantity = #{quantity, jdbcType=DECIMAL}</if>
            <if test="otherPartyId!=null">AND otherPartyId = #{otherPartyId, jdbcType=BIGINT}</if>
            <if test="hsId!=null">AND hsId = #{hsId, jdbcType=BIGINT}</if>
            <if test="name!=null">AND name = #{name, jdbcType=VARCHAR}</if>
            <if test="amount!=null">AND amount= #{amount, jdbcType=VARCHAR}</if>
        </where>
    </select>
    <select id="selectByPrimaryKeyDeleted" resultType="com.yimei.hs.same.entity.Fee">
        select
        <include refid="Base_Column_List"/>
        from hs_same_fee
        where id = #{id,jdbcType=BIGINT} and deleted = 1
    </select>


    <!-- 物理删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM hs_same_fee
        WHERE id = #{id,jdbcType=BIGINT} and deleted =0
    </delete>

    <!-- 逻辑删除 -->
    <update id="delete" parameterType="java.lang.Long">
        UPDATE hs_same_fee
        SET deleted = 1, tsu = current_timestamp
        WHERE id = #{id,jdbcType=BIGINT} and deleted=0
    </update>

    <insert id="insert" parameterType="com.yimei.hs.same.entity.Fee" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO hs_same_fee (
            id,
            orderId,
            hsId,
            otherPartyId,
            quantity,
            name,
            amount,
            tsc
        )
        VALUES (
            #{id,jdbcType=BIGINT},
            #{orderId,jdbcType=BIGINT},
            #{hsId,jdbcType=BIGINT},
            #{otherPartyId,jdbcType=BIGINT},
            #{quantity,jdbcType=DECIMAL},
            #{name,jdbcType=VARCHAR},
            #{amount,jdbcType=DECIMAL},
            #{tsc,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.yimei.hs.same.entity.Fee" keyProperty="id"
            useGeneratedKeys="true">
        insert into hs_same_fee
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="orderId != null">orderId,</if>
            <if test="hsId != null">hsId,</if>
            <if test="name != null">name,</if>
            <if test="otherPartyId != null">otherPartyId,</if>
            <if test="quantity != null">quantity,</if>
            <if test="amount != null">amount,</if>
            <if test="tsc != null">tsc,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=BIGINT},</if>
            <if test="orderId != null">#{orderId,jdbcType=BIGINT},</if>
            <if test="hsId != null">#{hsId,jdbcType=BIGINT},</if>
            <if test="name != null">#{name,jdbcType=VARCHAR},</if>
            <if test="otherPartyId != null">#{otherPartyId,jdbcType=BIGINT},</if>
            <if test="quantity != null">#{quantity,jdbcType=DECIMAL},</if>
            <if test="amount != null">#{amount,jdbcType=DECIMAL},</if>
            <if test="tsc != null">#{tsc,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yimei.hs.same.entity.Fee">
        update hs_same_fee
        <set>
            <if test="orderId != null">orderId = #{orderId,jdbcType=BIGINT},</if>
            <if test="hsId != null">hsId = #{hsId,jdbcType=BIGINT},</if>
            <if test="name != null">name = #{name,jdbcType=VARCHAR},</if>
            <if test="amount != null">amount = #{amount,jdbcType=DECIMAL},</if>
            <if test="otherPartyId!= null">otherPartyId = #{otherPartyId,jdbcType=BIGINT},</if>
            <if test="quantity != null">quantity = #{quantity,jdbcType=DECIMAL},</if>
            <if test="tsc != null">tsc = #{tsc,jdbcType=TIMESTAMP},</if>
            <if test="true">tsu = current_timestamp,</if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yimei.hs.same.entity.Fee">
        UPDATE hs_same_fee
        SET orderId = #{orderId,jdbcType=BIGINT},
            hsId    = #{hsId,jdbcType=BIGINT},
            name    = #{name,jdbcType=VARCHAR},
            amount  = #{amount,jdbcType=DECIMAL},
            otherPartyId= #{otherPartyId,jdbcType=BIGINT},
            quantity = #{quantity,jdbcType=DECIMAL},
            tsc     = #{tsc,jdbcType=TIMESTAMP},
            tsu     = current_timestamp
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

</mapper>