<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimei.hs.same.mapper.HuankuanMapper">
    <resultMap id="BaseResultMap" type="com.yimei.hs.same.entity.Huankuan">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="orderId" jdbcType="BIGINT" property="orderId"/>
        <result column="hsId" jdbcType="BIGINT" property="hsId"/>
        <result column="huankuankDate" jdbcType="TIMESTAMP" property="huankuankDate"/>
        <result column="tsc" jdbcType="TIMESTAMP" property="tsc"/>
        <result column="promise" jdbcType="TINYINT" property="promise"/>
    </resultMap>

    <!-- 还款， 以及其关联的付款 -->
    <resultMap id="HuankuanResultMap" type="com.yimei.hs.same.entity.Huankuan" autoMapping="true">
        <result property="id" column="t1Id"/>
        <collection property="jiekuanList" javaType="ArrayList" ofType="com.yimei.hs.same.entity.Jiekuan"
                    autoMapping="true">
            <id property="id" column="t2Id"/>
            <id property="tsc" column="t2tsc"/>
        </collection>
        <collection property="huankuanMapList" javaType="ArrayList" ofType="com.yimei.hs.same.entity.HuankuanMap"
                    autoMapping="true"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, orderId, hsId, huankuankDate, deleted, tsc, tsu
    </sql>

    <!-- 获取还款记录, 以及还款记录对应的还款明细集合， 以及对应的借款集合-->
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="HuankuanResultMap">
        SELECT
            t1.id  AS  t1Id,
            t1.orderId,
            t1.hsId,
            t1.promise,
            t1.huankuankDate,
            t1.tsc,

            map.principal ,
            map.interest ,
            map.fee,

            t2.id AS t2Id,
            t2.fukuanId ,
            t2.hsId ,
            t2.amount,
            t2.jiekuanDate,
            t2.capitalId ,
            t2.useInterest,
            t2.useDays

        FROM hs_same_huankuan t1
            LEFT JOIN hs_same_huankuan_map map ON t1.id = map.huankuanId
            LEFT JOIN hs_same_jiekuan t2 ON map.jiekuanId = t2.id
        WHERE t1.id = #{id,jdbcType=BIGINT} AND t1.deleted = 0
    </select>

    <!--获取一页数据, 需要手动关联还款记录对应的还款明细集合， 以及对应的借款集合-->
    <select id="getPage" resultType="com.yimei.hs.same.entity.Huankuan">
        select
        t1.id,
        t1.orderId,
        t1.hsId,
        t1.promise,
        t1.huankuankDate,
        t1.tsc
        from hs_same_huankuan t1
        <where>
            <if test="true">AND t1.deleted = 0</if>
            <if test="orderId!=null">AND t1.orderId=#{orderId}</if>
            <if test="hsId!=null">AND t1.hsId=#{hsId}</if>
            <if test="huankuanDate!=null">AND t1.huankuanDate=#{huankuanDate}</if>
        </where>
    </select>

    <!-- 找出某笔借款所对应的所有还款记录 -->
    <select id="getListByJiekuanId" resultType="com.yimei.hs.same.entity.Huankuan">
        SELECT
            huankuan.id,
            huankuan.orderId,
            huankuan.hsId,
            huankuan.huankuankDate,
            huankuan.tsc,
            huankuan.tsu,
            huankuan.promise
        FROM hs_same_huankuan_map huankuanmap
            LEFT JOIN hs_same_huankuan huankuan ON huankuanmap.huankuanId = huankuan.id
        WHERE huankuanmap.jiekuanId = #{jiekuanId, jdbcType=BIGINT} AND huankuan.deleted = 0
    </select>
    <select id="selectByPrimaryKeyDeleted" resultType="com.yimei.hs.same.entity.Huankuan">
        SELECT
        <include refid="Base_Column_List"/>
        FROM hs_same_map
        WHERE  id=#{id,jdbcType=BIGINT} and deleted=1

    </select>

    <!-- -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM hs_same_huankuan
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <!-- 逻辑删除 -->
    <update id="delete" parameterType="java.lang.Long">
        UPDATE hs_same_huankuan
        SET deleted = 1, tsu = current_timestamp
        WHERE id = #{id} and deleted=0
    </update>

    <insert id="insert" parameterType="com.yimei.hs.same.entity.Huankuan" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO hs_same_huankuan (
            id,
            orderId,
            hsId,
            huankuankDate,
            promise,
            tsc
        )
        VALUES (
            #{id,jdbcType=BIGINT},
            #{orderId,jdbcType=BIGINT},
            #{hsId,jdbcType=BIGINT},
            #{huankuankDate,jdbcType=TIMESTAMP},
            #{promise,jdbcType=TINYINT},
            current_timestamp
        )
    </insert>

    <insert id="insertSelective" parameterType="com.yimei.hs.same.entity.Huankuan" keyProperty="id"
            useGeneratedKeys="true">
        insert into hs_same_huankuan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="orderId != null">orderId,</if>
            <if test="hsId != null">hsId,</if>
            <if test="huankuankDate != null">huankuankDate,</if>
            <if test="promise != null">promise</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=BIGINT},</if>
            <if test="orderId != null">#{orderId,jdbcType=BIGINT},</if>
            <if test="hsId != null">#{hsId,jdbcType=BIGINT},</if>
            <if test="huankuankDate != null">#{huankuankDate,jdbcType=TIMESTAMP},</if>
            <if test="promise != null">#{tsc,jdbcType=TINYINT}</if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yimei.hs.same.entity.Huankuan">
        update hs_same_huankuan
        <set>
            <if test="orderId != null">orderId = #{orderId,jdbcType=BIGINT},</if>
            <if test="hsId != null">hsId = #{hsId,jdbcType=BIGINT},</if>
            <if test="huankuankDate != null">huankuankDate = #{huankuankDate,jdbcType=TIMESTAMP},</if>
            <if test="tsc != null">tsc = #{tsc,jdbcType=TIMESTAMP},</if>
            <if test="promise != null">promise=#{promise,jdbcType=TINYINT},</if>
            <if test="true">tsu = current_timestamp</if>

        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yimei.hs.same.entity.Huankuan">
        UPDATE hs_same_huankuan
        SET orderId       = #{orderId,jdbcType=BIGINT},
            hsId          = #{hsId,jdbcType=BIGINT},
            huankuankDate = #{huankuankDate,jdbcType=TIMESTAMP},
            promise=#{tsc,jdbcType=TINYINT},
            tsu           = current_timestamp
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

</mapper>