<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimei.hs.same.mapper.JiekuanMapper">
    <resultMap id="BaseResultMap" type="com.yimei.hs.same.entity.Jiekuan">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="fukuanId" jdbcType="BIGINT" property="fukuanId"/>
        <result column="orderId" jdbcType="BIGINT" property="orderId"/>
        <result column="hsId" jdbcType="BIGINT" property="hsId"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="capitalId" jdbcType="BIGINT" property="capitalId"/>
        <result column="useInterest" jdbcType="DECIMAL" property="useInterest"/>
        <result column="useDays" jdbcType="INTEGER" property="useDays"/>
        <result column="jiekuanDate" jdbcType="TIMESTAMP" property="jiekuanDate"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <result column="tsc" jdbcType="TIMESTAMP" property="tsc"/>
        <result column="tsu" jdbcType="TIMESTAMP" property="tsu"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, fukuanId, orderId, hsId, amount, capitalId, useInterest, useDays, jiekuanDate,deleted, tsc,
        tsu
    </sql>

    <resultMap id="JiekuanResultMap" type="com.yimei.hs.same.entity.Jiekuan" autoMapping="true">
        <result property="id" column="jiekuanId"/>
        <result property="orderId" column="jiekuanOrderId"/>
        <result property="hsId" column="jiekuanHsId"/>
        <collection property="huankuanMapList" javaType="ArrayList" ofType="com.yimei.hs.same.entity.HuankuanMap"
                    autoMapping="true">
            <id property="id" column="huankuanmapId"/>
            <id property="jiekuanId" column="mapJiekuanId"/>
            <id property="huankuanId" column="mapHuankuanId"/>
        </collection>
        <collection property="huankuanList" autoMapping="true" javaType="ArrayList"
                    ofType="com.yimei.hs.same.entity.Huankuan">
            <id property="id" column="huankuanId"/>

        </collection>
    </resultMap>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="JiekuanResultMap">
        select
        jiekuan.id AS jiekuanId,
        jiekuan.fukuanId ,
        jiekuan.orderId AS jiekuanOrderId,
        jiekuan.hsId  AS jiekuanHsId,
        jiekuan.amount,
        jiekuan.jiekuanDate,
        jiekuan.capitalId ,
        jiekuan.useInterest,
        jiekuan.useDays ,


        huankuanmap.id AS mapId,
        huankuanmap.jiekuanId  AS mapJiekuanId,
        huankuanmap.huankuanId  AS mapHuankuanId,
        huankuanmap.principal ,
        huankuanmap.interest ,
        huankuanmap.fee,

        huankuan.id AS huankuanId,
        huankuan.huankuankDate,
        huankuan.tsc,
        huankuan.tsu

        from hs_same_jiekuan jiekuan
        LEFT JOIN hs_same_huankuan_map huankuanmap ON  jiekuan.id=huankuanmap.jiekuanId
        LEFT JOIN hs_same_huankuan  huankuan     ON  huankuanmap.huankuanId=huankuan.id
        where jiekuan.id = #{id,jdbcType=BIGINT} and jiekuan.deleted=0
    </select>

    <!-- 借款分页 -->
    <select id="getPage" resultType="com.yimei.hs.same.entity.Jiekuan">
        SELECT
        <include refid="Base_Column_List"/>
        FROM hs_same_jiekuan
        <where>
            <if test="true">AND deleted = 0</if>
            <if test="fukuanId!=null">AND fukuanId = #{fukuanId,jdbcType=BIGINT}</if>
            <if test="orderId!=null">AND orderId = #{orderId,jdbcType=BIGINT}</if>
            <if test="hsId!=null">AND hsId = #{hsId,jdbcType=BIGINT}</if>
            <if test="amount!=null">AND amount = #{amount,jdbcType=DECIMAL}</if>
            <if test="capitalId!=null">AND capitalId = #{capitalId,jdbcType=BIGINT}</if>
            <if test="useInterest!=null">AND useInterest = #{useInterest,jdbcType=DECIMAL}</if>
            <if test="useDays!=null">AND useDays = #{useDays,jdbcType=BIGINT}</if>
        </where>
    </select>

    <!-- 获取还款对应的借款 -->
    <select id="getJiekuanListByHuankuanId" resultType="com.yimei.hs.same.entity.Jiekuan">
        SELECT
             jiekuan.id,
             jiekuan.fukuanId,
             jiekuan.orderId,
             jiekuan.hsId,
             jiekuan.amount,
             jiekuan.capitalId,
             jiekuan.useInterest,
             jiekuan.useDays,
             jiekuan.deleted,
             jiekuan.tsc,
             jiekuan.tsu
        FROM hs_same_huankuan_map huankuannmap
             LEFT JOIN hs_same_jiekuan jiekuan ON  jiekuan.id=huankuannmap.jiekuanId
        where huankuannmap.huankuanId = #{huankuanId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM hs_same_jiekuan
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <!-- 逻辑删除 -->
    <delete id="delete">
        UPDATE hs_same_jiekuan
        SET deleted = 1,
            tsu     = current_timestamp
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.yimei.hs.same.entity.Jiekuan" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO hs_same_jiekuan (
        id,
        fukuanId,
        orderId,
        hsId ,
        amount,
        capitalId,
        useInterest,
        useDays,
        jiekuanDate,
        tsc,
        tsu
        )VALUES (
        #{id,jdbcType=BIGINT},
        #{fukuanId,jdbcType=BIGINT},
        #{orderId,jdbcType=BIGINT},
        #{hsId,jdbcType=BIGINT},
        #{amount,jdbcType=DECIMAL},
        #{capitalId,jdbcType=BIGINT},
        #{useInterest,jdbcType=DECIMAL},
        #{useDays,jdbcType=INTEGER},

        #{jiekuanDate,jdbcType=TIMESTAMP},
        #{tsc,jdbcType=TIMESTAMP},
        #{tsu,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.yimei.hs.same.entity.Jiekuan" useGeneratedKeys="true"
            keyProperty="id">
        insert into hs_same_jiekuan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="fukuanId != null">
                fukuanId,
            </if>
            <if test="orderId != null">
                orderId,
            </if>
            <if test="hsId != null">
                hsId,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="capitalId != null">
                capitalId,
            </if>
            <if test="useInterest != null">
                useInterest,
            </if>
            <if test="useDays != null">
                useDays,
            </if>

            <if test="jiekuanDate != null">
                jiekuanDate,
            </if>
            <if test="tsc != null">
            </if>
            <if test="tsu != null">
                tsu,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="fukuanId != null">
                #{fukuanId,jdbcType=BIGINT},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=BIGINT},
            </if>
            <if test="hsId != null">
                #{hsId,jdbcType=BIGINT},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=DECIMAL},
            </if>
            <if test="capitalId != null">
                #{capitalId,jdbcType=BIGINT},
            </if>
            <if test="useInterest != null">
                #{useInterest,jdbcType=DECIMAL},
            </if>
            <if test="useDays != null">
                #{useDays,jdbcType=INTEGER},
            </if>
            <if test="jiekuanDate != null">
                #{jiekuanDate,jdbcType=TIMESTAMP},
            </if>
            <if test="tsc != null">
                #{tsc,jdbcType=TIMESTAMP},
            </if>
            <if test="tsu != null">
                #{tsu,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yimei.hs.same.entity.Jiekuan">
        update hs_same_jiekuan
        <set>
            <if test="fukuanId != null">
                fukuanId = #{fukuanId,jdbcType=BIGINT},
            </if>
            <if test="orderId != null">
                orderId = #{orderId,jdbcType=BIGINT},
            </if>
            <if test="hsId != null">
                hsId = #{hsId,jdbcType=BIGINT},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=DECIMAL},
            </if>
            <if test="capitalId != null">
                capitalId = #{capitalId,jdbcType=BIGINT},
            </if>
            <if test="useInterest != null">
                useInterest = #{useInterest,jdbcType=DECIMAL},
            </if>
            <if test="useDays != null">
                useDays = #{useDays,jdbcType=INTEGER},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
            <if test="jiekuanDate != null">
                tsc = #{jiekuanDate,jdbcType=TIMESTAMP},
            </if>
            <if test="tsc != null">
                tsc = #{tsc,jdbcType=TIMESTAMP},
            </if>
            <if test="tsu != null">
                tsu = #{tsu,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yimei.hs.same.entity.Jiekuan">
        UPDATE hs_same_jiekuan
        SET fukuanId    = #{fukuanId,jdbcType=BIGINT},
            orderId     = #{orderId,jdbcType=BIGINT},
            hsId        = #{hsId,jdbcType=BIGINT},
            amount      = #{amount,jdbcType=DECIMAL},
            capitalId   = #{capitalId,jdbcType=BIGINT},
            useInterest = #{useInterest,jdbcType=DECIMAL},
            useDays     = #{useDays,jdbcType=INTEGER},
            jiekuanDate = #{jiekuanDate,jdbcType=TIMESTAMP},
            tsc         = #{tsc,jdbcType=TIMESTAMP},
            tsu         = #{tsu,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
</mapper>