<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimei.hs.same.mapper.OrderConfigMapper">
    <resultMap id="BaseResultMap" type="com.yimei.hs.same.entity.OrderConfig">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="orderId" jdbcType="BIGINT" property="orderId"/>
        <result column="hsMonth" jdbcType="CHAR" property="hsMonth"/>
        <result column="maxPrepayRate" jdbcType="DECIMAL" property="maxPrepayRate"/>
        <result column="unInvoicedRate" jdbcType="DECIMAL" property="unInvoicedRate"/>
        <result column="contractBaseInterest" jdbcType="DECIMAL" property="contractBaseInterest"/>
        <result column="expectHKDays" jdbcType="INTEGER" property="expectHKDays"/>
        <result column="tradeAddPrice" jdbcType="DECIMAL" property="tradeAddPrice"/>
        <result column="weightedPrice" jdbcType="DECIMAL" property="weightedPrice"/>
        <result column="tsc" jdbcType="TIMESTAMP" property="tsc"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, orderId, hsMonth, maxPrepayRate, unInvoicedRate, contractBaseInterest, expectHKDays,
        tradeAddPrice, weightedPrice, tsc
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from hs_same_order_config
        where id = #{id,jdbcType=BIGINT}  and deleted=0
    </select>

    <select id="getPage" resultType="com.yimei.hs.same.entity.OrderConfig">
        SELECT
        <include refid="Base_Column_List"/>
        from hs_same_order_config
        <where>
            <if test="true"> deleted=0</if>
            <if test="orderId!=null">AND orderId = #{orderId, jdbcType=BIGINT}</if>
        </where>
    </select>

    <select id="getList" resultType="com.yimei.hs.same.entity.OrderConfig">
        SELECT
        <include refid="Base_Column_List"/>
        from hs_same_order_config
        WHERE
        orderId = #{orderId, jdbcType=BIGINT}  and deleted=0
    </select>

    <select id="findOneByIdAndOrderId" resultType="java.lang.Boolean">
        SELECT
        count(id)
        from hs_same_order_config
        WHERE
        orderId = #{orderId, jdbcType=BIGINT} and hsMonth = #{hsMonth ,jdbcType=CHAR} and deleted=0
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM hs_same_order_config
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <!-- 逻辑删除 按业务线-->
    <update id="deleteByOrderId" parameterType="java.lang.Long">
        UPDATE hs_same_order_config
        SET deleted = 1, tsu = current_timestamp
        WHERE orderId = #{orderId,jdbcType=BIGINT}
    </update>

    <insert id="insert" parameterType="com.yimei.hs.same.entity.OrderConfig" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO hs_same_order_config (
            id,
            orderId,
            hsMonth,
            maxPrepayRate,
            unInvoicedRate,
            contractBaseInterest,
            expectHKDays,
            tradeAddPrice,
            weightedPrice
        )
        VALUES (
            #{id,jdbcType=BIGINT},
            #{orderId,jdbcType=BIGINT},
            #{hsMonth,jdbcType=CHAR},
            #{maxPrepayRate,jdbcType=DECIMAL},
            #{unInvoicedRate,jdbcType=DECIMAL},
            #{contractBaseInterest,jdbcType=DECIMAL},
            #{expectHKDays,jdbcType=INTEGER},
            #{tradeAddPrice,jdbcType=DECIMAL},
            #{weightedPrice,jdbcType=DECIMAL}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.yimei.hs.same.entity.OrderConfig" useGeneratedKeys="true"
            keyProperty="id">
        insert into hs_same_order_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="orderId != null">orderId,</if>
            <if test="hsMonth != null">hsMonth,</if>
            <if test="maxPrepayRate != null">maxPrepayRate,</if>
            <if test="unInvoicedRate != null">unInvoicedRate,</if>
            <if test="contractBaseInterest != null">contractBaseInterest,</if>
            <if test="expectHKDays != null">expectHKDays,</if>
            <if test="tradeAddPrice != null">tradeAddPrice,</if>
            <if test="weightedPrice != null">weightedPrice,</if>
            <if test="tsc != null">tsc,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=BIGINT},</if>
            <if test="orderId != null">#{orderId,jdbcType=BIGINT},</if>
            <if test="hsMonth != null">#{hsMonth,jdbcType=CHAR},</if>
            <if test="maxPrepayRate != null">#{maxPrepayRate,jdbcType=DECIMAL},</if>
            <if test="unInvoicedRate != null">#{unInvoicedRate,jdbcType=DECIMAL},</if>
            <if test="contractBaseInterest != null">#{contractBaseInterest,jdbcType=DECIMAL},</if>
            <if test="expectHKDays != null">#{expectHKDays,jdbcType=INTEGER},</if>
            <if test="tradeAddPrice != null">#{tradeAddPrice,jdbcType=DECIMAL},</if>
            <if test="weightedPrice != null">#{weightedPrice,jdbcType=DECIMAL},</if>
            <if test="tsc != null">#{tsc,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yimei.hs.same.entity.OrderConfig">
        update hs_same_order_config
        <set>
            <if test="orderId != null">orderId = #{orderId,jdbcType=BIGINT},</if>
            <if test="hsMonth != null">hsMonth = #{hsMonth,jdbcType=CHAR},</if>
            <if test="maxPrepayRate != null">maxPrepayRate = #{maxPrepayRate,jdbcType=DECIMAL},</if>
            <if test="unInvoicedRate != null">unInvoicedRate = #{unInvoicedRate,jdbcType=DECIMAL},</if>
            <if test="contractBaseInterest != null">contractBaseInterest = #{contractBaseInterest,jdbcType=DECIMAL},
            </if>
            <if test="expectHKDays != null">expectHKDays = #{expectHKDays,jdbcType=INTEGER},</if>
            <if test="tradeAddPrice != null">tradeAddPrice = #{tradeAddPrice,jdbcType=DECIMAL},</if>
            <if test="weightedPrice != null">weightedPrice = #{weightedPrice,jdbcType=DECIMAL},</if>
            <if test="tsc != null">tsc = #{tsc,jdbcType=TIMESTAMP},</if>
            <if test="true">tsu = current_timestamp,</if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yimei.hs.same.entity.OrderConfig">
        UPDATE hs_same_order_config
        SET
            hsMonth              = #{hsMonth,jdbcType=CHAR},
            maxPrepayRate        = #{maxPrepayRate,jdbcType=DECIMAL},
            unInvoicedRate       = #{unInvoicedRate,jdbcType=DECIMAL},
            contractBaseInterest = #{contractBaseInterest,jdbcType=DECIMAL},
            expectHKDays         = #{expectHKDays,jdbcType=INTEGER},
            tradeAddPrice        = #{tradeAddPrice,jdbcType=DECIMAL},
            weightedPrice        = #{weightedPrice,jdbcType=DECIMAL},
            tsc                  = #{tsc,jdbcType=TIMESTAMP},
            tsu                  = current_timestamp
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
</mapper>