<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimei.hs.same.mapper.SettleSellerMapper">

    <resultMap id="BaseResultMap" type="com.yimei.hs.same.entity.SettleSeller">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="orderId" jdbcType="BIGINT" property="orderId"/>
        <result column="hsId" jdbcType="BIGINT" property="hsId"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="money" jdbcType="DECIMAL" property="money"/>

        <!--<result column="settleGap" jdbcType="DECIMAL" property="settleGap"/>-->

        <result column="settleDate" jdbcType="DATE" property="settleDate"/>
        <result column="discountType" jdbcType="VARCHAR" property="discountType"/>
        <result column="discountInterest" jdbcType="DECIMAL" property="discountInterest"/>
        <result column="discountDays" jdbcType="INTEGER" property="discountDays"/>
        <result column="discountAmount" jdbcType="DECIMAL" property="discountAmount"/>
        <result column="tsc" jdbcType="TIMESTAMP" property="tsc"/>
        <result column="tsu" jdbcType="TIMESTAMP" property="tsu"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, orderId, hsId, settleDate, discountType, discountInterest, discountDays,
        discountAmount, tsc, tsu
    </sql>

    <!-- 查找seller记录 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
            seller.id,
            seller.orderId,
            seller.hsId,
            seller.settleDate,
            seller.discountType,
            seller.discountInterest,
            seller.discountDays,
            seller.discountAmount,
            seller.tsc,
            seller.tsu,
            sum(buyer.amount),
            sum(buyer.money)
        FROM hs_same_settle_seller seller
            LEFT JOIN hs_same_settle_buyer buyer ON seller.hsId = buyer.hsId AND seller.orderId = buyer.orderId
        WHERE seller.id = #{id,jdbcType=BIGINT} AND seller.deleted = 0
        GROUP BY seller.orderId
    </select>

    <!-- 找出订单的所有seller记录 -->
    <select id="selectByOrderId" resultType="com.yimei.hs.same.entity.SettleSeller">
        SELECT
            seller.id,
            seller.orderId,
            seller.hsId,
            seller.settleDate,
            seller.discountType,
            seller.discountInterest,
            seller.discountDays,
            seller.discountAmount,
            seller.tsc,
            seller.tsu,
            sum(buyer.amount),
            sum(buyer.money)
        FROM hs_same_settle_seller
             seller
            LEFT JOIN hs.same_settle_buyer buyer ON seller.hsId = buyer.hsId AND seller.orderId = buyer.orderId
        WHERE seller.orderId = #{orderId,jdbcType=BIGINT} AND seller.deleted = 0
        GROUP BY seller.orderId
    </select>

    <!-- 获取一页数据, 一笔订单只有一笔seller结算 -->
    <select id="getPage" resultType="com.yimei.hs.same.entity.SettleSeller">
        select
        seller.id,
        seller.orderId,
        seller.hsId,
        seller.settleDate,
        seller.discountType,
        seller.discountInterest,
        seller.discountDays,
        seller.discountAmount,
        seller.tsc,
        seller.tsu,
        sum(buyer.amount),
        sum(buyer.money)
        FROM hs_same_settle_seller seller
        LEFT JOIN hs_same_settle_buyer buyer ON seller.hsId = buyer.hsId AND seller.orderId = buyer.orderId
        <where>
            <if test="orderId != null">AND seller.orderId=#{orderId,jdbcType=BIGINT}</if>
            <if test="hsId != null">AND seller.hsId= #{hsId,jdbcType=BIGINT}</if>
            <if test="settleDate != null">AND seller.settleDate=#{settleDate,jdbcType=DATE}</if>
            <if test="true">AND seller.deleted = 0</if>
        </where>
        group by seller.orderId
    </select>

    <!-- 物理删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM hs_same_settle_seller
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <!-- 逻辑删除 -->
    <update id="delete" parameterType="java.lang.Long">
        UPDATE hs_same_settle_seller
        SET deleted = 1, tsu = current_timestamp
        WHERE id = #{id,jdbcType=BIGINT};
    </update>

    <insert id="insert" parameterType="com.yimei.hs.same.entity.SettleSeller" keyProperty="id"
            useGeneratedKeys="true">
        INSERT hs_same_settle_seller (
            id,
            orderId,
            hsId,
            settleDate,
            discountType,
            discountInterest,
            discountDays,
            discountAmount,
            tsc)
        VALUES (
            #{id,jdbcType=BIGINT},
            #{orderId,jdbcType=BIGINT},
            #{hsId,jdbcType=BIGINT},
            #{settleDate,jdbcType=DATE},
            #{discountType,jdbcType=VARCHAR},
            #{discountInterest,jdbcType=DECIMAL},
            #{discountDays,jdbcType=INTEGER},
            #{discountAmount,jdbcType=DECIMAL},
            #{tsc,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.yimei.hs.same.entity.SettleSeller" keyProperty="id"
            useGeneratedKeys="true">
        insert hs_same_settle_seller
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="orderId != null">orderId,</if>
            <if test="hsId != null">hsId,</if>
            <if test="settleDate != null">settleDate,</if>
            <if test="discountType != null">discountType,</if>
            <if test="discountInterest != null">discountInterest,</if>
            <if test="discountDays != null">discountDays,</if>
            <if test="discountAmount != null">discountAmount,</if>
            <if test="tsc != null">tsc,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=BIGINT},</if>
            <if test="orderId != null">#{orderId,jdbcType=BIGINT},</if>
            <if test="hsId != null">#{hsId,jdbcType=BIGINT},</if>
            <if test="settleDate != null">#{settleDate,jdbcType=DATE},</if>
            <if test="discountType != null">#{discountType,jdbcType=VARCHAR},</if>
            <if test="discountInterest != null">#{discountInterest,jdbcType=DECIMAL},</if>
            <if test="discountDays != null">#{discountDays,jdbcType=INTEGER},</if>
            <if test="discountAmount != null">#{discountAmount,jdbcType=DECIMAL},</if>
            <if test="tsc != null">#{tsc,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yimei.hs.same.entity.SettleSeller">
        update hs_same_settle_seller
        <set>
            <if test="orderId != null">orderId = #{orderId,jdbcType=BIGINT},</if>
            <if test="hsId != null">hsId = #{hsId,jdbcType=BIGINT},</if>
            <if test="settleDate != null">settleDate = #{settleDate,jdbcType=DATE},</if>
            <if test="discountType != null">discountType = #{discountType,jdbcType=VARCHAR},</if>
            <if test="discountInterest != null">discountInterest = #{discountInterest,jdbcType=DECIMAL},</if>
            <if test="discountDays != null">discountDays = #{discountDays,jdbcType=INTEGER},</if>
            <if test="discountAmount != null">discountAmount = #{discountAmount,jdbcType=DECIMAL},</if>
            <if test="tsc != null">tsc = #{tsc,jdbcType=TIMESTAMP},</if>
            <if test="true">tsu = current_timestamp,</if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yimei.hs.same.entity.SettleSeller">
        UPDATE hs_same_settle_seller
        SET orderId          = #{orderId,jdbcType=BIGINT},
            hsId             = #{hsId,jdbcType=BIGINT},
            settleDate       = #{settleDate,jdbcType=DATE},
            discountType     = #{discountType,jdbcType=VARCHAR},
            discountInterest = #{discountInterest,jdbcType=DECIMAL},
            discountDays     = #{discountDays,jdbcType=INTEGER},
            discountAmount   = #{discountAmount,jdbcType=DECIMAL},
            tsc              = #{tsc,jdbcType=TIMESTAMP},
            tsu              = current_timestamp
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
</mapper>