<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimei.hs.mapper.CangFeeMapper">
  <resultMap id="BaseResultMap" type="com.yimei.hs.entity.CangFee">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="orderId" jdbcType="BIGINT" property="orderId" />
    <result column="hsId" jdbcType="BIGINT" property="hsId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="tsc" jdbcType="TIMESTAMP" property="tsc" />
  </resultMap>
  <sql id="Base_Column_List">
    id, orderId, hsId, name, amount, tsc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hs_cang_fee
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from hs_cang_fee
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yimei.hs.entity.CangFee">
    insert into hs_cang_fee (id, orderId, hsId, 
      name, amount, tsc
      )
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{hsId,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{tsc,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yimei.hs.entity.CangFee">
    insert into hs_cang_fee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        orderId,
      </if>
      <if test="hsId != null">
        hsId,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="tsc != null">
        tsc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="hsId != null">
        #{hsId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="tsc != null">
        #{tsc,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yimei.hs.entity.CangFee">
    update hs_cang_fee
    <set>
      <if test="orderId != null">
        orderId = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="hsId != null">
        hsId = #{hsId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="tsc != null">
        tsc = #{tsc,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yimei.hs.entity.CangFee">
    update hs_cang_fee
    set orderId = #{orderId,jdbcType=BIGINT},
      hsId = #{hsId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      tsc = #{tsc,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>