<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimei.hs.mapper.CangOrderConfigMapper">
  <resultMap id="BaseResultMap" type="com.yimei.hs.entity.CangOrderConfig">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="orderId" jdbcType="BIGINT" property="orderId" />
    <result column="hsMonth" jdbcType="CHAR" property="hsMonth" />
    <result column="maxPrepayRate" jdbcType="DECIMAL" property="maxPrepayRate" />
    <result column="unInvoicedRate" jdbcType="DECIMAL" property="unInvoicedRate" />
    <result column="contractBaseInterest" jdbcType="DECIMAL" property="contractBaseInterest" />
    <result column="expectHKDays" jdbcType="INTEGER" property="expectHKDays" />
    <result column="tradeAddPrice" jdbcType="DECIMAL" property="tradeAddPrice" />
    <result column="tsc" jdbcType="TIMESTAMP" property="tsc" />
  </resultMap>
  <sql id="Base_Column_List">
    id, orderId, hsMonth, maxPrepayRate, unInvoicedRate, contractBaseInterest, expectHKDays, 
    tradeAddPrice, tsc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hs_cang_order_config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from hs_cang_order_config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yimei.hs.entity.CangOrderConfig">
    insert into hs_cang_order_config (id, orderId, hsMonth, 
      maxPrepayRate, unInvoicedRate, contractBaseInterest, 
      expectHKDays, tradeAddPrice, tsc
      )
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{hsMonth,jdbcType=CHAR}, 
      #{maxPrepayRate,jdbcType=DECIMAL}, #{unInvoicedRate,jdbcType=DECIMAL}, #{contractBaseInterest,jdbcType=DECIMAL}, 
      #{expectHKDays,jdbcType=INTEGER}, #{tradeAddPrice,jdbcType=DECIMAL}, #{tsc,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yimei.hs.entity.CangOrderConfig">
    insert into hs_cang_order_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        orderId,
      </if>
      <if test="hsMonth != null">
        hsMonth,
      </if>
      <if test="maxPrepayRate != null">
        maxPrepayRate,
      </if>
      <if test="unInvoicedRate != null">
        unInvoicedRate,
      </if>
      <if test="contractBaseInterest != null">
        contractBaseInterest,
      </if>
      <if test="expectHKDays != null">
        expectHKDays,
      </if>
      <if test="tradeAddPrice != null">
        tradeAddPrice,
      </if>
      <if test="tsc != null">
        tsc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="hsMonth != null">
        #{hsMonth,jdbcType=CHAR},
      </if>
      <if test="maxPrepayRate != null">
        #{maxPrepayRate,jdbcType=DECIMAL},
      </if>
      <if test="unInvoicedRate != null">
        #{unInvoicedRate,jdbcType=DECIMAL},
      </if>
      <if test="contractBaseInterest != null">
        #{contractBaseInterest,jdbcType=DECIMAL},
      </if>
      <if test="expectHKDays != null">
        #{expectHKDays,jdbcType=INTEGER},
      </if>
      <if test="tradeAddPrice != null">
        #{tradeAddPrice,jdbcType=DECIMAL},
      </if>
      <if test="tsc != null">
        #{tsc,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yimei.hs.entity.CangOrderConfig">
    update hs_cang_order_config
    <set>
      <if test="orderId != null">
        orderId = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="hsMonth != null">
        hsMonth = #{hsMonth,jdbcType=CHAR},
      </if>
      <if test="maxPrepayRate != null">
        maxPrepayRate = #{maxPrepayRate,jdbcType=DECIMAL},
      </if>
      <if test="unInvoicedRate != null">
        unInvoicedRate = #{unInvoicedRate,jdbcType=DECIMAL},
      </if>
      <if test="contractBaseInterest != null">
        contractBaseInterest = #{contractBaseInterest,jdbcType=DECIMAL},
      </if>
      <if test="expectHKDays != null">
        expectHKDays = #{expectHKDays,jdbcType=INTEGER},
      </if>
      <if test="tradeAddPrice != null">
        tradeAddPrice = #{tradeAddPrice,jdbcType=DECIMAL},
      </if>
      <if test="tsc != null">
        tsc = #{tsc,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yimei.hs.entity.CangOrderConfig">
    update hs_cang_order_config
    set orderId = #{orderId,jdbcType=BIGINT},
      hsMonth = #{hsMonth,jdbcType=CHAR},
      maxPrepayRate = #{maxPrepayRate,jdbcType=DECIMAL},
      unInvoicedRate = #{unInvoicedRate,jdbcType=DECIMAL},
      contractBaseInterest = #{contractBaseInterest,jdbcType=DECIMAL},
      expectHKDays = #{expectHKDays,jdbcType=INTEGER},
      tradeAddPrice = #{tradeAddPrice,jdbcType=DECIMAL},
      tsc = #{tsc,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>