<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimei.hs.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.yimei.hs.entity.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="personalName" jdbcType="VARCHAR" property="personalName"/>
        <result column="securePhone" jdbcType="VARCHAR" property="securePhone"/>
        <result column="isActive" jdbcType="BIT" property="isActive"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="passwordSalt" jdbcType="VARCHAR" property="passwordSalt"/>
        <result column="createDate" jdbcType="TIMESTAMP" property="createDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, personalName, securePhone, isActive, password, passwordSalt, createDate
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from hs_user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from hs_user
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.yimei.hs.entity.User">
        insert into hs_user (id, personalName, securePhone,
        isActive, password, passwordSalt,
        createDate)
        values (#{id,jdbcType=BIGINT}, #{personalName,jdbcType=VARCHAR}, #{securePhone,jdbcType=VARCHAR},
        #{isActive,jdbcType=BIT}, #{password,jdbcType=VARCHAR}, #{passwordSalt,jdbcType=VARCHAR},
        #{createDate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.yimei.hs.entity.User">
        insert into hs_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="personalName != null">
                personalName,
            </if>
            <if test="securePhone != null">
                securePhone,
            </if>
            <if test="isActive != null">
                isActive,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="passwordSalt != null">
                passwordSalt,
            </if>
            <if test="createDate != null">
                createDate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="personalName != null">
                #{personalName,jdbcType=VARCHAR},
            </if>
            <if test="securePhone != null">
                #{securePhone,jdbcType=VARCHAR},
            </if>
            <if test="isActive != null">
                #{isActive,jdbcType=BIT},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="passwordSalt != null">
                #{passwordSalt,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yimei.hs.entity.User">
        update hs_user
        <set>
            <if test="personalName != null">
                personalName = #{personalName,jdbcType=VARCHAR},
            </if>
            <if test="securePhone != null">
                securePhone = #{securePhone,jdbcType=VARCHAR},
            </if>
            <if test="isActive != null">
                isActive = #{isActive,jdbcType=BIT},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="passwordSalt != null">
                passwordSalt = #{passwordSalt,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                createDate = #{createDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yimei.hs.entity.User">
        update hs_user
        set personalName = #{personalName,jdbcType=VARCHAR},
        securePhone = #{securePhone,jdbcType=VARCHAR},
        isActive = #{isActive,jdbcType=BIT},
        password = #{password,jdbcType=VARCHAR},
        passwordSalt = #{passwordSalt,jdbcType=VARCHAR},
        createDate = #{createDate,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="loadBySecurePhone" resultType="com.yimei.hs.entity.User">
        select <include refid="Base_Column_List"/> from hs_user where securePhone = #{value,jdbcType=VARCHAR}
    </select>
</mapper>