<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimei.hs.mapper.YingOrderMapper">
    <resultMap id="BaseResultMap" type="com.yimei.hs.entity.YingOrder">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="deptId" jdbcType="BIGINT" property="deptId"/>
        <result column="teamId" jdbcType="BIGINT" property="teamId"/>
        <result column="creatorId" jdbcType="BIGINT" property="creatorId"/>
        <result column="ownerId" jdbcType="BIGINT" property="ownerId"/>
        <result column="mainAccounting" jdbcType="BIGINT" property="mainAccounting"/>
        <result column="line" jdbcType="VARCHAR" property="line"/>
        <result column="cargoType" jdbcType="VARCHAR" property="cargoType"/>
        <result column="upstreamId" jdbcType="BIGINT" property="upstreamId"/>
        <result column="upstreamSettleMode" jdbcType="VARCHAR" property="upstreamSettleMode"/>
        <result column="downstreamId" jdbcType="BIGINT" property="downstreamId"/>
        <result column="downstreamSettleMode" jdbcType="VARCHAR" property="downstreamSettleMode"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="tsc" jdbcType="TIMESTAMP" property="tsc"/>
    </resultMap>


    <!-- 一个订单记录: 包含的多个核算月配置， 以及多个参与方-->
    <resultMap id="YingOrderResultMap" type="com.yimei.hs.entity.YingOrder" autoMapping="true">
        <result property="id" column="t1Id"/>

        <collection property="orderConfigList" javaType="ArrayList" ofType="com.yimei.hs.entity.YingOrderConfig"
                    autoMapping="true">
            <id property="id" column="t2Id"/>
            <id property="tsc" column="t2tsc"/>
        </collection>

        <collection property="orderPartyList" javaType="ArrayList" ofType="com.yimei.hs.entity.YingOrderParty"
                    autoMapping="true">
            <id property="id" column="t3Id"/>
            <id property="tsc" column="t3tsc"/>
        </collection>

    </resultMap>


    <sql id="Base_Column_List">
        id, deptId, teamId, creatorId, ownerId, mainAccounting, line, cargoType, upstreamId,
        upstreamSettleMode, downstreamId, downstreamSettleMode, status, tsc
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from hs_ying_order
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="getPage" resultType="com.yimei.hs.entity.YingOrder">
        select
        <include refid="Base_Column_List"/>
        from hs_ying_order
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM hs_ying_order
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.yimei.hs.entity.YingOrder" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO hs_ying_order (id, deptId, teamId,
                                   creatorId, ownerId, mainAccounting,
                                   line, cargoType, upstreamId,
                                   upstreamSettleMode, downstreamId, downstreamSettleMode,
                                   status, tsc)
        VALUES (#{id,jdbcType=BIGINT},
            #{deptId,jdbcType=BIGINT},
            #{teamId,jdbcType=BIGINT},
            #{creatorId,jdbcType=BIGINT},
            #{ownerId,jdbcType=BIGINT},
            #{mainAccounting,jdbcType=BIGINT},
            #{line,jdbcType=VARCHAR},
            #{cargoType,jdbcType=VARCHAR},
            #{upstreamId,jdbcType=BIGINT},
            #{upstreamSettleMode,jdbcType=VARCHAR}, #{downstreamId,jdbcType=BIGINT},
            #{downstreamSettleMode,jdbcType=VARCHAR},
            #{status,jdbcType=VARCHAR},
            #{tsc,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.yimei.hs.entity.YingOrder" useGeneratedKeys="true" keyProperty="id">
        insert into hs_ying_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="deptId != null">
                deptId,
            </if>
            <if test="teamId != null">
                teamId,
            </if>
            <if test="creatorId != null">
                creatorId,
            </if>
            <if test="ownerId != null">
                ownerId,
            </if>
            <if test="mainAccounting != null">
                mainAccounting,
            </if>
            <if test="line != null">
                line,
            </if>
            <if test="cargoType != null">
                cargoType,
            </if>
            <if test="upstreamId != null">
                upstreamId,
            </if>
            <if test="upstreamSettleMode != null">
                upstreamSettleMode,
            </if>
            <if test="downstreamId != null">
                downstreamId,
            </if>
            <if test="downstreamSettleMode != null">
                downstreamSettleMode,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="tsc != null">
                tsc,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="deptId != null">
                #{deptId,jdbcType=BIGINT},
            </if>
            <if test="teamId != null">
                #{teamId,jdbcType=BIGINT},
            </if>
            <if test="creatorId != null">
                #{creatorId,jdbcType=BIGINT},
            </if>
            <if test="ownerId != null">
                #{ownerId,jdbcType=BIGINT},
            </if>
            <if test="mainAccounting != null">
                #{mainAccounting,jdbcType=BIGINT},
            </if>
            <if test="line != null">
                #{line,jdbcType=VARCHAR},
            </if>
            <if test="cargoType != null">
                #{cargoType,jdbcType=VARCHAR},
            </if>
            <if test="upstreamId != null">
                #{upstreamId,jdbcType=BIGINT},
            </if>
            <if test="upstreamSettleMode != null">
                #{upstreamSettleMode,jdbcType=VARCHAR},
            </if>
            <if test="downstreamId != null">
                #{downstreamId,jdbcType=BIGINT},
            </if>
            <if test="downstreamSettleMode != null">
                #{downstreamSettleMode,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="tsc != null">
                #{tsc,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yimei.hs.entity.YingOrder">
        update hs_ying_order
        <set>
            <if test="deptId != null">
                deptId = #{deptId,jdbcType=BIGINT},
            </if>
            <if test="teamId != null">
                teamId = #{teamId,jdbcType=BIGINT},
            </if>
            <if test="creatorId != null">
                creatorId = #{creatorId,jdbcType=BIGINT},
            </if>
            <if test="ownerId != null">
                ownerId = #{ownerId,jdbcType=BIGINT},
            </if>
            <if test="mainAccounting != null">
                mainAccounting = #{mainAccounting,jdbcType=BIGINT},
            </if>
            <if test="line != null">
                line = #{line,jdbcType=VARCHAR},
            </if>
            <if test="cargoType != null">
                cargoType = #{cargoType,jdbcType=VARCHAR},
            </if>
            <if test="upstreamId != null">
                upstreamId = #{upstreamId,jdbcType=BIGINT},
            </if>
            <if test="upstreamSettleMode != null">
                upstreamSettleMode = #{upstreamSettleMode,jdbcType=VARCHAR},
            </if>
            <if test="downstreamId != null">
                downstreamId = #{downstreamId,jdbcType=BIGINT},
            </if>
            <if test="downstreamSettleMode != null">
                downstreamSettleMode = #{downstreamSettleMode,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="tsc != null">
                tsc = #{tsc,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yimei.hs.entity.YingOrder">
        UPDATE hs_ying_order
        SET deptId               = #{deptId,jdbcType=BIGINT},
            teamId               = #{teamId,jdbcType=BIGINT},
            creatorId            = #{creatorId,jdbcType=BIGINT},
            ownerId              = #{ownerId,jdbcType=BIGINT},
            mainAccounting       = #{mainAccounting,jdbcType=BIGINT},
            line                 = #{line,jdbcType=VARCHAR},
            cargoType            = #{cargoType,jdbcType=VARCHAR},
            upstreamId           = #{upstreamId,jdbcType=BIGINT},
            upstreamSettleMode   = #{upstreamSettleMode,jdbcType=VARCHAR},
            downstreamId         = #{downstreamId,jdbcType=BIGINT},
            downstreamSettleMode = #{downstreamSettleMode,jdbcType=VARCHAR},
            status               = #{status,jdbcType=VARCHAR},
            tsc                  = #{tsc,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
</mapper>