<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimei.hs.mapper.YingHuankuanMapper">
    <resultMap id="BaseResultMap" type="com.yimei.hs.entity.YingHuankuan">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="orderId" jdbcType="BIGINT" property="orderId"/>
        <result column="hsId" jdbcType="BIGINT" property="hsId"/>
        <result column="skCompanyId" jdbcType="BIGINT" property="skCompanyId"/>
        <result column="huankuankDate" jdbcType="TIMESTAMP" property="huankuankDate"/>
        <result column="huankuanAmount" jdbcType="DECIMAL" property="huankuanAmount"/>
        <result column="huankuanInterest" jdbcType="DECIMAL" property="huankuanInterest"/>
        <result column="huankuanFee" jdbcType="DECIMAL" property="huankuanFee"/>
        <result column="tsc" jdbcType="TIMESTAMP" property="tsc"/>
    </resultMap>

    <!-- 还款， 以及其关联的付款 -->
    <resultMap id="YingHuankuanResultMap" type="com.yimei.hs.entity.YingHuankuan" autoMapping="true">
        <result property="id" column="t1Id"/>
        <collection property="fukuanList" javaType="ArrayList" ofType="com.yimei.hs.entity.YingFukuan"
                    autoMapping="true">
            <id property="id" column="t2Id"/>
            <id property="tsc" column="t2tsc"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id, orderId, hsId, skCompanyId, huankuankDate, huankuanAmount, huankuanInterest, huankuanFee, tsc
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from hs_ying_huankuan
        where id = #{id,jdbcType=BIGINT}
    </select>

    <!--获取一页数据-->
    <select id="getPage" resultType="com.yimei.hs.entity.YingHuankuan">
        select
            t1.id,
            t1.orderId,
            t1.hsId,
            t1.skCompanyId,
            t1.huankuankDate,
            t1.huankuanAmount,
            t1.huankuanInterest,
            t1.huankuanFee,
            t1.tsc
        from hs_ying_huankuan t1
        LEFT JOIN hs_ying_huankuan_map map on t1.id = map.huankuanId
        LEFT JOIN hs_ying_fukuan t2 on map.fukuanId = t2.id
        <where>
            <if test="orderId!=null">t1.orderId=#{orderId}</if>
            <if test="hsId!=null">t1.hsId=#{hsId}</if>
            <if test="skCompanyId!=null">t1.skCompanyId=#{skCompanyId}</if>
            <if test="huankuanDate!=null">t1.huankuanDate=#{huankuanDate}</if>
            <if test="huankuanAmount!=null">t1.huankuanAmount=#{huankuanAmount}</if>
        </where>
    </select>

    <!-- -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM hs_ying_huankuan
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.yimei.hs.entity.YingHuankuan">
        INSERT INTO hs_ying_huankuan (
            id,
            orderId,
            hsId,
            skCompanyId,
            huankuankDate,
            huankuanAmount,
            huankuanInterest,
            huankuanFee,
            tsc)
        VALUES (
            #{id,jdbcType=BIGINT},
            #{orderId,jdbcType=BIGINT},
            #{hsId,jdbcType=BIGINT},
            #{skCompanyId,jdbcType=BIGINT},
            #{huankuankDate,jdbcType=TIMESTAMP},
            #{huankuanAmount,jdbcType=DECIMAL},
            #{huankuanInterest,jdbcType=DECIMAL},
            #{huankuanFee,jdbcType=DECIMAL},
            #{tsc,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.yimei.hs.entity.YingHuankuan">
        insert into hs_ying_huankuan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="orderId != null">orderId,</if>
            <if test="hsId != null">hsId,</if>
            <if test="skCompanyId != null">skCompanyId,</if>
            <if test="huankuankDate != null">huankuankDate,</if>
            <if test="huankuanAmount != null">huankuanAmount,</if>
            <if test="huankuanInterest != null">huankuanInterest,</if>
            <if test="huankuanFee != null">huankuanFee,</if>
            <if test="tsc != null">tsc,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=BIGINT},</if>
            <if test="orderId != null">#{orderId,jdbcType=BIGINT},</if>
            <if test="hsId != null">#{hsId,jdbcType=BIGINT},</if>
            <if test="skCompanyId != null">#{skCompanyId,jdbcType=BIGINT},</if>
            <if test="huankuankDate != null">#{huankuankDate,jdbcType=TIMESTAMP},</if>
            <if test="huankuanAmount != null">#{huankuanAmount,jdbcType=DECIMAL},</if>
            <if test="huankuanInterest != null">#{huankuanInterest,jdbcType=DECIMAL},</if>
            <if test="huankuanFee != null">#{huankuanFee,jdbcType=DECIMAL},</if>
            <if test="tsc != null">#{tsc,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yimei.hs.entity.YingHuankuan">
        update hs_ying_huankuan
        <set>
            <if test="orderId != null">orderId = #{orderId,jdbcType=BIGINT},</if>
            <if test="hsId != null">hsId = #{hsId,jdbcType=BIGINT},</if>
            <if test="skCompanyId != null">skCompanyId = #{skCompanyId,jdbcType=BIGINT},</if>
            <if test="huankuankDate != null">huankuankDate = #{huankuankDate,jdbcType=TIMESTAMP},</if>
            <if test="huankuanAmount != null">huankuanAmount = #{huankuanAmount,jdbcType=DECIMAL},</if>
            <if test="huankuanInterest != null">huankuanInterest = #{huankuanInterest,jdbcType=DECIMAL},</if>
            <if test="huankuanFee != null">huankuanFee = #{huankuanFee,jdbcType=DECIMAL},</if>
            <if test="tsc != null">tsc = #{tsc,jdbcType=TIMESTAMP},</if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yimei.hs.entity.YingHuankuan">
        UPDATE hs_ying_huankuan
        SET orderId        = #{orderId,jdbcType=BIGINT},
            hsId           = #{hsId,jdbcType=BIGINT},
            skCompanyId    = #{skCompanyId,jdbcType=BIGINT},
            huankuankDate  = #{huankuankDate,jdbcType=TIMESTAMP},
            huankuanAmount = #{huankuanAmount,jdbcType=DECIMAL},
            tsc            = #{tsc,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

</mapper>