<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimei.hs.ying.mapper.YingHuikuanMapMapper">

    <resultMap id="BaseResultMap" type="com.yimei.hs.ying.entity.YingHuikuanMap">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="orderId" jdbcType="BIGINT" property="orderId"/>
        <result column="huikuanId" jdbcType="BIGINT" property="huikuanId"/>
        <result column="fukuanId" jdbcType="BIGINT" property="fukuanId"/>
        <result column="huikuanTotal" jdbcType="DECIMAL" property="amount"/>
        <result column="tsc" jdbcType="TIMESTAMP" property="tsc"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, orderId, huikuanId, fukuanId, huikuanTotal, tsc
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from hs_ying_huikuan_map
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="loadAll" resultType="com.yimei.hs.ying.entity.YingHuikuanMap">
        select
        <include refid="Base_Column_List"/>
        from hs_ying_huikuan_map
        where orderId = #{orderId,jdbcType=BIGINT} Group By tsc desc
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM hs_ying_huikuan_map
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <!-- 逻辑删除所有的map记录 -->
    <update id="deleteByOrderId" parameterType="java.lang.Long">
        UPDATE hs_ying_huikuan_map
        SET deleted = 1, tsu = current_timestamp
        WHERE orderId = #{orderId,jdbcType=BIGINT}
    </update>

    <insert id="insert" parameterType="com.yimei.hs.ying.entity.YingHuikuanMap" keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO hs_ying_huikuan_map (
            id,
            orderId,
            huikuanId,
            fukuanId,
            huikuanTotal,
            tsc)
        VALUES (
            #{id,jdbcType=BIGINT},
            #{orderId,jdbcType=BIGINT},
            #{huikuanId,jdbcType=BIGINT},
            #{fukuanId,jdbcType=BIGINT},
            #{amount,jdbcType=DECIMAL},
            #{tsc,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.yimei.hs.ying.entity.YingHuikuanMap" keyProperty="id"
            useGeneratedKeys="true">
        insert into hs_ying_huikuan_map
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="orderId != null">orderId,</if>
            <if test="huikuanId != null">huikuanId,</if>
            <if test="fukuanId != null">fukuanId,</if>
            <if test="huikuanTotal != null">huikuanTotal,</if>
            <if test="tsc != null">tsc,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=BIGINT},</if>
            <if test="orderId != null">#{orderId,jdbcType=BIGINT},</if>
            <if test="huikuanId != null">#{huikuanId,jdbcType=BIGINT},</if>
            <if test="fukuanId != null">#{fukuanId,jdbcType=BIGINT},</if>
            <if test="huikuanTotal != null">#{amount,jdbcType=DECIMAL},</if>
            <if test="tsc != null">#{tsc,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yimei.hs.ying.entity.YingHuikuanMap">
        update hs_ying_huikuan_map
        <set>
            <if test="orderId != null">orderId = #{orderId,jdbcType=BIGINT},</if>
            <if test="huikuanId != null">huikuanId = #{huikuanId,jdbcType=BIGINT},</if>
            <if test="fukuanId != null">fukuanId = #{fukuanId,jdbcType=BIGINT},</if>
            <if test="huikuanTotal != null">huikuanTotal = #{amount,jdbcType=DECIMAL},</if>
            <if test="tsc != null">tsc = #{tsc,jdbcType=TIMESTAMP},</if>
            <if test="true">tsu = current_timestamp,</if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yimei.hs.ying.entity.YingHuikuanMap">
        UPDATE hs_ying_huikuan_map
        SET huikuanId    = #{huikuanId,jdbcType=BIGINT},
            fukuanId     = #{fukuanId,jdbcType=BIGINT},
            huikuanTotal = #{amount,jdbcType=DECIMAL},
            tsc          = #{tsc,jdbcType=TIMESTAMP},
            tsu          = current_timestamp
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <resultMap id="YingHuikuanResultMap" type="com.yimei.hs.ying.entity.YingHuikuan" autoMapping="true">

        <result property="id" column="t1Id"/>
        <result property="orderId" column="t1orderId"/>
        <result property="tsc" column="t1tsc"/>

        <collection property="fukuanList" javaType="ArrayList" ofType="com.yimei.hs.ying.entity.YingFukuan"
                    autoMapping="true">
            <id property="id" column="t2Id"/>
            <id property="orderId" column="t2orderId"/>
            <id property="hsId" column="t2hsId"/>
            <id property="tsc" column="t2tsc"/>
        </collection>

    </resultMap>


    <select id="getList" resultMap="YingHuikuanResultMap">

        SELECT
        id AS t1id,
        orderId as t1orderId,
        huikuanId,
        fukuanId,
        amount,
        t1.tsc as t1tsc,


        t2.id as t2id,
        t2.orderId as t2orderId,
        t2.hsId as t2hsId,
        t2.payDate,
        t2.receiveCompanyId,
        t2.payUsage,
        t2.payAmount,
        t2.payMode,
        t2.capitalId,
        t2.useInterest,
        t2.useDays,
        t2.tsc as t2tsc,


        FROM hs_ying_huikuan_map t1
        LEFT JOIN hs_ying_fukuan t2 ON t1.fukuanId = t2.id
        <where>
            <if test="1==1">t1.deleted = 0</if>
            <if test="orderId!=null">AND t1.huikuanid=#{huikuanid}</if>
        </where>
    </select>

    <select id="getListByFukuanId" resultType="com.yimei.hs.ying.entity.YingHuikuanMap">
        SELECT
            huikuanId,
            amount
        FROM
            hs_ying_huikuan_map
        WHERE
            fukuanId = #{fukuanId, jdbcType=BIGINT}
    </select>

</mapper>