<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimei.hs.ying.mapper.YingSettleDownstreamMapMapper">

    <resultMap id="BaseResultMap" type="com.yimei.hs.ying.entity.YingSettleDownstreamMap">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="orderId" jdbcType="BIGINT" property="orderId"/>
        <result column="settleId" jdbcType="BIGINT" property="settleId"/>
        <result column="fyId" jdbcType="BIGINT" property="fyId"/>
        <result column="deduction" jdbcType="DECIMAL" property="deduction"/>
        <result column="tsc" jdbcType="TIMESTAMP" property="tsc"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, orderId, settleId, fyId, deduction, tsc
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from hs_ying_settle_downstream_map
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="loadAll" resultType="com.yimei.hs.ying.entity.YingSettleDownstreamMap">
        select
        <include refid="Base_Column_List"/>
        from hs_ying_settle_downstream_map
        where orderId = #{orderId,jdbcType=BIGINT} and deleted = 0
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM hs_ying_settle_downstream_map
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <!-- 逻辑删除map -->
    <update id="deleteByOrderId" parameterType="java.lang.Long">
        UPDATE hs_ying_settle_downstream_map
        SET deleted = 1
        WHERE orderId = #{orderId,jdbcType=BIGINT}
    </update>

    <insert id="insert" parameterType="com.yimei.hs.ying.entity.YingSettleDownstreamMap" keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO hs_ying_settle_downstream_map (
            id,
            orderId,
            settleId,
            fyId,
            deduction,
            tsc)
        VALUES (
            #{id,jdbcType=BIGINT},
            #{orderId,jdbcType=BIGINT},
            #{settleId,jdbcType=BIGINT},
            #{fyId,jdbcType=BIGINT},
            #{deduction,jdbcType=DECIMAL},
            #{tsc,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.yimei.hs.ying.entity.YingSettleDownstreamMap" keyProperty="id"
            useGeneratedKeys="true">
        insert into hs_ying_settle_downstream_map
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="orderId != null">orderId,</if>
            <if test="settleId != null">settleId,</if>
            <if test="fyId != null">fyId,</if>
            <if test="deduction != null">deduction,</if>
            <if test="tsc != null">tsc,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=BIGINT},</if>
            <if test="orderId != null">#{orderId,jdbcType=BIGINT},</if>
            <if test="settleId != null">#{settleId,jdbcType=BIGINT},</if>
            <if test="fyId != null">#{fyId,jdbcType=BIGINT},</if>
            <if test="deduction != null">#{deduction,jdbcType=DECIMAL},</if>
            <if test="tsc != null">#{tsc,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yimei.hs.ying.entity.YingSettleDownstreamMap">
        update hs_ying_settle_downstream_map
        <set>
            <if test="orderId != null">orderId = #{orderId,jdbcType=BIGINT},</if>
            <if test="settleId != null">settleId = #{settleId,jdbcType=BIGINT},</if>
            <if test="fyId != null">fyId = #{fyId,jdbcType=BIGINT},</if>
            <if test="deduction != null">deduction = #{deduction,jdbcType=DECIMAL},</if>
            <if test="tsc != null">tsc = #{tsc,jdbcType=TIMESTAMP},</if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yimei.hs.ying.entity.YingSettleDownstreamMap">
        UPDATE hs_ying_settle_downstream_map
        SET settleId  = #{settleId,jdbcType=BIGINT},
            orderId   = #{orderId,jdbcType=BIGINT},
            fyId      = #{fyId,jdbcType=BIGINT},
            deduction = #{deduction,jdbcType=DECIMAL},
            tsc       = #{tsc,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
</mapper>