<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimei.hs.ying.mapper.YingSettleDownstreamMapper">
    <resultMap id="BaseResultMap" type="com.yimei.hs.ying.entity.YingSettleDownstream">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="orderId" jdbcType="BIGINT" property="orderId"/>
        <result column="hsId" jdbcType="BIGINT" property="hsId"/>
        <result column="settleDate" jdbcType="TIMESTAMP" property="settleDate"/>
        <result column="huikuanTotal" jdbcType="DECIMAL" property="amount"/>
        <result column="money" jdbcType="DECIMAL" property="money"/>
        <result column="settleGap" jdbcType="DECIMAL" property="settleGap"/>
        <result column="tsc" jdbcType="TIMESTAMP" property="tsc"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, orderId, hsId, settleDate, huikuanTotal, money, settleGap, tsc
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from hs_ying_settle_downstream
        where id = #{id,jdbcType=BIGINT} and deleted = 0
    </select>

    <!-- 下游结算分页 -->
    <select id="getPage" resultType="com.yimei.hs.ying.entity.YingSettleDownstream">
        select
        <include refid="Base_Column_List"/>
        FROM hs_ying_settle_downstream
        <where>
            <if test="1==1">AND deleted = 0</if>
            <if test="orderId!=null">AND orderId = #{orderId, jdbcType=BIGINT}</if>
            <if test="hsId!=null">AND hsId = #{hsId, jdbcType=BIGINT}</if>
            <if test="settleDate!=null">AND settleDate = #{settleDate, jdcbType=TIMESTAMP}</if>
        </where>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM hs_ying_settle_downstream
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <!-- 逻辑删除 -->
    <update id="delete" parameterType="java.lang.Long">
        UPDATE hs_ying_settle_downstream
        SET deleted = 1, tsu = current_timestamp
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <insert id="insert" parameterType="com.yimei.hs.ying.entity.YingSettleDownstream" keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO hs_ying_settle_downstream (
            id,
            orderId,
            hsId,
            settleDate,
            huikuanTotal,
            money,
            settleGap,
            tsc
        )
        VALUES (
            #{id,jdbcType=BIGINT},
            #{orderId,jdbcType=BIGINT},
            #{hsId,jdbcType=BIGINT},
            #{settleDate,jdbcType=TIMESTAMP},
            #{amount,jdbcType=DECIMAL},
            #{money,jdbcType=DECIMAL},
            #{settleGap,jdbcType=DECIMAL},
            #{tsc,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.yimei.hs.ying.entity.YingSettleDownstream" keyProperty="id"
            useGeneratedKeys="true">
        insert into hs_ying_settle_downstream
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="orderId != null">orderId,</if>
            <if test="hsId != null">hsId,</if>
            <if test="settleDate != null">settleDate,</if>
            <if test="huikuanTotal != null">huikuanTotal,</if>
            <if test="money != null">money,</if>
            <if test="settleGap != null">settleGap,</if>
            <if test="tsc != null">tsc,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=BIGINT},</if>
            <if test="orderId != null">#{orderId,jdbcType=BIGINT},</if>
            <if test="hsId != null">#{hsId,jdbcType=BIGINT},</if>
            <if test="settleDate != null">#{settleDate,jdbcType=TIMESTAMP},</if>
            <if test="huikuanTotal != null">#{amount,jdbcType=DECIMAL},</if>
            <if test="money != null">#{money,jdbcType=DECIMAL},</if>
            <if test="settleGap != null">#{settleGap,jdbcType=DECIMAL},</if>
            <if test="tsc != null">#{tsc,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yimei.hs.ying.entity.YingSettleDownstream">
        update hs_ying_settle_downstream
        <set>
            <if test="orderId != null">orderId = #{orderId,jdbcType=BIGINT},</if>
            <if test="hsId != null">hsId = #{hsId,jdbcType=BIGINT},</if>
            <if test="settleDate != null">settleDate = #{settleDate,jdbcType=TIMESTAMP},</if>
            <if test="huikuanTotal != null">huikuanTotal = #{amount,jdbcType=DECIMAL},</if>
            <if test="money != null">money = #{money,jdbcType=DECIMAL},</if>
            <if test="settleGap != null">settleGap = #{settleGap,jdbcType=DECIMAL},</if>
            <if test="tsc != null">tsc = #{tsc,jdbcType=TIMESTAMP},</if>
            <if test="true">tsu = current_timestamp,</if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yimei.hs.ying.entity.YingSettleDownstream">
        UPDATE hs_ying_settle_downstream
        SET orderId    = #{orderId,jdbcType=BIGINT},
            hsId       = #{hsId,jdbcType=BIGINT},
            settleDate = #{settleDate,jdbcType=TIMESTAMP},
            huikuanTotal     = #{amount,jdbcType=DECIMAL},
            money      = #{money,jdbcType=DECIMAL},
            settleGap  = #{settleGap,jdbcType=DECIMAL},
            tsc        = #{tsc,jdbcType=TIMESTAMP},
            tsu        = current_timestamp
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
</mapper>