<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimei.hs.ying.mapper.YingFukuanMapper">

    <resultMap id="BaseResultMap" type="com.yimei.hs.ying.entity.YingFukuan">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="orderId" jdbcType="BIGINT" property="orderId"/>
        <result column="hsId" jdbcType="BIGINT" property="hsId"/>
        <result column="payDate" jdbcType="TIMESTAMP" property="payDate"/>
        <result column="receiveCompanyId" jdbcType="BIGINT" property="receiveCompanyId"/>
        <result column="payUsage" jdbcType="VARCHAR" property="payUsage"/>
        <result column="payAmount" jdbcType="DECIMAL" property="payAmount"/>
        <result column="payMode" jdbcType="VARCHAR" property="payMode"/>
        <result column="capitalId" jdbcType="BIGINT" property="capitalId"/>
        <result column="useInterest" jdbcType="DECIMAL" property="useInterest"/>
        <result column="useDays" jdbcType="INTEGER" property="useDays"/>
        <result column="tsc" jdbcType="TIMESTAMP" property="tsc"/>
        <result column="tsu" jdbcType="TIMESTAMP" property="tsu"/>
    </resultMap>


    <!-- todo -->
    <resultMap id="YingFukuanResultMap" type="com.yimei.hs.ying.entity.YingFukuan" autoMapping="true">
        <result column="orderId" jdbcType="BIGINT" property="orderId"/>
        <result column="hsId" jdbcType="BIGINT" property="hsId"/>
        <result column="payDate" jdbcType="TIMESTAMP" property="payDate"/>
        <result column="receiveCompanyId" jdbcType="BIGINT" property="receiveCompanyId"/>
        <result column="payUsage" jdbcType="VARCHAR" property="payUsage"/>
        <result column="payAmount" jdbcType="DECIMAL" property="payAmount"/>
        <result column="payMode" jdbcType="VARCHAR" property="payMode"/>
        <result column="capitalId" jdbcType="BIGINT" property="capitalId"/>
        <result column="useInterest" jdbcType="DECIMAL" property="useInterest"/>
        <result column="useDays" jdbcType="INTEGER" property="useDays"/>
        <result column="tsc" jdbcType="TIMESTAMP" property="tsc"/>
        <result column="tsu" jdbcType="TIMESTAMP" property="tsu"/>

        <!-- 关联的回款记录 -->
        <collection property="huikuanList" javaType="ArrayList" ofType="com.yimei.hs.ying.entity.YingHuikuan"
                    autoMapping="true">
            <id property="id" column="huikuan_Id"/>
            <id property="orderId" column="huikuan_orderId"/>
            <id property="hsId" column="huikuan_hsId"/>
            <id property="tsc" column="huikuan_tsc"/>
            <id property="tsu" column="huikuan_tsu"/>
        </collection>

        <!-- 关联记录-->
        <collection property="huikuanMap" javaType="ArrayList" ofType="com.yimei.hs.ying.entity.YingHuikuanMap"
                    autoMapping="true">
            <id property="huikuanId" column="huikuanId"/>
            <id property="amount" column="amount"/>
        </collection>

        <!-- 关联的还款记录-->
        <collection property="huankuanList" javaType="ArrayList" ofType="com.yimei.hs.ying.entity.YingHuankuan"
                    autoMapping="true">
            <id property="id" column="huankuan_id"/>
            <id property="orderId" column="huankuan_orderId"/>
            <id property="hsId" column="huankuan_hsId"/>
            <id property="tsc" column="huankuan_tsc"/>
            <id property="tsu" column="huankuan_tsu"/>
        </collection>

        <!-- 关联记录-->
        <collection property="huankuanMap" javaType="ArrayList" ofType="com.yimei.hs.ying.entity.YingHuankuanMap"
                    autoMapping="true">
            <id property="huankuanId" column="huankuanId"/>
            <id property="principal" column="principal"/>
            <id property="amount" column="huankuanmap_amount"/>      <!-- 本金+利息 -->
        </collection>

    </resultMap>

    <sql id="Base_Column_List">
        id, orderId, hsId, payDate, receiveCompanyId, payUsage, payAmount, payMode, capitalId,
        useInterest, useDays, tsc, tsu
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT

            fukuan.id,
            fukuan.orderId,
            fukuan.hsId,
            fukuan.payDate,
            fukuan.receiveCompanyId,
            fukuan.payUsage,
            fukuan.payAmount,
            fukuan.payMode,
            fukuan.capitalId,
            fukuan.useInterest,
            fukuan.useDays,
            fukuan.tsc,
            fukuan.tsu,


            huikuanmap.amount  AS huikuanmap_amount,

            huikuan.id         AS huikuan_id,
            huikuan.orderId    AS huikuan_orderId,
            huikuan.hsId       AS huikuan_hsId,
            huikuan.huikuanCompanyId,
            huikuan.huikuanDate,
            huikuan.huikuanAmount,
            huikuan.huikuanUsage,
            huikuan.huikuanMode,
            huikuan.huikuanBankPaper,
            huikuan.huikuanBankPaperDate,
            huikuan.huikuanBankDiscount,
            huikuan.huikuanBankDiscountRate,
            huikuan.huikuanBankPaperExpire,
            huikuan.huikuanBusinessPaper,
            huikuan.huikuanBusinessPaperDate,
            huikuan.huikuanBusinessDiscount,
            huikuan.huikuanBusinessDiscountRate,
            huikuan.huikuanBusinessPaperExpire,
            huikuan.tsc        AS huikuan_tsc,
            huikuan.tsu        AS huikuan_tsu,


            huankuanmap.principal,
            huankuanmap.amount AS huankuanmap_amount,

            huankuan.id        AS huankuan_id,
            huankuan.orderId   AS huankuan_orderId,
            huankuan.hsId      AS huankuan_hsId,
            huankuan.skCompanyId,
            huankuan.huankuankDate,
            huankuan.huankuanAmount,
            huankuan.huankuanInterest,
            huankuan.huankuanFee,
            huankuan.tsc       AS huankuan_tsc,
            huankuan.tsu       AS huankuan_tsu


        FROM hs_ying_fukuan fukuan
            LEFT JOIN hs_ying_huikuan_map huikuanmap ON fukuan.id = huikuanmap.fukuanId
            LEFT JOIN hs_ying_huikuan huikuan ON huikuanmap.huikuanId = huikuan.id

            LEFT JOIN hs_ying_huankuan_map huankuanmap ON fukuan.id = huankuanmap.fukuanId
            LEFT JOIN hs_ying_huankuan huankuan ON huankuanmap.huankuanId = huankuan.id

        WHERE fukuan.id = #{id,jdbcType=BIGINT} AND fukuan.deleted = 0
    </select>

    <!-- 获取付款分页 -->
    <select id="getPage" resultType="com.yimei.hs.ying.entity.YingFukuan">
        select
        t1.id,
        t1.orderId,
        t1.hsId,
        t1.payDate,
        t1.receiveCompanyId,
        t1.payUsage,
        t1.payAmount,
        t1.payMode,
        t1.capitalId,
        t1.useInterest,
        t1.useDays,
        t1.tsc,
        t1.tsu
        from hs_ying_fukuan t1 LEFT JOIN hs_ying_huankuan_map map on t1.id = map.fukuanId
        <where>
            <if test="true">t1.deleted = 0</if>
            <if test="orderId!=null">and t1.orderId = #{orderId, jdbcType=BIGINT}</if>
            <if test="hsId!=null">and t1.hsId = #{hsId, jdbcType=BIGINT}</if>
            <if test="payDate!=null">and t1.payDate = #{payDate, jdbcType=TIMESTAMP}</if>
            <if test="receiveCompanyId!=null">and t1.receiveCompanyId = #{receiveCompanyId, jdbcType=BIGINT}</if>
        </where>
        order by t1.payDate asc
    </select>

    <!-- 获取某个业务线的所有付款 -->
    <select id="getList" resultType="com.yimei.hs.ying.entity.YingFukuan">
        select
        <include refid="Base_Column_List"/>
        from hs_ying_fukuan
        where orderId = #{orderId,jdbcType=BIGINT} and deleted = 0
        order by payDate asc
    </select>

    <!-- 物理删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM hs_ying_fukuan
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <!-- 逻辑删除 -->
    <update id="delete" parameterType="java.lang.Long">
        UPDATE hs_ying_fukuan
        SET deleted = 1, tsu = current_timestamp
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <insert id="insert" parameterType="com.yimei.hs.ying.entity.YingFukuan" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO hs_ying_fukuan (
            id,
            orderId,
            hsId,
            payDate,
            receiveCompanyId,
            payUsage,
            payAmount,
            payMode, capitalId,
            useInterest,
            useDays,
            tsc,
            tsu
        )
        VALUES (
            #{id,jdbcType=BIGINT},
            #{orderId,jdbcType=BIGINT},
            #{hsId,jdbcType=BIGINT},
            #{payDate,jdbcType=TIMESTAMP},
            #{receiveCompanyId,jdbcType=BIGINT},
            #{payUsage,jdbcType=VARCHAR},
            #{payAmount,jdbcType=DECIMAL},
            #{payMode,jdbcType=VARCHAR},
            #{capitalId,jdbcType=BIGINT},
            #{useInterest,jdbcType=DECIMAL},
            #{useDays,jdbcType=INTEGER},
            #{tsc,jdbcType=TIMESTAMP},
            current_timestamp
        )
    </insert>
    <insert id="insertSelective" parameterType="com.yimei.hs.ying.entity.YingFukuan" keyProperty="id"
            useGeneratedKeys="true">
        insert into hs_ying_fukuan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="orderId != null">orderId,</if>
            <if test="hsId != null">hsId,</if>
            <if test="payDate != null">payDate,</if>
            <if test="receiveCompanyId != null">receiveCompanyId,</if>
            <if test="payUsage != null">payUsage,</if>
            <if test="payAmount != null">payAmount,</if>
            <if test="payMode != null">payMode,</if>
            <if test="capitalId != null">capitalId,</if>
            <if test="useInterest != null">useInterest,</if>
            <if test="useDays != null">useDays,</if>
            <if test="tsc != null">tsc,</if>
            <if test="tsu != null">tsu,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=BIGINT},</if>
            <if test="orderId != null">#{orderId,jdbcType=BIGINT},</if>
            <if test="hsId != null">#{hsId,jdbcType=BIGINT},</if>
            <if test="payDate != null">#{payDate,jdbcType=TIMESTAMP},</if>
            <if test="receiveCompanyId != null">#{receiveCompanyId,jdbcType=BIGINT},</if>
            <if test="payUsage != null">#{payUsage,jdbcType=VARCHAR},</if>
            <if test="payAmount != null">#{payAmount,jdbcType=DECIMAL},</if>
            <if test="payMode != null">#{payMode,jdbcType=VARCHAR},</if>
            <if test="capitalId != null">#{capitalId,jdbcType=BIGINT},</if>
            <if test="useInterest != null">#{useInterest,jdbcType=DECIMAL},</if>
            <if test="useDays != null">#{useDays,jdbcType=INTEGER},</if>
            <if test="tsc != null">#{tsc,jdbcType=TIMESTAMP},</if>
            current_timestamp
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yimei.hs.ying.entity.YingFukuan">
        update hs_ying_fukuan
        <set>
            <if test="orderId != null">orderId = #{orderId,jdbcType=BIGINT},</if>
            <if test="hsId != null">hsId = #{hsId,jdbcType=BIGINT},</if>
            <if test="payDate != null">payDate = #{payDate,jdbcType=TIMESTAMP},</if>
            <if test="receiveCompanyId != null">receiveCompanyId = #{receiveCompanyId,jdbcType=BIGINT},</if>
            <if test="payUsage != null">payUsage = #{payUsage,jdbcType=VARCHAR},</if>
            <if test="payAmount != null">payAmount = #{payAmount,jdbcType=DECIMAL},</if>
            <if test="payMode != null">payMode = #{payMode,jdbcType=VARCHAR},</if>
            <if test="capitalId != null">capitalId = #{capitalId,jdbcType=BIGINT},</if>
            <if test="useInterest != null">useInterest = #{useInterest,jdbcType=DECIMAL},</if>
            <if test="useDays != null">useDays = #{useDays,jdbcType=INTEGER},</if>
            <if test="tsc != null">tsc = #{tsc,jdbcType=TIMESTAMP},</if>
            <if test="true">tsu = current_timestamp,</if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yimei.hs.ying.entity.YingFukuan">
        UPDATE hs_ying_fukuan
        SET orderId          = #{orderId,jdbcType=BIGINT},
            hsId             = #{hsId,jdbcType=BIGINT},
            payDate          = #{payDate,jdbcType=TIMESTAMP},
            receiveCompanyId = #{receiveCompanyId,jdbcType=BIGINT},
            payUsage         = #{payUsage,jdbcType=VARCHAR},
            payAmount        = #{payAmount,jdbcType=DECIMAL},
            payMode          = #{payMode,jdbcType=VARCHAR},
            capitalId        = #{capitalId,jdbcType=BIGINT},
            useInterest      = #{useInterest,jdbcType=DECIMAL},
            useDays          = #{useDays,jdbcType=INTEGER},
            tsc              = #{tsc,jdbcType=TIMESTAMP},
            tsu              = current_timestamp
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
</mapper>