<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimei.hs.ying.mapper.YingTransferMapper">
    <resultMap id="BaseResultMap" type="com.yimei.hs.ying.entity.YingTransfer">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="orderId" jdbcType="BIGINT" property="orderId"/>
        <result column="fromUserId" jdbcType="BIGINT" property="fromUserId"/>
        <result column="toUserId" jdbcType="BIGINT" property="toUserId"/>
        <result column="tsc" jdbcType="TIMESTAMP" property="tsc"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, orderId, fromUserId, toUserId, tsc
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from hs_ying_transfer
        where id = #{id,jdbcType=BIGINT}
    </select>

    <!-- 转移记录分页 -->
    <select id="getPage" resultType="com.yimei.hs.ying.entity.YingTransfer">
        select
        <include refid="Base_Column_List"/>
        from hs_ying_transfer
        <where>
            <if test="orderId">AND orderId = #{orderId, jdcbType=BIGINT}</if>
            <if test="fromUserID">AND fromUserID = #{fromUserID, jdcbType=BIGINT}</if>
        </where>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM hs_ying_transfer
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.yimei.hs.ying.entity.YingTransfer" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO hs_ying_transfer (
            id,
            orderId,
            fromUserId,
            toUserId,
            tsc
        )
        VALUES (
            #{id,jdbcType=BIGINT},
            #{orderId,jdbcType=BIGINT},
            #{fromUserId,jdbcType=BIGINT},
            #{toUserId,jdbcType=BIGINT},
            #{tsc,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.yimei.hs.ying.entity.YingTransfer" keyProperty="id"
            useGeneratedKeys="true">
        insert into hs_ying_transfer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="orderId != null">orderId,</if>
            <if test="fromUserId != null">fromUserId,</if>
            <if test="toUserId != null">toUserId,</if>
            <if test="tsc != null">tsc,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=BIGINT},</if>
            <if test="orderId != null">#{orderId,jdbcType=BIGINT},</if>
            <if test="fromUserId != null">#{fromUserId,jdbcType=BIGINT},</if>
            <if test="toUserId != null">#{toUserId,jdbcType=BIGINT},</if>
            <if test="tsc != null">#{tsc,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yimei.hs.ying.entity.YingTransfer">
        update hs_ying_transfer
        <set>
            <if test="orderId != null">orderId = #{orderId,jdbcType=BIGINT},</if>
            <if test="fromUserId != null">fromUserId = #{fromUserId,jdbcType=BIGINT},</if>
            <if test="toUserId != null">toUserId = #{toUserId,jdbcType=BIGINT},</if>
            <if test="tsc != null">tsc = #{tsc,jdbcType=TIMESTAMP},</if>
            <if test="true">tsu = current_timestamp,</if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yimei.hs.ying.entity.YingTransfer">
        UPDATE hs_ying_transfer
        SET orderId    = #{orderId,jdbcType=BIGINT},
            fromUserId = #{fromUserId,jdbcType=BIGINT},
            toUserId   = #{toUserId,jdbcType=BIGINT},
            tsc        = #{tsc,jdbcType=TIMESTAMP},
            tsu        = current_timestamp
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
</mapper>