<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimei.hs.ying.mapper.YingAnalysisDataMapper">
    <resultMap id="BaseResultMap" type="com.yimei.hs.ying.entity.YingAnalysisData">
        <result column="hsId" jdbcType="BIGINT" property="hsId"/>
        <result column="orderId" jdbcType="BIGINT" property="orderId"/>
        <result column="totalPayTrafficFee" jdbcType="DECIMAL" property="totalPayTrafficFee"/>
        <result column="totalTradeGapFee" jdbcType="DECIMAL" property="totalTradeGapFee"/>
        <result column="totalPaymentAmount" jdbcType="DECIMAL" property="totalPaymentAmount"/>
        <result column="totalLoadMoney" jdbcType="DECIMAL" property="totalLoadMoney"/>
        <result column="loadEstimateCost" jdbcType="DECIMAL" property="loadEstimateCost"/>
        <result column="totalUnrepaymentEstimateCost" jdbcType="DECIMAL" property="totalUnrepaymentEstimateCost"/>
        <result column="totalRepaymentPrincipeAmount" jdbcType="DECIMAL" property="totalRepaymentPrincipeAmount"/>
        <result column="totalUnpayFee" jdbcType="DECIMAL" property="totalUnpayFee"/>
        <result column="totalUnpayInterest" jdbcType="DECIMAL" property="totalUnpayInterest"/>
        <result column="totalUnpayPrincipal" jdbcType="DECIMAL" property="totalUnpayPrincipal"/>
        <result column="outCapitalAmout" jdbcType="DECIMAL" property="outCapitalAmout"/>
        <result column="totalHuikuanPaymentMoney" jdbcType="DECIMAL" property="totalHuikuanPaymentMoney"/>
        <result column="payCargoAmount" jdbcType="DECIMAL" property="payCargoAmount"/>
        <result column="unpaymentMoney" jdbcType="DECIMAL" property="unpaymentMoney"/>
        <result column="unpaymentEstimateProfile" jdbcType="DECIMAL" property="unpaymentEstimateProfile"/>
        <result column="interestDays" jdbcType="DECIMAL" property="interestDays"/>
        <result column="actualUtilizationRate" jdbcType="DECIMAL" property="actualUtilizationRate"/>
        <result column="rate" jdbcType="DECIMAL" property="rate"/>
        <result column="totalPaymentedRateMoney" jdbcType="DECIMAL" property="totalPaymentedRateMoney"/>
        <result column="contractRateProfile" jdbcType="DECIMAL" property="contractRateProfile"/>
        <result column="tiexianRate" jdbcType="DECIMAL" property="tiexianRate"/>
        <result column="tiexianRateAmount" jdbcType="DECIMAL" property="tiexianRateAmount"/>
        <result column="totalBuyerMoney" jdbcType="DECIMAL" property="totalBuyerMoney"/>
        <result column="totalBuyerNums" jdbcType="DECIMAL" property="totalBuyerNums"/>
        <result column="totalBuyersettleGap" jdbcType="DECIMAL" property="totalBuyersettleGap"/>
        <result column="dsddFee" jdbcType="DECIMAL" property="dsddFee"/>
        <result column="hshyFee" jdbcType="DECIMAL" property="hshyFee"/>
        <result column="hssyFee" jdbcType="DECIMAL" property="hssyFee"/>
        <result column="hsqyFee" jdbcType="DECIMAL" property="hsqyFee"/>
        <result column="businessFee" jdbcType="DECIMAL" property="businessFee"/>
        <result column="superviseFee" jdbcType="DECIMAL" property="superviseFee"/>
        <result column="serviceFee" jdbcType="DECIMAL" property="serviceFee"/>
        <result column="salesFeeAmount" jdbcType="DECIMAL" property="salesFeeAmount"/>
        <result column="totalCCSInTypeMoney" jdbcType="DECIMAL" property="totalCCSInTypeMoney"/>
        <result column="totalCSSInTypeNumber" jdbcType="DECIMAL" property="totalCSSInTypeNumber"/>
        <result column="invoicedMoneyAmount" jdbcType="DECIMAL" property="invoicedMoneyAmount"/>
        <result column="finalSettleAmount" jdbcType="DECIMAL" property="finalSettleAmount"/>
        <result column="saleCargoAmountofMoney" jdbcType="DECIMAL" property="saleCargoAmountofMoney"/>
        <result column="tradingCompanyAddMoney" jdbcType="DECIMAL" property="tradingCompanyAddMoney"/>
        <result column="unsettlerBuyerMoneyAmount" jdbcType="DECIMAL" property="unsettlerBuyerMoneyAmount"/>
        <result column="unsettlerBuyerNumber" jdbcType="DECIMAL" property="unsettlerBuyerNumber"/>
        <result column="ccsProfile" jdbcType="DECIMAL" property="ccsProfile"/>
        <result column="purchaseCargoAmountofMoney" jdbcType="DECIMAL" property="purchaseCargoAmountofMoney"/>
        <result column="externalCapitalPaymentAmount" jdbcType="DECIMAL" property="externalCapitalPaymentAmount"/>
        <result column="ownerCapitalPaymentAmount" jdbcType="DECIMAL" property="ownerCapitalPaymentAmount"/>
        <result column="upstreamCapitalPressure" jdbcType="DECIMAL" property="upstreamCapitalPressure"/>
        <result column="downstreamCapitalPressure" jdbcType="DECIMAL" property="downstreamCapitalPressure"/>
        <result column="cssUninTypeNum" jdbcType="DECIMAL" property="cssUninTypeNum"/>
        <result column="cssUninTypeMoney" jdbcType="DECIMAL" property="cssUninTypeMoney"/>
        <result column="unInvoicedAmountofMoney" jdbcType="DECIMAL" property="unInvoicedAmountofMoney"/>
        <result column="yingPrePayment" jdbcType="DECIMAL" property="yingPrePayment"/>
        <result column="settleGrossProfileNum" jdbcType="DECIMAL" property="settleGrossProfileNum"/>
        <result column="purchaseIncludeTaxTotalAmount" jdbcType="DECIMAL" property="purchaseIncludeTaxTotalAmount"/>
        <result column="saleIncludeTaxTotalAmount" jdbcType="DECIMAL" property="saleIncludeTaxTotalAmount"/>
        <result column="tradeCompanyAddMoney" jdbcType="DECIMAL" property="tradeCompanyAddMoney"/>
        <result column="withoutTaxIncome" jdbcType="DECIMAL" property="withoutTaxIncome"/>
        <result column="withoutTaxCost" jdbcType="DECIMAL" property="withoutTaxCost"/>
        <result column="vat" jdbcType="DECIMAL" property="vat"/>
        <result column="additionalTax" jdbcType="DECIMAL" property="additionalTax"/>
        <result column="stampDuty" jdbcType="DECIMAL" property="stampDuty"/>
        <result column="opreationCrossProfile" jdbcType="DECIMAL" property="opreationCrossProfile"/>
        <result column="crossProfileATon" jdbcType="DECIMAL" property="crossProfileATon"/>
        <result column="totalFayunNum" jdbcType="DECIMAL" property="totalFayunNum"/>
        <result column="totalUnarriveNum" jdbcType="DECIMAL" property="totalUnarriveNum"/>
        <result column="totalArriveNum" jdbcType="DECIMAL" property="totalArriveNum"/>
        <result column="totalPayDownBail" jdbcType="DECIMAL" property="totalPayDownBail"/>
        <result column="totalRefundDownBail" jdbcType="DECIMAL" property="totalRefundDownBail"/>
        <result column="totalRefundUpBail" jdbcType="DECIMAL" property="totalRefundUpBail"/>
        <result column="totalUpstreamBail" jdbcType="DECIMAL" property="totalUpstreamBail"/>
        <result column="balanceUpstreamBail" jdbcType="DECIMAL" property="balanceUpstreamBail"/>
        <result column="balanceDownStreamBail" jdbcType="DECIMAL" property="balanceDownStreamBail"/>
        <result column="ownerCapitalPressure" jdbcType="DECIMAL" property="ownerCapitalPressure"/>
        <result column="settledDownstreamHuikuanMoneny" jdbcType="DECIMAL" property="settledDownstreamHuikuanMoneny"/>


    </resultMap>

    <select id="findOne" resultType="com.yimei.hs.ying.entity.YingAnalysisData">
    SELECT
      hsId,
      orderId,
      totalPayTrafficFee,
      totalTradeGapFee,
      totalpaymentAmount,
      totalLoadMoney,
      totalUnrepaymentEstimateCost,
      totalRepaymentPrincipeAmount,
      totalUnpayFee,
      totalUnpayInterest,
      totalUnpayPrincipal,
      outCapitalAmout,
      totalHuikuanPaymentMoney,
      payCargoAmount,
      unpaymentMoney,
      unpaymentEstimateProfile,
      interestDays,
      actualUtilizationRate,
      rate,
      totalPaymentedRateMoney,
      contractRateProfile,
      tiexianRate,
      tiexianRateAmount,
      totalBuyerMoney,
      totalBuyerNums,
      totalBuyersettleGap,
      dsddFee,
      hshyFee,
      hssyFee,
      hsqyFee,
      businessFee,
      superviseFee,
      serviceFee,
      salesFeeAmount,
      totalCCSInTypeMoney,
      totalCSSInTypeNumber,
      InvoicedMoneyNum,
      invoicedMoneyAmount,
      finalSettleAmount,
      saleCargoAmountofMoney,
      tradingCompanyAddMoney,
      unsettlerBuyerMoneyAmount,
      unsettlerBuyerNumber,
      ccsProfile,
      purchaseCargoAmountofMoney,
      externalCapitalPaymentAmount,
      ownerCapitalPaymentAmount,
      upstreamCapitalPressure,
      downstreamCapitalPressure,
      cssUninTypeNum,
      cssUninTypeMoney,
      unInvoicedAmountofMoney,
      totalRepaymentInterest,
      totalServiceCharge,
      yingPrePayment,
      settleGrossProfileNum,
      purchaseIncludeTaxTotalAmount,
      saleIncludeTaxTotalAmount,
      tradeCompanyAddMoney,
      withoutTaxIncome,
      withoutTaxCost,
      vat,
      additionalTax,
      stampDuty,
      opreationCrossProfile,
      crossProfileATon,
      totalFayunNum,
      totalUnarriveNum,
      totalArriveNum,
      totalPayDownBail,
      totalRefundDownBail,
      totalRefundUpBail,
      totalUpstreamBail,
      balanceUpstreamBail,
      balanceDownStreamBail,
      settledDownstreamHuikuanMoneny,
      ownerCapitalPressure
    FROM hs_yingDatabaseAnalysis

     WHERE hsId= #{hsId,jdbcType=BIGINT} and orderId=#{orderId,jdbcType=BIGINT }
  </select>

    <select id="findJiekuanByhsId" resultType="com.yimei.hs.same.entity.Jiekuan">
        SELECT
         id,
         fukuanId,
         orderId,
         hsId,
         amount,
         capitalId,
         useInterest,
         useDays,
         jiekuanDate,
         deleted,
         tsc,
         IFNULL (amount*useInterest*useDays/360,0) as loadEstimateCost,
         tsu
        FROM hs_same_jiekuan
        WHERE hsId= #{hsId,jdbcType=BIGINT} and orderId=#{orderId,jdbcType=BIGINT }
    </select>

    <select id="findJiekuanMathchedHuankuan" resultType="com.yimei.hs.same.entity.Jiekuan">
        SELECT
         jiekuan.id,
         jiekuan.fukuanId,
         jiekuan.orderId,
         jiekuan.hsId,
         jiekuan.amount,
         jiekuan.capitalId,
         jiekuan.useInterest,
         jiekuan.useDays,
         jiekuan.jiekuanDate,
         jiekuan.deleted
        FROM hs_same_jiekuan jiekuan
        LEFT join hs_same_huankuan_map map on jiekuan.id= map.jiekuanId
        WHERE jiekuan.hsId= #{hsId,jdbcType=BIGINT} and jiekuan.orderId=#{orderId,jdbcType=BIGINT }
    </select>

    <select id="findByOrderIdOpenCompanyId" resultType="com.yimei.hs.same.entity.InvoiceAnalysis">
        select
        hsId,
        orderId,
        aa.receiverId,
        aa.totalPriceTax,
        aa.totalAmount
        from v_1037_child2 as aa
        left JOIN hs_same_order orderSame on aa.orderId =orderSame.id
        where aa.openCompanyId  =  orderSame.upstreamId and orderId = #{orderId, jdbcType=BIGINT} and aa.deleted =0
    </select>

</mapper>